<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @question %>
<% title = "Dados da Pergunta" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Pergunta<span style="color:red">*</span></label>
              <%= f.text_field :title, :placeholder => "Digite a pergunta", :class => "form-control", :required => true %>
          </div>
          <div class="form-group">
            <label>Selecione o tipo da pergunta</label>
              <select class="form-control chosen-select" data-placeholder="Escolha o formulario" id="chosen_skill" name="question[type]">
                <% ar = [[0, "Texto"],[1, "Link"],[2, "Imagem"],[3, "Vídeo"],] %>
                <% ar.each do |(k,v)| %>
                  <% if iterator.type == k %>
                    <option value="<%="#{k}"%>" selected><%= "#{v}" %></option>
                  <% else %>
                    <option value="<%="#{k}"%>"><%= "#{v}" %></option>
                  <% end %>
                <% end %>
              </select>
          </div>
          <div class="form-group">
            <label>Selecione um Job</label>
              <select class="form-control chosen-select" data-placeholder="Escolha o formulario" id="chosen_skill" name="question[job]">
                <% Job.all.each do |u| %>
                  <option value="<%= u.id %>"><%= u.title %></option>
                <% end %>
              </select>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas perguntas", questions_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>