<% path = "/questions" %>
<% iterator = @question %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Pergunta</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Pergunta:</label>
                    <%= iterator.title %>
                </div>
                <div class="form-group">
                    <label for="">Tipo da Pergunta:</label>
                    <%= iterator.type.to_s.gsub("0", "Texto").gsub("1", "Link").gsub("2", "Imagem").gsub("3", "Vídeo") %>
                </div>
                <div class="form-group">
                    <label for="">Job:</label>
                    <%= iterator.job.title %>
                </div>
            </div>
            <div class="box-footer">
                <%= link_to 'Nova', new_question_path,:class => "btn btn-primary" %> |
                <%= link_to 'Editar', edit_question_path(iterator),:class => "btn btn-primary" %> |
                <%= link_to "Todas perguntas", path,:class => "btn btn-primary" %> 
            </div>
        </div>
    </div>
</div>
