<style type="text/css">
.input-error {
  color :red;
}
</style>

<% fields = ["name", "email", "birthday", "cellphone"] %> 
<% required_fields = ["name", "email"] %>
<% displayFields = ["Nome", "E-mail", "Data de nascimento", "Celular"] %>
<% iterator = @user_producer %>
<% title = "Dados do Produtor" %>

<div class="row">
  <%= form_for(iterator, :validate => true)  do |f| %>
    <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
              <h3 class="box-title"><%= title %></h3>
          </div>
          <div class="box-body">
            <% fields.each do |field| %>
              <% i = fields.index(field) %>
              <div class="form-group">
                  <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                  <%= f.text_field field, :placeholder => "#{displayFields[i]}", :class => "form-control" %>
              </div>
            <% end %>
            <!-- Gender -->
            <div class="form-group">
              <label>Sexo<span style="color:red">*</span></label>                    
              <select  class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="user_producer[gender]" >
                <% genders = [[1,'Masculino'], [2,'Feminino']] %>
                <% genders.each do |(k,s)| %>
                  <% if iterator.gender == k %>
                    <option value=<%= "#{k}" %> selected > <%= "#{s}" %></option>
                  <% else %>
                    <option value=<%= "#{k}" %>> <%= "#{s}" %></option>
                  <% end %>
                <% end %>
              </select>
            </div>

            <div class="form-group">
              <label for="">Imagem</label>
              <%= f.file_field :picture %>
              <br>
              <a href="<%= iterator.picture.to_s %>" target="blank"> 
                  <img src='<%= iterator.picture.to_s %>' width='100px' height='100px' alt='<%= iterator.picture.path %>'>
              </a>
            </div>
            <div class="form-group">
              <label for="">Senha<span style="color:red">*</span></label>
              <%= f.password_field :password, :autocomplete => "off",:placeholder => "Senha", :class => "form-control"%>
            </div>
            <div class="form-group">
              <label for="">Confirme a senha<span style="color:red">*</span></label>
              <%= f.password_field :password_confirmation, :autocomplete => "off",:placeholder => "Confirme a senha", :class => "form-control" %>
            </div>
          </div>
          <div class="box-footer">
             <%= f.submit "Salvar", :class => "btn btn-primary" %>
          </div>
        </div>
     </div>
  <% end %>
</div>  
<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#user_producer_birthday").inputmask({"mask": "99/99/9999"});
   $("#user_producer_cellphone").inputmask({"mask": "(99)99999-9999"});   
 });
</script>