<% path = "/user_producers" %>
<% iterator = @user_producer %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados do Usuário do App</h3>
            </div>
            <div class="box-body">
                <!-- <div class="form-group">
                    <label for="">Id</label>
                    <%#= iterator.id %>
                </div> -->
                <div class="form-group">
                  <a href="<%= iterator.picture.to_s %>" target="blank"> 
                      <img src='<%= iterator.picture.to_s %>' width='100px' height='100px' alt='<%= iterator.picture.path %>'>
                  </a>
                </div>

                <div class="form-group">
                    <label for="">Data de Criação</label>
                    <%= iterator.created_at.strftime("%d/%m/%Y %H:%M") %>
                </div>
                <div class="form-group">
                    <label for="">Nome</label>
                    <%= iterator.name %>
                </div>
                <div class="form-group">
                    <label for="">Data de nascimento</label>
                    <%= iterator.birthday %>
                </div>
                <div class="form-group">
                    <label for="">Sexo</label>
                    <% case iterator.gender
                        when "1" %>
                        Masculino
                      <% when "2" %>
                        Feminino
                    <% end %>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <%= iterator.email %>
                </div>
                <div class="form-group">
                    <label for="">Celular</label>
                    <%= iterator.cellphone %>
                </div>
                
              </div>
              <div class="box-footer">
                 <%= link_to 'Editar', edit_user_producer_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todos usuários", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
</div>