<% path = "/origin_countries" %>
<% iterator = @origin_country %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Ascendência/Origem</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">País</label>
                    <%= iterator.name %>
                </div>
            </div>
            <div class="box-footer">
                <%= link_to 'Nova', new_origin_country_path,:class => "btn btn-primary" %> |
                <%= link_to 'Editar', edit_origin_country_path(iterator),:class => "btn btn-primary" %> |
                <%= link_to "Todas Ascendências/Origens", path,:class => "btn btn-primary" %> 
            </div>
        </div>
    </div>
</div>
