<link rel="stylesheet" type="text/css" href="/css/public-perfil.css">
<main id="contentWrapper" style="padding-top: 30px;" class="graypage">
  <section id="managePage">
    <div class="container">
      <div style="text-align: center; margin-bottom: 60px;"><img src="img/logo_casting.png" style="width: 180px;" alt="Mondiale"/></div>
      <div class="grid-results">
        <div class="row">
          <% i = 0 %>
          <% d = @user.job %>
          <% u = @user %>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="job-item">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <h2><%= d.title %></h2>
                  <div class="job-item-desc">
                    <%= simple_format(d.desc) %>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="job-item-infos">
                    <div style="color: #00BD9C;">Cachê: <b><%= d.cache.blank? ? "n/d" : d.cacheTotal %></b></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- method="post" action="/web/jobs/editApplyOpenJob" -->
      <form id="SignUp" name="SignUp" enctype="multipart/form-data" >

        <input type="hidden" id="user_id" name="user_id" value="<%= u.id %>">
        <!--Primeiro Contato-->
        <section id="PrimeiroContato" class="form formWrapper active">

        <!-- SEUS DADOS -->
        <div class="row">
          <h2 class="title">Dados do Candidato</h2>
          <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="formWrapper-input">
              <label>Nome Completo <span>*</span></label>
              <input type="text" name="name" class="required" value="<%= u.name %>" required>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="formWrapper-input-radio">
              <label>Sexo <span>*</span></label>
              <div class="radiowrapper">
                <input type="radio" value="1" name="gender" id="gender1" class="required" <%= u.gender == "1" ? "checked" : "" %>>
                <label for="gender1">Masculino</label>
                <input type="radio" value="2" name="gender" id="gender2" class="required" <%= u.gender == "2" ? "checked" : "" %>>
                <label for="gender2">Feminino</label>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>Data de Nascimento <span>*</span></label>
              <input type="text" id="birthday" name="birthday" onfocusout="callAge()" class="form-control required" value="<%= u.birthday %>" required>
            </div>
          </div>
          <!-- if age < 18 -->
          <div id="parent_id">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>Nome do responsável <span>*</span></label>
                <input type="text" name="parent_name" id="parent_name" class="required" value="<%= u.parent_name %>">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>CPF do responsável <span>*</span></label>
                <input type="text" name="parent_cpf" id="parent_cpf" value="<%= u.parent_cpf %>" class="required">
              </div>
            </div>
          </div>
          <!-- end -->

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>Cidade <span>*</span></label>
              <input type="text" name="city" id="city" class="required" value="<%= u.city %>" required>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input formWrapper-input-select">
              <label>Estado <span>*</span></label>
              <select name="state" class="required" required>
                <option disabled selected>Selecione</option>
                <option value="AC" <%= u.state == "AC" ? "selected" : "" %>>Acre</option>
                <option value="AL" <%= u.state == "AL" ? "selected" : "" %>>Alagoas</option>
                <option value="AP" <%= u.state == "AP" ? "selected" : "" %>>Amapá</option>
                <option value="AM" <%= u.state == "AM" ? "selected" : "" %>>Amazonas</option>
                <option value="BA" <%= u.state == "BA" ? "selected" : "" %>>Bahia</option>
                <option value="CE" <%= u.state == "CE" ? "selected" : "" %>>Ceará</option>
                <option value="DF" <%= u.state == "DF" ? "selected" : "" %>>Distrito Federal</option>
                <option value="ES" <%= u.state == "ES" ? "selected" : "" %>>Espirito Santo</option>
                <option value="GO" <%= u.state == "GO" ? "selected" : "" %>>Goiás</option>
                <option value="MA" <%= u.state == "MA" ? "selected" : "" %>>Maranhão</option>
                <option value="MS" <%= u.state == "MS" ? "selected" : "" %>>Mato Grosso do Sul</option>
                <option value="MT" <%= u.state == "MT" ? "selected" : "" %>>Mato Grosso</option>
                <option value="MG" <%= u.state == "MG" ? "selected" : "" %>>Minas Gerais</option>
                <option value="PA" <%= u.state == "PA" ? "selected" : "" %>>Pará</option>
                <option value="PB" <%= u.state == "PB" ? "selected" : "" %>>Paraíba</option>
                <option value="PR" <%= u.state == "PR" ? "selected" : "" %>>Paraná</option>
                <option value="PE" <%= u.state == "PE" ? "selected" : "" %>>Pernambuco</option>
                <option value="PI" <%= u.state == "PI" ? "selected" : "" %>>Piauí</option>
                <option value="RJ" <%= u.state == "RJ" ? "selected" : "" %>>Rio de Janeiro</option>
                <option value="RN" <%= u.state == "RN" ? "selected" : "" %>>Rio Grande do Norte</option>
                <option value="RS" <%= u.state == "RS" ? "selected" : "" %>>Rio Grande do Sul</option>
                <option value="RO" <%= u.state == "RO" ? "selected" : "" %>>Rondônia</option>
                <option value="RR" <%= u.state == "RR" ? "selected" : "" %>>Roraima</option>
                <option value="SC" <%= u.state == "SC" ? "selected" : "" %>>Santa Catarina</option>
                <option value="SP" <%= u.state == "SP" ? "selected" : "" %>>São Paulo</option>
                <option value="SE" <%= u.state == "SE" ? "selected" : "" %>>Sergipe</option>
                <option value="TO" <%= u.state == "TO" ? "selected" : "" %>>Tocantins</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>País <span>*</span></label>
              <input type="text" name="country" class="required" value="<%= u.country %>" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>E-mail <span>*</span></label>
              <input type="email" name="email" class="email required" value="<%= u.email %>" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Telefone <span>*</span></label>
              <input type="text" id="phone" name="phone" class="tel required" value="<%= u.phone %>" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Facebook</label>
              <input type="text" name="facebook" id="facebook" class="" value="<%= u.facebook %>">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Instagram</label>
              <input type="text" name="instagram" id="instagram" class="" value="<%= u.instagram %>">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Cachê mínimo</label>
              <input type="text" name="cacheMin" id="cacheMin" class="" value="<%= u.cacheMin %>">
            </div>
          </div>
        </div>

      <!-- FOTO -->
        <% fotos = d.questions.where(:type => 2) %>
        <% if !fotos.blank? %>
          <% fotos.each do |foto| %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="formWrapper-input">
                    <label class="tabFoto">Fotos (<%= foto.title %>):</label>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <% i = 1 %>
                        <% if u.answers.where(:question_id => foto.id).count > 0 %>
                          <% foto.answers.where(:user_applicant_id => u.id).each do |f| %>
                            <div class="containerImg">
                              <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                              <br>
                              <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                              <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%#= i %><%= File.extname(f.file_file_name.to_s) %>"></a>
                            </div>
                            <% i += 1 %>
                          <% end %>
                          <% if u.pictures.count > 1 %>
                            <% i = 1 %>
                            <% u.pictures.each do |f| %>
                              <div class="containerImg">
                                  <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                                  <br>
                                  <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                                  <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(f.file_file_name.to_s) %>"></a>
                                </div>
                                <% i += 1 %>
                            <% end %> 
                          <% end %> 
                        <% else %>
                          <% u.pictures.each do |f| %>
                            <div class="containerImg">
                                <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                                <br>
                                <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                                <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(f.file_file_name.to_s) %>"></a>
                              </div>
                              <% i += 1 %>
                          <% end %> 
                        <% end %>
                        <div id="pictures_<%= foto.id %>" class="col-md-11 col-sm-11 col-xs-11">
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="image-upload">
                              <label for="imgInp_<%= foto.id %>" style="cursor: pointer;" >
                                <img src="img/icon_plus_orange.png" alt="Mondiale"/>
                                <br>
                                <br>
                                Adicionar<br>Fotos
                              </label>
                              <input type='file' id="imgInp_<%= foto.id %>" name="pictures[<%= foto.id %>][]" multiple="multiple" onchange="readURL(this, 'pictures_<%= foto.id %>');" accept="image/x-png,image/jpeg"/>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div> 
            </div>
          <% end %>
        <% end %>

        <!-- VIDEO -->
        <% video =  d.questions.where(:type => 3).first %>
        <% if !video.blank? %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="formWrapper-input">
                  <label class="tabVideo">Vídeo (<%= video.blank? ? "" : video.title %>): <span>*</span></label>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <% i = 1 %>
                      <% u.videos.each do |v| %>
                        <div class="containerImg">
                          <!-- Caso o video tenha um formato que nao é possivel mostra-lo como imagem na tela, será apresentado uma image default -->
                          <% ext = File.extname(v.file_file_name.to_s) %>
                          <% if ext != ".mp4" && ext != ".MP4" && ext != ".mov" && ext != ".MOV" %>
                            <img id="video_replace" src="/img/ico_video_download_replace.png" class="imgFoto" width="200">
                          <% else %>
                            <video src="<%= v.file.to_s %>" class="imgFoto" width="200"></video>
                          <% end %>
                          <br>
                          <% if ext == ".mp4" || ext == ".MP4" %>
                            <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= v.file.to_s %>"></a>
                          <% end %>
                          <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= v.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(v.file_file_name.to_s) %>"></a>
                          <% i += 1 %>
                        </div>
                      <% end %>
                    </div>
                    <div id="videoBox" class="col-md-11 col-sm-11 col-xs-11">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                      <div  class="image-upload">
                        <label for="videoInp" style="cursor: pointer;" >
                          <img src="img/icon_plus_orange.png" alt="Mondiale"/>
                          <br>
                          <br>
                          Adicionar<br>Vídeo
                        </label>
                        <input type='file' id="videoInp" name="videos[]" accept="video/mp4,video/x-m4v,video/*"/>
                      </div>
                    </div>
                    <label>*Somente 1 vídeo por candidatura</label>
                  </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="response"></div>
        <input type="submit" class="btn center" style="background-color: #F69321 !important;color: #FFF; width: 250px !important;" value="Aplicar">
      </section>
      </form>
    </div>
  </section>
  <div id="resultadoPesquisa" style="display: none;" class="text-center">
    <div class="modalWrapper">
      <h1 class="title" >Sucesso!</h1>
      <h3>Cadastro realizado com sucesso</h3>
      <p><a href="/user_applicants/<%= d.id %>">Gerencie a vaga <b>Mondiale</b></a></p>
    </div>
  </div>
  <div id="resultadoPesquisa2" style="display: none;" class="text-center">
    <div class="modalWrapper">
      <h1 class="title" >Algo aconteceu de errado!</h1>
      <h3>Tente novamente, em alguns minutos.</h3>
      <p><a href="/user_applicants/<%= d.id %>">Gerencie a vaga <b>Mondiale</b></a></p>
    </div>
  </div>
<%= render partial: "shared/footer2" %>
</main>
<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.mask-1.14.11.js"></script>
<script type="text/javascript" src="js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/selectize.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-maskmoney.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>
<script type="text/javascript">
  document.getElementById('parent_id').style.display = "none";
  $("#birthday").inputmask({"mask": "99/99/9999"});
  $("#parent_cpf").inputmask({"mask": "999.999.999-99"});
  $("#cacheMin").maskMoney({prefix: "R$ ", showSymbol:true, decimal:",", thousands:".", symbolStay: true, allowZero:true});

  $(document).ready(function() {
    $("a#single_image").fancybox();
  });
    
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("Preencha este campo");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
  });

  function callAge(){
    age = verifyAge();

    if (age < 18)
      document.getElementById('parent_id').style.display = "block";
    else
      document.getElementById('parent_id').style.display = "none";

  }

  function verifyAge(){
    var aniversario = document.getElementById("birthday").value;

    var nascimento = aniversario.split("/");
    var dataNascimento = new Date(parseInt(nascimento[2], 10),
    parseInt(nascimento[1], 10) - 1,
    parseInt(nascimento[0], 10));

    var diferenca = Date.now() -  dataNascimento.getTime();
    var idade = new Date(diferenca);

    return Math.abs(idade.getUTCFullYear() - 1970);
  }

  function checkAge(){
    if (verifyAge() < 18){
      if (document.getElementById("parent_name").value && document.getElementById("parent_cpf").value){
        return true;
      }else{
        return false;
      }
    }
    else{
      return true;
    }
  }
  
  $('#SignUp').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13 && !e.shiftKey) { 
      e.preventDefault();
      return false;
    }
  });

  $('#SignUp').submit(function(e){
    if (checkAge() == true){
      $('#waiting').fadeIn("slow",function() {
        document.getElementById('waiting').style.display = "block";
      });

      $.ajax({
        method: "POST",
        url: "/web/jobs/editApplyOpenJob/",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData: false,
        dataType: 'JSON'
      }).done(function(data){
        console.log('Done');
        console.log(data);

        $('#waiting').fadeOut("slow",function() {
          document.getElementById('waiting').style.display = "none";
        });

        $('#managePage').fadeOut("slow",function() {
          document.getElementById('managePage').style.display = "none";
        });

        $('#resultadoPesquisa').fadeIn("slow",function() {
          document.getElementById('resultadoPesquisa').style.display = "block";
        });
      }).fail(function(error){
        $('#waiting').fadeOut("slow",function() {
          document.getElementById('waiting').style.display = "none";
        });

        $('#managePage').fadeOut("slow",function() {
          document.getElementById('managePage').style.display = "none";
        });
        $('#resultadoPesquisa2').fadeIn("slow",function() {
          document.getElementById('resultadoPesquisa2').style.display = "block";
        });
        console.log(error);
      });

      e.preventDefault();
    }else{
      alert("Verifique todos os campos obrigatórios");
      e.preventDefault();
      return false;
    }
  });

  jQuery(function($){
    var maskBehavior = function (val) {
       return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    options = {onKeyPress: function(val, e, field, options) {
     field.mask(maskBehavior.apply({}, arguments), options);
     }
    };
     
    $('#phone').mask(maskBehavior, options);
  });

  function readURL(input, imgBox) {
    if (input.files && input.files[0]) {
      var imgBox = document.getElementById(imgBox);
      for (i = 0; i < input.files.length; i++) {
        var reader = new FileReader();
        while (imgBox.firstChild) {
          imgBox.removeChild(imgBox.firstChild);
        }
        y = i + 1
        reader.onload = function(e) {
          var x = document.createElement("IMG");
          x.setAttribute("class", "imgFoto");
          x.setAttribute("id", 'pic' + y);
          x.setAttribute("name", 'pic' + y);
          x.setAttribute("src", e.target.result);
          imgBox.appendChild(x);
        }

        reader.readAsDataURL(input.files[i]);
      }
    }
  }

  function readURLV(input) {
    if (input.files && input.files[0]) {

      var vdBox = document.getElementById("videoBox")
      for (i = 0; i < input.files.length; i++) {
        var reader = new FileReader();
        while (vdBox.firstChild) {
          vdBox.removeChild(vdBox.firstChild);
        }
          y = i + 1
        reader.onload = function(e) {
          // alert(e.target.result)
          var x = document.createElement("video");
          x.setAttribute("class", "imgFoto");
          x.setAttribute("id", 'pic' + y);
          x.setAttribute("name", 'pic' + y);
         var fileUrl = window.URL.createObjectURL(input.files[0]);
          x.setAttribute("src", fileUrl);
          // x.setAttribute("src", e.target.result);
          vdBox.appendChild(x);
        }

        // $ ("#video_p").change(function () {
         // var fileInput = document.getElementById('videoBox');
         // $(".video").attr("src", fileUrl);
      // });

        reader.readAsDataURL(input.files[i]);
      }
      
    }
  }

  $(".imgInp").change(function() {
    readURL(this);
  });

  $("#videoInp").change(function() {
    readURLV(this);
  });
</script>