<link rel="stylesheet" type="text/css" href="/css/open-job.css">

<main id="contentWrapper" style="padding-top: 30px;" class="graypage">
	<div id="managePage" class="container">
		<div style="text-align: center; margin-bottom: 60px;"><img src="/img/logo_casting.png" style="width: 300px;" alt="Mondiale"/></div>
		<h2 class="title">Editar Pesquisa</h2>
		<!--  method="post" action="/web/jobs/editOpenJob/" -->
		<form id="NewJob" class="form">
			<div class="row">
				<br />
				<input type="hidden" name="id" value="<%= @job.id %>">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Titulo do Job <span>*</span></label>
						<input type="text" name="title" class="required" value="<%= @job.title %>" required>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Perfil que procuramos <span>*</span></label>
						<textarea name="perfil" class="required" style="padding: 0;" required ><%= @job.perfil %></textarea>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 align-center">

				<!-- Inicio Solicitar -->

			        <% video =  @job.questions.where(:type => 3) %>
					<h3>Solicitar:</h3>
					<div class="formWrapper-input-radio">
						<div class="radiowrapper col-md-12">
							<div class=" col-md-2 col-xs-12 text-left" style="padding-right: 0">
							</div>
							<div class=" col-md-2 col-xs-12 text-left" style="padding-right: 0">
								<input type="checkbox" value="1" name="qType1" id="qType1" class="required" onclick="showPergunta();">
								<label for="qType1">Perguntas</label>
							</div>
							<div class=" col-md-2 col-xs-12 text-left">
								<input type="checkbox" value="2" name="qType2" id="qType2" class="required" disabled="<%= video.count > 0 ? "true" : "false" %>" onclick="showVideo();">
								<label for="qType2">Vídeo</label>
							</div>
							<div class=" col-md-2 col-xs-12 text-left">
								<input type="checkbox" value="3" name="qType3" id="qType3" class="required" onclick="showFoto();">
								<label for="qType3">Fotos</label>
							</div>
							<div class=" col-md-2 col-xs-12 text-left">
								<input type="checkbox" value="4" name="qType4" id="qType4" class="required" onclick="showLink();">
								<label for="qType4">Link</label>
							</div>
							<div class=" col-md-2 col-xs-12 text-left" style="padding-right: 0">
							</div>
						</div>
					</div>
				</div>

			<!-- Perguntas -->
				<div class="col-md-12 col-sm-12 col-xs-12">
			        <% perguntas =  @job.questions.where(:type => 0) %>
			        <% if perguntas.count > 0 %>
			            <div class="form-group">
			                <label for="">Perguntas<span style="color:red">*</span></label>
			                <br>
			                <% perguntas.each do |p| %>
			                  <input type="text" name="perguntaTypeS[<%= p.id %>]" id="perguntaType_<%= p.id %>" value="<%= p.title %>" class="form-control">
			                <% end %>
			            </div>
			        <% end %>
			    </div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="perguntaDiv" style="display: none;">
					<div id="perguntaSubDiv" class="formWrapper-input col-md-11 col-sm-11 perguntaSubDiv">
						<label class="tabPergunta">Perguntas</label>
						<input type="text" name="perguntaType[]" id="perguntaType1" value="">
					</div>
					<div class="col-md-1 col-sm-1" style="margin-top: 18px; cursor: pointer;" onclick="createPergunta();">
						<img src="/img/icon_plus_orange.png" alt="Mondiale"/>
					</div>
				</div>

			<!-- Video -->
				<div class="col-md-12 col-sm-12 col-xs-12">
			        <% if video.count > 0 %>
			            <div class="form-group">
			                <label for="">Vídeo<span style="color:red">*</span></label>
			                <br>
			                <% video.each do |p| %>
			                  <input type="text" name="perguntaTypeS[<%= p.id %>]" id="perguntaType_<%= p.id %>" value="<%= p.title %>" class="form-control">
			                <% end %>
			            </div>
			        <% end %>
			    </div>
				<div class="col-md-12 col-sm-12 col-xs-12" id="videoDiv" style="display: none;">
					<div class="formWrapper-input videoSubDiv">
						<label class="tabVideo">Vídeo</label>
						<input type="text" name="videoType[]" id="videoType" value="">
					</div>
				</div>

			<!-- Foto -->
				<div class="col-md-12 col-sm-12 col-xs-12">
			        <% fotos =  @job.questions.where(:type => 2) %>
			        <% if fotos.count > 0 %>
			            <div class="form-group">
			                <label for="">Fotos<span style="color:red">*</span></label>
			                <br>
			                <% fotos.each do |p| %>
			                  <input type="text" name="perguntaTypeS[<%= p.id %>]" id="perguntaType_<%= p.id %>" value="<%= p.title %>" class="form-control">
			                <% end %>
			            </div>
			        <% end %>
			    </div>
				<div id="fotoDiv" class="col-md-12 col-sm-12 col-xs-12" style="display: none;">
					<div id="fotoSubDiv" class="formWrapper-input col-md-11 col-sm-11 perguntaSubDiv">
						<label class="tabFoto">Fotos</label>
						<input type="text" name="fotoType[]" id="fotoType1" value="">
					</div>
					<div class="col-md-1 col-sm-1" style="margin-top: 18px; cursor: pointer;" onclick="createFoto();">
						<img src="/img/icon_plus_orange.png" alt="Mondiale"/>
					</div>
				</div>

			<!-- Link -->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<% links =  @job.questions.where(:type => 1) %>
			        <% if links.count > 0 %>
			            <div class="form-group">
			                <label for="">Link<span style="color:red">*</span></label>
			                <br>
			                <% links.each do |p| %>
			                  <input type="text" name="perguntaTypeS[<%= p.id %>]" id="perguntaType_<%= p.id %>" value="<%= p.title %>" class="form-control">
			                <% end %>
			            </div>
			        <% end %>
			    </div>
			    <div class="col-md-12 col-sm-12 col-xs-12" id="linkDiv" style="display: none;">
					<div id="linkSubDiv" class="formWrapper-input col-md-11 col-sm-11 perguntaSubDiv">
						<label class="tabLink">Link</label>
						<input type="text" name="linkType[]" id="linkType1" value="">
					</div>
					<div class="col-md-1 col-sm-1" style="margin-top: 18px; cursor: pointer;" onclick="createLink();">
						<img src="/img/icon_plus_orange.png" alt="Mondiale"/>
					</div>
				</div>
				<!-- Fim Solicitar -->

				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="formWrapper-input big">
						<label>Cachê</label>
						<input type="text" name="cacheTotal" class="currency" id="cacheTotal" required value="<%= @job.cacheTotal %>" >
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="rateMondiale">
						<b>Bruto</b>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Descrição do Job <span>*</span></label>
						<textarea name="desc" class="required" style="padding: 0;" required ><%= @job.desc %></textarea>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Localidade (separe com vírgula, em caso de múltiplas localidades) <span>*</span></label>
						<input type="text" name="local" class="required" value="<%= @job.local %>" required>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Regras/Dicas <span>*</span></label>
						<textarea name="rules" class="required" style="padding: 0;" required ><%= @job.rules %></textarea>
					</div>
				</div>

			</div>

			<div class="response"></div>
			
			<input type="submit" class="btn center" style="color: #FFF; width: 250px !important;" value="Pesquisar">

		</form>
	</div>
	<div id="resultadoPesquisa" style="display: none;" class="text-center">
	    <div class="modalWrapper">
	      <h1 class="title" >Sucesso!</h1>
	      <h3>Cadastro realizado com sucesso</h3>
	      <p><a href="/user_applicants/<%= @job.id %>">Gerencie esta vaga <b>Mondiale</b></a></p>
	      <p><a href="/openJob">Criar nova Pesquisa</a></p>
	    </div>
	  </div>
	  <div id="resultadoPesquisa2" style="display: none;" class="text-center">
	    <div class="modalWrapper">
	      <h1 class="title" >Algo aconteceu de errado!</h1>
	      <h3>Tente novamente, em alguns minutos.</h3>
	      <p><a href="/">Acesse nosso site <b>Mondiale</b></a></p>
	    </div>
	  </div>
	<%= render partial: "shared/footer2" %>
</main>
<%= render partial: "shared/modals" %>


<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-maskmoney.js"></script>

<script type="text/javascript">
	window.onload = verifyQuestions();

	function verifyQuestions(){
		// $('input[name=qType1]:checked');
		if ($('#qType1').is(':checked') == true ){
			showPergunta();
		}

		if ($('#qType2').is(':checked') == true ){
			showVideo();
		}

		if ($('#qType3').is(':checked') == true ){
			showFoto();
		}

		if ($('#qType4').is(':checked') == true ){
			showLink();
		}
	}


   $("#cacheTotal").maskMoney({prefix: "R$ ", showSymbol:true, decimal:",", thousands:".", symbolStay: true, allowZero:true});

	document.addEventListener("DOMContentLoaded", function() {
	    var elements = document.getElementsByTagName("INPUT");
	    for (var i = 0; i < elements.length; i++) {
	        elements[i].oninvalid = function(e) {
	            e.target.setCustomValidity("");
	            if (!e.target.validity.valid) {
	                e.target.setCustomValidity("Preencha este campo");
	            }
	        };
	        elements[i].oninput = function(e) {
	            e.target.setCustomValidity("");
	        };
	    }
	})


	$('#NewJob').on('keyup keypress', function(e) {
		var keyCode = e.keyCode || e.which;
		if (keyCode === 13 && !e.shiftKey) { 
		  e.preventDefault();
		  return false;
		}
	});

	$('#NewJob').submit(function(e){
		e.preventDefault();

		$.ajax({
		  method: "POST",
		  url: "/web/jobs/editOpenJob/",
		  data: new FormData(this),
		  contentType: false,
		  cache: false,
		  processData: false,
		  dataType: 'JSON'
		}).done(function(data){
		  console.log('Done');
		  console.log(data);
		  $('#managePage').fadeOut("slow",function() {
		    document.getElementById('managePage').style.display = "none";
		  });
		  $('#resultadoPesquisa').fadeIn("slow",function() {
		    document.getElementById('resultadoPesquisa').style.display = "block";
		  });
		}).fail(function(error){
		  $('#managePage').fadeOut("slow",function() {
		    document.getElementById('managePage').style.display = "none";
		  });
		  $('#resultadoPesquisa2').fadeIn("slow",function() {
		    document.getElementById('resultadoPesquisa2').style.display = "block";
		  });
		  console.log(error);
		});

		e.preventDefault();
	});


	function showPergunta(){
		var perguntaDiv = document.getElementById('perguntaDiv');
		var perguntaSubDiv = document.getElementById('perguntaSubDiv');
		if (perguntaDiv.style.display == "block"){
			perguntaDiv.style.display = "none";
			while (perguntaSubDiv.childElementCount != 2) {
			    perguntaSubDiv.removeChild(perguntaSubDiv.lastChild);
			}
			$('#perguntaType1').prop("value","");
		}else{
			perguntaDiv.style.display = "block";
		}
	}

	function showFoto(){
		var fotoDiv = document.getElementById('fotoDiv');
		var fotoSubDiv = document.getElementById('fotoSubDiv');
		if (fotoDiv.style.display == "block"){
			fotoDiv.style.display = "none";
			while (fotoSubDiv.childElementCount != 2) {
			    fotoSubDiv.removeChild(fotoSubDiv.lastChild);
			}
			$('#fotoType1').prop("value","");
		}else{
			fotoDiv.style.display = "block";
		}
	}

	function showLink(){
		// showHideDiv("linkDiv");
		var linkDiv = document.getElementById('linkDiv');
		var linkSubDiv = document.getElementById('linkSubDiv');
		if (linkDiv.style.display == "block"){
			linkDiv.style.display = "none";
			while (linkSubDiv.childElementCount != 2) {
			    linkSubDiv.removeChild(linkSubDiv.lastChild);
			}
			$('#linkType1').prop("value","");
		}else{
			linkDiv.style.display = "block";
		}
	}


	function showVideo(){
		showHideDiv("videoDiv");
	}

	function showHideDiv(divName){
		var div = document.getElementById(divName);
		if (div.style.display == "block"){
			div.style.display = "none";
		}else{
			div.style.display = "block";
		}
	}

	function createPergunta(){
		var perguntaSubDiv = document.getElementById('perguntaSubDiv');
		var div = $('#perguntaType1').clone();
		div.prop("id", "perguntaType" + perguntaSubDiv.childElementCount);
		div.prop("value","");
		div.appendTo('#perguntaSubDiv');
	}

	function createFoto(){
		var fotoSubDiv = document.getElementById('fotoSubDiv');
		var div = $('#fotoType1').clone();
		div.prop("id", "fotoType" + fotoSubDiv.childElementCount);
		div.prop("value","");
		div.appendTo('#fotoSubDiv');
	}

	function createLink(){
		var linkSubDiv = document.getElementById('linkSubDiv');
		var div = $('#linkType1').clone();
		div.prop("id", "linkType" + linkSubDiv.childElementCount);
		div.prop("value","");
		div.appendTo('#linkSubDiv');
	}

	$('.modal-select .no-selected input').change(function() {
		var modal = $(this).parents('.skillModal:first');
		var id = modal.attr('id');
		var target = modal.data('input');
		var input = $(this);
		skills(input,id,target,modal);
	});

	var a = [];
	function skills(input,id,target,modal){

		if (input.is(':checked')) {
			var v = input.val();
			a.push(v);
		} else {
			var x = a.indexOf(input.val());
			a.splice(x,1);
		}

		var ul = modal.find('.selected');
		a.forEach(function(value){
			$('<li>'+value+'</li>').appendTo(ul);
		});
		var target = $('input#'+target);
		target.val(a);
	}
</script>