<%= render partial: "shared/menu" %>

<main id="contentWrapper">
<section class="sliderhome" id="home">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" style="background-image: url('img/home-slide1.jpg');">
				<div class="centerall"><span class="openVideo"></span></div>
			</div>
		</div>
		<div class="swiper-navigation">
			<span class="swiper-left"><img src="img/ic_left.svg" alt="Ir para esquerda" /></span>
			<span class="swiper-right"><img src="img/ic_right.svg" alt="Ir para direita" /></span>
		</div>
	</div>
</section>

<div class="background-home">
	<section class="section-home-a">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="box-wrapper">
						<a href="#" class="btn" data-izimodal-open="#souelenco">Sou Elenco</a>
						<p>Ator / Atriz, Modelo, Figurante e Talentos em Geral</p>
						<a href="#" class="sign-face">Entrar com o Facebook</a>
					</div>
				</div>
				<div class="col-md-4 hidden-sm hidden-xs">
					<img src="img/home_woman.png">
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="box-wrapper">
						<a href="#" class="btn" data-izimodal-open="#souprodutor">Sou Produtor</a>
						<p>Agência Interveniente<br />Acesso Master e Booker</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-home-b" id="sobre">
		<div class="container">
			<h2 class="title">Sobre</h2>
			<p>Atuamos no mercado artístico com atores, artistas e modelos de todas as idades desde 1997.</p>
			<p>Nosso elenco está presente na maioria dos filmes publicitários (Comerciais de TV), Novelas, Catálogos, Cinema, Curtas, Desfiles, Fotos Publicitárias, Editoriais de Moda, Teatro (Musical), Séris em Canais de TV como: Globo, SBT, TV Cultura, Multishow, Disney Channel, Gloob, Discovery Kids, GNT, HBO, Bandeirantes e Record. </p>
			<p>Solicite um material para sua produção e confira nosso profissionalismo e seriedade.</p>
		</div>
	</section>
	<section class="section-home-c" id="trabalhos">
		<div class="container">
			<h2 class="title">Trabalhos</h2>
			<p>Nosso elenco já participou de mais de <span class="big">20.000</span> jobs!</p>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<% @portfolio.each do |p| %>
					<div class="swiper-slide"><a href="http://<%= p.link %>" target="_blank"><img src="<%= p.picture %>" alt="<%p.name %>" width="340" height="260"></a></div>
				<% end %>
				<div class="swiper-slide"><img src="img/cliente_skol.jpg" alt="Cliente Skol"></div>
				<div class="swiper-slide"><img src="img/cliente_nissin.jpg" alt="Cliente Nissin"></div>
				<div class="swiper-slide"><img src="img/cliente_natura.jpg" alt="Cliente Natura"></div>
				<div class="swiper-slide"><img src="img/cliente_bradesco.jpg" alt="Cliente Bradesco"></div>
			</div>
		</div>
	</section>
</div>

<section class="section-home-d" id="comentarios">
	<div class="container">
		<h2 class="title">Comentários</h2>
		<div class="quotes">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi diam, luctus eget tempor ac, laoreet euismod risus. Curabitur egestas gravida metus, at consectetur quam dignissim in. Proin ornare sollicitudin velit. Maecenas condimentum velit enim, et luctus elit pellentesque in. Duis id tincidunt velit, ut placerat libero.</p>
		</div>
	</div>
</section>

<footer class="section-home-e" id="contato">
	<div class="container">
		<h2 class="title">Contato</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="box-wrapper">
					<img src="img/logo.svg"><br /><br />
					<div class="row">
						<div class="col-xs-1"><img src="img/ic_local.svg"></div>
						<div class="col-xs-11">R. Taperoá, 206 - CEP: 04571-060 Brooklin Novo - São Paulo - SP</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-1"><br /><img src="img/ic_phone.svg"></div>
						<div class="col-xs-11">
							+55 11 5505.2889<br />
							+55 11 5505.3296<br />
							+55 11 5505.3667
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-1"><img src="img/ic_whatsapp.svg"></div>
						<div class="col-xs-11">+55 11 97698.7808</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<form name="contato" method="post" class="form contato">
					<input type="text" name="nome" placeholder="Nome">
					<input type="text" name="nome" placeholder="E-mail">
					<textarea name="mensagem" placeholder="Mensagem"></textarea>
					<button class="btn" type="submit">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</footer>
</main>

<%= render partial: "shared/modals" %>

<script type="text/javascript">

	window.sr = ScrollReveal();

	sr.reveal('.homePainel',{
		duration: 1000,
		distance: '10px',
		scale: 1,
		origin: 'bottom',
	});


	var mySwiper = new Swiper ('.sliderhome .swiper-container', {
		loop: true,
		speed: 700,
		simulateTouch: false,
		navigation: {
	        nextEl: '.swiper-right',
	        prevEl: '.swiper-left',
	      },
	})

	var mySwiper = new Swiper ('.section-home-c .swiper-container', {
		loop: true,
		speed: 700,
		simulateTouch: true,
		slidesPerView: 4,
		spaceBetween: 30,
		freeMode: true,
		autoplay: {
	    	delay: 2500,
	        disableOnInteraction: true,
	    },
	    breakpoints: {
		    // when window width is <= 320px
		    768: {
		      slidesPerView: 2,
		    },
		}
	})

</script>