<style type="text/css">
  /*#perfilShow{
    display: none;
  }*/

  .statusLine{
    width: 100%; 
    height: 35px;
    display: block;
  }

  .statusLine img{
    float: left; margin-left: 20px;
  }

  .status{
    width: 100%; height: 45px;
    display: block;
  }

  .status-text{
    margin: 0px 5px;
    float: left;
  }

  .float-left{
    float: left;
  }

  .status-perfil{
    float: right; 
    margin-right: 30px; 
    width: 350px; 
    height: 450px; 
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
  }

  .status-perfil img{
    height: 350px;
    width: 350px;
  }

  .status-perfil div{
    margin: 0px 10px;
  }

  .status-foto{
    width: 33.3%;
    float: left;
    padding: 10px;
  }

  .status-foto img{
    width: 100%;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
  }
  .status-video{
    width: 100%;
    float: left;
    padding: 20px;
  }
  .status-video video{
    width: 100%;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.15);
  }
</style>

<main id="contentWrapper" class="graypage">
  <section id="managePage">
    <div class="container">
      <h1 class="title">Gerenciar Jobs</h1>
      <div class="grid-results">
        <div class="row">
          <% i = 0 %>
          <% @jobs.each do |d| %>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-item">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-12">
                    <span class="job-item-type">Job • <%= i+=1 %></span>
                      <% if !d.jobType.nil? %>
                    <h3 class="job-item-title"><%= d.jobType.gsub("11", "Série").gsub("1", "Foto Publicitária").gsub("2", "Desfile").gsub("3", "Teatro").gsub("4", "Mídia").gsub("5", "Novela").gsub("6", "Programa").gsub("7", "Filme Publicitário").gsub("8", "Editorial").gsub("9", "Longa").gsub("10", "Curta").gsub("12", "Outros") %>
                    </h3>
                    <% end %>
                    <div><%= d.client %></div>
                    <div class="job-item-desc">
                      <%= d.desc %>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="job-item-infos">
                      18 anos > 30 anos * São Paulo<br/>
                      Budget: <b><%= d.cache %></b>
                    </div>
                    <div class="job-item-count">
                      <b><%= d.usersSubscribed.count %> <%= d.usersSubscribed.count > 1 ? "pessoas" : "pessoa" %></b> <%= d.usersSubscribed.count > 1 ? "aceitaram" : "aceitou" %> esse Job
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="job-subscribers">
                <p class="job-subscribers-title">Inscritos</p>
                <% d.usersSubscribed.each do |u| %>
                  <% if !u.status_user_jobs.where(:job => d, :status_id => Status.all.where(:position => 2).first.id).first.blank? %>
                    <% if u.status_user_jobs.where(:job => d, :status_id => Status.all.where(:position => 2).first.id).first.complete %>
                      <div onclick="showPerfil('<%= d.id.to_s %>', '<%= u.id.to_s %>');" class="job-subscriber ok">
                    <% else %>
                    <div onclick="showPerfil('<%= d.id.to_s %>', '<%= u.id.to_s %>');" class="job-subscriber">
                    <% end %>
                  <% else %>
                    <div onclick="showPerfil('<%= d.id.to_s %>', '<%= u.id.to_s %>');" class="job-subscriber">
                  <% end %>
                    <img src="<%= u.picture %>" width="100" height="100" title="<%= u.name %>">
                  </div>

                <% end %>
              </div>
              <div id="perfilShow_<%= d.id.to_s %>" style="display: none; margin-bottom: 50px;" class="col-md-12 col-sm-12 col-xs-12 perfilShow">
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="status-perfil">
                    <img src="http://placehold.it/100x100">
                    <div>
                      <h2>Paula</h2>
                      <p>19 anos • São Paulo</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h4>Status:</h4>
                  <div class="status">
                    <img class="float-left" src="/img/status/status_1.png">
                    <div class="status-text">
                      <b>Novo JOB!</b>
                      <br>
                      <span>Você foi convidado a participar de um JOB X!</span>
                    </div>
                  </div>
                  <div class="statusLine">
                    <img src="/img/status/status_line.png">
                  </div>
                  <div class="status">
                    <img class="float-left" src="/img/status/status_2.png">
                    <div class="status-text">
                      <b>EM ANALISE</b>
                      <br>
                      <span>Respondemos em até 5 dias úteis</span>
                    </div>
                  </div>
                  <div class="statusLine">
                    <img src="/img/status/status_line.png">
                  </div>
                  <div class="status">
                    <img class="float-left" src="/img/status/status_3.png">
                    <div class="status-text">
                      <b>CHAMADO PARA TESTE</b>
                      <br>
                      <span>Você foi convidado (a)  para o Teste X</span>
                    </div>
                  </div>
                  <div class="statusLine">
                    <img src="/img/status/status_line.png">
                  </div>
                  <div class="status">
                    <img class="float-left" src="/img/status/status_4.png">
                    <div class="status-text">
                      <b>TESTE APROVADO</b>
                      <br>
                      <span>Fique atento a data da gravação</span>
                    </div>
                  </div>
                  <div class="statusLine">
                    <img src="/img/status/status_line.png">
                  </div>
                  <div class="status" style="height: 75px !important;">
                    <img class="float-left" src="/img/status/status_5.png">
                    <div class="status-text">
                      <b>GRAVAÇÃO</b>
                      <br>
                      <span>Data: 14/05</span><br>
                      <span>Horário: 16:00</span><br>
                      <span>Local: Av. Pedoroso de Morais, 677 - 16º Andar</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 form" style="margin-top: 20px;">
                  <h1 class="title">Perguntas</h1>
                  <%# perguntas =  d.questions.where(:type => 0) %>
                  <%# perguntas.each do |p| %>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="pergunta-div" class="formWrapper-input">
                          <label class="tabPergunta">Pergunta 1:<%#= p.title %></label>
                          <input type="text" name="perguntaResposta[<%#= p.id %>]" id="perguntaResposta_<%= d.id %>" class="required" value="">
                        </div>
                      </div>
                    </div>
                  <%# end %>
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                  <h1 class="title">Fotos e Vídeo</h1>
                  <div class="col-md-12">
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                    <div class="status-foto">
                      <img src="http://placehold.it/100x100">
                    </div>
                  </div>
                  <div class="col-md-12 status-video">
                    <video>
                    </video>
                  </div>
                </div> -->
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<%= render partial: "shared/footer" %>
</main>
<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
  function showPerfil(jId, uId){
    // perfilHide = $(".perfilShow")           
    $(".perfilShow").fadeOut("slow",function() {
      $(".perfilShow").css("display", "none");
    });

        document.getElementById('blankpage').style.display = "block";
    $('#waiting').fadeIn("slow",function() {
      document.getElementById('waiting').style.display = "block";
    });
    

    perfilShow = $("#perfilShow_" + jId);

    $.ajax({
      method: "GET",
      url: "/get_user_perfil",
      data: {user: uId, job: jId},
      dataType: 'JSON'
    }).done(function(data){
      console.log('Done');
      console.log(data);

      perfilShow.fadeIn("slow",function() {
        perfilShow.css("display", "block");
      });

      $('#waiting').fadeOut("slow",function() {
        document.getElementById('blankpage').style.display = "none";
        document.getElementById('waiting').style.display = "none";
      });
      statusPerfil = perfilShow.parent(".status-perfil");
      var html = '';
      html += '<div class="col-md-6 col-sm-6 col-xs-12">'+
              '<div class="status-perfil">'+
              ' <img src='+ data.picture +'>'+
              '<div>'+
                '<h2>' + data.user.name +'</h2>'+
                '<p>20 anos • São Paulo</p>'+
              '</div></div></div></div>'+
                '<div class="col-md-6 col-sm-6 col-xs-12">'+
                  '<h4>Status:</h4>'+
                  '<div class="status">'
                  if (data.status[0].complete == true)
                    html += '<img class="float-left" src="/img/status/status_1.png">'
                  else
                    html += '<img class="float-left" src="/img/status/status_1_gray.png">'

                    html += '<div class="status-text">'+
                      '<b>' + data.status[0].title +'</b>'+
                      '<br>'+
                      '<span>' + data.status[0].description +'</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="statusLine">'+
                    '<img src="/img/status/status_line.png">'+
                  '</div>'+
                  '<div class="status">'
                  if (data.status[1].complete == true)
                    html += '<img class="float-left" src="/img/status/status_2.png">'
                  else
                    html += '<img class="float-left" src="/img/status/status_2_gray.png">'

                    html += '<div class="status-text">'+
                      '<b>' + data.status[1].title +'</b>'+
                      '<br>'+
                      '<span>' + data.status[1].description +'</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="statusLine">'+
                    '<img src="/img/status/status_line.png">'+
                  '</div>'+
                  '<div class="status">'
                  if (data.status[2].complete == true)
                    html += '<img class="float-left" src="/img/status/status_3.png">'
                  else
                    html += '<img class="float-left" src="/img/status/status_3_gray.png">'

                  html += '<div class="status-text">'+
                      '<b>' + data.status[2].title +'</b>'+
                      '<br>'+
                      '<span>' + data.status[2].description +'</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="statusLine">'+
                    '<img src="/img/status/status_line.png">'+
                  '</div>'+
                  '<div class="status">'
                    if (data.status[3].complete == true)
                      html += '<img class="float-left" src="/img/status/status_4.png">'
                    else
                      html +='<img class="float-left" src="/img/status/status_4_gray.png">'
                    
                    html +='<div class="status-text">'+
                      '<b>' + data.status[3].title +'</b>'+
                      '<br>'+
                      '<span>' + data.status[3].description +'</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="statusLine">'+
                    '<img src="/img/status/status_line.png">'+
                  '</div>'+
                  '<div class="status" style="height: 75px !important;">'
                  if (data.status[4].complete == true)
                    html += '<img class="float-left" src="/img/status/status_5.png">'
                  else
                    html += '<img class="float-left" src="/img/status/status_5_gray.png">'

                    html += '<div class="status-text">'+
                      '<b>' + data.status[4].title +'</b>'+
                      '<br>'+
                      '<span>' + data.status[4].description.toString().split("\\n ")[0] +'</span><br>'+
                      '<span>' + data.status[4].description.toString().split("\\n ")[1] +'</span><br>'+
                      '<span>' + data.status[4].description.toString().split("\\n ")[2] +'</span>'+
                    '</div>'+
                  '</div>'+
                '</div>'

                if (data.questions.length > 0){
                html +=  '<div class="col-md-12 form" style="margin-top: 20px;">'+
                    '<h1 class="title">Perguntas</h1>'
                    // '<%# perguntas =  d.questions.where(:type => 0) %>'
                    // '<%# perguntas.each do |p| %>'
                    for (var i = 0; i < data.questions.length; i++) {
                     html += '<div class="row">'+
                        '<div class="col-md-12 col-sm-12 col-xs-12">'+
                          '<div id="pergunta-div" class="formWrapper-input">'+
                            '<label class="tabPergunta">' + data.questions[i].title + '</label><br>'+
                            '<label style="font-size: 18px !important; color: #000 !important;">' + data.questions[i].answer + '</label>'+
                            // '<input type="text" name="perguntaResposta[<%#= p.id %>]" id="perguntaResposta_<%#= d.id %>" class="required" value="">'+
                          '</div>'+
                        '</div>'+
                      '</div>'
                    }
                    // '<%# end %>'
                  html += '</div>'
                }
                html += '<div class="col-md-12" style="margin-top: 20px;">'
                if (data.pictures.length > 0){
                  html += '<h1 class="title">Fotos e Vídeo</h1>'+
                    '<div class="col-md-12">'

                    for (var i = 0; i < data.pictures.length; i++) {
                     html += '<div class="status-foto">'+
                        '<img src="' + data.pictures[i] + '">'+
                      '</div>'
                    }
                    html += '</div>'
                }
                if (data.videos.length > 0){
                  if (data.videos[0] != null){
                    html += '<div class="col-md-12 status-video">'
                    for (var i = 0; i < data.videos.length; i++) {
                      html += '<a href="' + data.videos[i] + '"><video src="' + data.videos[i] + '"></video></a>'
                    }
                  }
                }
                html += '</div>'

     perfilShow.html(html);

    }).fail(function(error){

    });
  }
</script>