<%#= render partial: "shared/menu" %>
<main id="contentWrapper" class="graypage">
	<div class="container">
		<h2 class="title">Adicione o Job que nossa<br>Equipe busca para você</h2>

		<form id="NewJob" class="form" action="/web/jobs/new" method="post">
			<div class="row">
				<br>
				<div class="col-md-12 col-sm-12 col-xs-12 align-center">
					<div class="formWrapper-input-radio">
						<div class="radiowrapper col-md-12">
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left" style="padding-right: 0">
								<input type="radio" value="1" name="jobType" id="jobType1" class="required" checked="checked">
								<label for="jobType1">Foto Publicitária</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="2" name="jobType" id="jobType2" class="required">
								<label for="jobType2">Desfile</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="3" name="jobType" id="jobType3" class="required">
								<label for="jobType3">Teatro</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="4" name="jobType" id="jobType4" class="required">
								<label for="jobType4">Mídia</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="5" name="jobType" id="jobType5" class="required">
								<label for="jobType5">Novela</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="6" name="jobType" id="jobType6" class="required">
								<label for="jobType6">Programa</label>
							</div>
						</div>
					</div>
					<div class="formWrapper-input-radio">
						<div class="radiowrapper col-md-12">
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left" style="padding-right: 0">
								<input type="radio" value="7" name="jobType" id="jobType7" class="required">
								<label for="jobType7">Filme Publicitário</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="8" name="jobType" id="jobType8" class="required">
								<label for="jobType8">Editorial</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="9" name="jobType" id="jobType9" class="required">
								<label for="jobType9">Longa</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="10" name="jobType" id="jobType10" class="required">
								<label for="jobType10">Curta</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="11" name="jobType" id="jobType11" class="required">
								<label for="jobType11">Série</label>
							</div>
							<div class=" col-md-2 col-sm-2 col-xs-12 text-left">
								<input type="radio" value="12" name="jobType" id="jobType12" class="required">
								<label for="jobType12">Outro</label>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Cliente <span>*</span></label>
						<input type="text" name="client" class="required" value="Globo">
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Produtora/Estúdio <span>*</span></label>
						<input type="text" name="studio" class="required" value="MGM Estudios">
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Produto <span>*</span></label>
						<input type="text" name="product" class="required" value="Comercial">
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Veículação <span>*</span></label>
						<input type="text" name="placement" class="required" value="Youtube">
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Território <span>*</span></label>
						<input type="text" name="territory" class="required" value="América do Sul">
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="formWrapper-input">
						<label>Mídia <span>*</span></label>
						<input type="text" name="midia" class="required" value="Internet">
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input">
						<label>Exclusividade <span>*</span></label>
						<input type="text" name="exclusivity" class="required">
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input">
						<label>Duração <span>*</span></label>
						<input type="text" name="duration" class="required">
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input">
						<label>Quantidade de Diárias <span>*</span></label>
						<input type="text" name="qtdDaily" class="required">
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input">
						<label>Descrição do Job <span>*</span></label>
						<textarea name="desc" class="required" style="padding: 0;"></textarea>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Cachê - Dia ou Total <span>*</span></label>
						<select name="cacheType" class="required">
							<option disabled>Cachê - Dia ou Total</option>
						    <option value="Dia">Dia</option>
						    <option value="Total">Total</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Teste presencial? <span>*</span></label>
						<select name="presencial" class="required">
							<option disabled>Teste presencial?</option>
						    <option value="true">Sim</option>
						    <option value="false">Não</option>
						</select>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Aprovação <span>*</span></label>
						<select name="aprovationType" class="required">
							<option disabled>Aprovação</option>
						    <option value="1">Presencial</option>
						    <option value="2">Online</option>
						</select>
					</div>
				</div>

				<div class="col-xs-12">
					<br />
					<h2 class="title">Características</h2>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Cor dos Olhos</label>
						<select name="corOlhos" class="required">
							<option disabled>Cor dos Olhos</option>
							<% @CorOlhos.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Cor dos Cabelos</label>
						<select name="corCabelos" class="required">
							<option disabled>Cor dos Cabelos</option>
						    <% @CorCabelos.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Tipo Físico</label>
						<select name="tipoFisico" class="required">
							<option disabled>Tipo Físico</option>
						    <% @TipoFisico.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Tipo de Cabelo</label>
						<select name="tipoCabelo" class="required">
							<option disabled>Tipo de Cabelo</option>
						    <% @TipoCabelo.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Idioma</label>
						<select name="idioma" class="required">
							<option disabled>Idioma</option>
						    <% @Idiomas.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Sotaque</label>
						<select name="sotaque" class="required">
							<option disabled>Sotaque</option>
						    <% @Sotaque.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Expressões de Gênero</label>
						<select name="expGenero" class="required">
							<option disabled>Expressões de Gênero</option>
						    <% @ExpGenero.each do |c| %>
						    	<option value="<%= c.id %>"><%= c.name %></option>
						    <% end %>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="formWrapper-input formWrapper-input-select">
						<label>Aceita Figuração?</label>
						<select name="aceitaFiguracao" class="required">
							<option disabled>Aceita Figuração?</option>
						    <option value="true">Sim</option>
						    <option value="false">Não</option>
						</select>
					</div>
				</div>

				<!--
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesDanca">
						<img src="img/skill_dance.svg" alt="Habilidade de Dança">
						<p>Dança</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesCirco">
						<img src="img/skill_circus.svg" alt="Habilidade de Circo">
						<p>Circo</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesDirecao">
						<img src="img/skill_drive.svg" alt="Habilidade de Dirigir">
						<p>Dirigir</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesEsporte">
						<img src="img/skill_sports.svg" alt="Habilidade de Esporte">
						<p>Esporte</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesMusica">
						<img src="img/skill_music.svg" alt="Habilidade de Música">
						<p>Música</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<div class="buttonSkill" data-izimodal-open="#selectHabilidadesOutros">
						<img src="img/skill_other.svg" alt="Outras Habilidades">
						<p>Outros</p>
					</div>
				</div> -->

				<div class="row">
					<div class="col-xs-12"><br /><h2 class="title" >Habilidades de Dança</h2></div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="dancaprofissional" id="dancaprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="dancaamadoras" id="dancaamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<h2 class="title">Habilidades de Circo</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="circoprofissional" id="circoprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="circoamadoras" id="circoamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<h2 class="title">Habilidades de Dirige/Pilota</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="dirigeprofissional" id="dirigeprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="dirigeamadoras" id="dirigeamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<h2 class="title">Habilidades de Esporte</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="esporteprofissional" id="esporteprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="esporteamadoras" id="esporteamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<h2 class="title">Habilidades de Música</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="musicaprofissional" id="musicaprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="musicaamadoras" id="musicaamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<h2 class="title">Outras Habilidades</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais <span>*</span></label>
							<input type="text" name="outrasprofissional" id="outrasprofissional" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras <span>*</span></label>
							<input type="text" name="outrasamadoras" id="outrasamadoras" class="selectize required">
						</div>
					</div>
				</div>

				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="formWrapper-input big">
						<label>Cachê</label>
						<input type="text" name="cache" class="currency" id="cache">
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="rateMondiale">
						Taxa Mondiale: <b>20%</b>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="formWrapper-input big success">
						<label>Total</label>
						<input type="text" name="cacheTotal" id="cacheTotal" class="currency" value="">
					</div>
				</div>

			</div>

			<div class="response"></div>

			<!--
			<input type="hidden" id="habilidadesDanca" name="skills[]">
			<input type="hidden" id="habilidadesCirco" name="skills[]">
			<input type="hidden" id="habilidadesDirigir" name="skills[]">
			<input type="hidden" id="habilidadesEsporte" name="skills[]">
			<input type="hidden" id="habilidadesMusica" name="skills[]">
			<input type="hidden" id="habilidadesOutros" name="skills[]">-->

			
			<input type="submit" class="btn center" value="Salvar e Pesquisar">

		</form>

	</div>
	<%= render partial: "shared/footer" %>
</main>
<%= render partial: "shared/modals" %>
<%#= render partial: "shared/modal_skills" %>


<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.mask.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.pt-BR.min.js"></script>
<script type="text/javascript" src="js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/selectize.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

<script type="text/javascript">

	var circoprofissional = $('#circoprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Habilidades de Circo").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var circoamadoras = $('#circoamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Habilidades de Circo").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dancaprofissional = $('#dancaprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dança").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dancaamadoras = $('#dancaamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dança").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dirigeprofissional = $('#dirigeprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dirigir").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dirigeamadoras = $('#dirigeamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dirigir").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var esporteprofissional = $('#esporteprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Esporte").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var esporteamadoras = $('#esporteamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Esporte").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var musicaprofissional = $('#musicaprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Musica").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var musicaamadoras = $('#musicaamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Musica").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var outrasprofissional = $('#outrasprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Outras").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var outrasamadoras = $('#outrasamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Outras").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	// var obj_circoprofissional = circoprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_circoprofissional.setValue(['Chicote']); //Exemplo
	// });

	// var obj_circoamadoras = circoamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_circoamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dancaprofissional = dancaprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_dancaprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dancaamadoras = dancaamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_dancaamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dirigeprofissional = dirigeprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_dirigeprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dirigeamadoras = dirigeamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_dirigeamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_esporteprofissional = esporteprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_esporteprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_esporteamadoras = esporteamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_esporteamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_musicaprofissional = musicaprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_musicaprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_musicaamadoras = musicaamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_musicaamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_outrasprofissional = outrasprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_outrasprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_outrasamadoras = outrasamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_outrasprofissional.setValue(['acrobata']); //Exemplo
	// });



	// $(function() {
	// 	$('.menu-sign a').on('click',function(e) {
	// 		$('.menu-sign a').removeClass('active');
	// 		$(this).addClass('active');
	// 		var target = $(this).data('hash');
	// 		$('.formWrapper').removeClass('active');
	// 		$('#'+target).addClass('active');
	// 		e.preventDefault();
	// 	})
	// });

	// var atuacao = $('#atuacao').selectize({
 //    	options: [
	// 		{id: 'ator-atriz', model: 'Ator/Atriz'},
	// 		{id: 'modelo', model: 'Modelo'},
	// 		{id: 'atleta', model: 'Atleta'},
	// 		{id: 'artista', model: 'Artista'},
	// 	],
	// 	labelField: 'model',
	// 	valueField: 'id',
	// 	searchField: ['model'],
	// 	openOnFocus: true,
	// });

	// var categoriacnh = $('#categoriacnh').selectize({
 //    	options: [
	// 		{id: 'a', model: 'A'},
	// 		{id: 'b', model: 'B'},
	// 		{id: 'c', model: 'C'},
	// 		{id: 'd', model: 'D'},
	// 		{id: 'e', model: 'E'},
	// 	],
	// 	labelField: 'model',
	// 	valueField: 'id',
	// 	searchField: ['model'],
	// 	openOnFocus: true,
	// });

	// //Se quiser setar valores
	// var obj_atuacao = atuacao[0].selectize;
	// $(document).ready(function(){
	// 	obj_atuacao.setValue(['ator-atriz','modelo']); //Exemplo
	// });

	// var obj_categoriacnh = categoriacnh[0].selectize;
	// $(document).ready(function(){
	// 	obj_categoriacnh.setValue(['a','b']); //Exemplo
	// });


	/*
	$('#selectHabilidadesDanca, #selectHabilidadesCirco, #selectHabilidadesDirecao, #selectHabilidadesEsporte, #selectHabilidadesMusica, #selectHabilidadesOutros').iziModal({
		overlayColor: 'rgba(255, 255, 255, 0.85)',
		radius: 20,
		autoOpen: 0,
		width: 700,
		zindex: 99999,
		onClosed: function(){
			
		},
	}); */

	$('.modal-select .no-selected input').change(function() {
		var modal = $(this).parents('.skillModal:first');
		var id = modal.attr('id');
		var target = modal.data('input');
		var input = $(this);
		skills(input,id,target,modal);
	});

	var a = [];
	function skills(input,id,target,modal){

		if (input.is(':checked')) {
			var v = input.val();
			a.push(v);
		} else {
			var x = a.indexOf(input.val());
			a.splice(x,1);
		}

		var ul = modal.find('.selected');
		a.forEach(function(value){
			$('<li>'+value+'</li>').appendTo(ul);
		});
		var target = $('input#'+target);
		target.val(a);
	}

	$('#cache').on('keyup',function(){
		var value = $(this).val();
		if (value != "") {
			value = parseInt(value);
			var r = value / 5;
			r = r + value;
			$('#cacheTotal').val(r);
		}
	});


	$('#NewJob').submit(function(e){
		
		var response = $(this).find('.response');
		response.html('').removeClass('success error');

		var required = $(this).find('.required').serializeArray();
		if (!validateRequired(required)) {
			response.html('Preencha todos os campos obrigatórios').addClass('error');
			e.preventDefault();	
			return false;
		}

		var email = $(this).find('.email').val();
		if (!validateRequired(required)) {
			response.html('Preencha o e-mail corretamente.').addClass('error');
			e.preventDefault();	
			return false;
		}
		
	});
</script>