<link rel="stylesheet" type="text/css" href="/css/open-job.css">
<main id="contentWrapper" style="padding-top: 30px;" class="graypage">
  <section id="managePage">
    <div class="container">
      <div style="text-align: center; margin-bottom: 60px;"><img src="img/logo_casting.png" style="width: 180px;" alt="Mondiale"/></div>
      <div class="grid-results">
        <div class="row">
          <% i = 0 %>
          <% d = @job %>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="job-item">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <h2><%= d.title %></h2>
                  <% if !d.local.blank? %>
                    <h5>Local: <%= d.local %></h5>
                  <% end %>
                  <hr>
                  <div class="job-item-desc">
                    <%= simple_format(d.desc) %>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="job-item-infos">
                    <div style="color: #00BD9C;">Cachê: <b><%= d.cache.blank? ? "n/d" : d.cacheTotal %></b></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="job-subscribers" style="margin-bottom: 0px !important; padding-bottom: 20px;">
              <p class="job-subscribers-title">Perfil que procuramos</p>
              <%= simple_format(d.perfil) %>
            </div>
            <div class="job-subscribers" style="background-color: #FFF !important;">
              <p class="job-subscribers-title">Regras/Dicas</p>
              <%= simple_format(d.rules) %>
            </div>
          </div>
        </div>
      </div>
      <!--method="post"  action="/web/jobs/applyOpenJob" -->
      <form id="SignUp" name="SignUp" enctype="multipart/form-data" >

        <input type="hidden" id="job_id" name="job_id" value="<%= d.id %>">
        <!--Primeiro Contato-->
        <section id="PrimeiroContato" class="form formWrapper active">

        <!-- PERGUNTA -->
        <% perguntas =  d.questions.where(:type => 0) %>
        <% perguntas.each do |p| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="pergunta-div" class="formWrapper-input">
                <label class="tabPergunta"><%= p.title %><span>*</span></label>
                <input type="text" name="perguntaResposta[<%= p.id %>]" id="perguntaResposta_<%= p.id %>" data-id="<%= p.id %>" class="required" value="">
              </div>
            </div>
          </div>
        <% end %>
        <!-- FOTO -->
        <% fotos =  d.questions.where(:type => 2) %>
        <% fotos.each do |f| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="formWrapper-input">
                <label class="tabFoto">Fotos (<%= f.title %>): <span>*</span></label>
                <div class="row">
                  <div id="pictures_<%= f.id %>" class="col-md-11 col-sm-11 col-xs-12">
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12">
                    <div class="image-upload">
                      <label for="imgInp_<%= f.id %>" style="cursor: pointer;" >
                        <img src="img/icon_plus_orange.png" alt="Mondiale"/>
                        <br>
                        <br>
                        Adicionar<br>Fotos
                      </label>
                      <input type='file' id="imgInp_<%= f.id %>" name="pictures[<%= f.id %>][]" multiple="multiple" onchange="readURL(this, 'pictures_<%= f.id %>');" accept="image/x-png,image/jpeg"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- VIDEO -->
        <% videos =  d.questions.where(:type => 3) %>
        <% videos.each do |v| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="formWrapper-input">
                <label class="tabVideo">Vídeo (<%= v.title %>): <span>*</span></label>
                <div class="row">
                  <div id="videoBox" class="col-md-11 col-sm-11 col-xs-12">
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12">
                    <div  class="image-upload">
                      <label for="videoInp" style="cursor: pointer;" >
                        <img src="img/icon_plus_orange.png" alt="Mondiale"/>
                        <br>
                        <br>
                        Adicionar<br>Vídeo
                      </label>
                      <input type='file' id="videoInp" name="videos[]" data-max-size="50000000" accept="video/mp4,video/x-m4v,video/*"/> 
                      <!-- max 50mb -->
                    </div>
                  </div>
                  <label>*Somente 1 vídeo de até 50mb por candidatura.</label>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- LINK -->
        <% links =  d.questions.where(:type => 1) %>
        <% links.each do |l| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="formWrapper-input">
                <label class="tabLink">Link (<%= l.title %>):<span>*</span></label>
                <input type="text" name="linkResposta[<%= l.id %>]" id="linkResposta_<%= l.id %>" data-id="<%= l.id %>" class="required" value="">
              </div>
            </div>
          </div>
        <% end %>

        <!-- SEUS DADOS -->
        <div class="row">
          <h2 class="title">Seus Dados</h2>
          <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="formWrapper-input">
              <label>Nome Completo <span>*</span></label>
              <input type="text" name="name" class="required" value="" required>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="formWrapper-input-radio">
              <label>Sexo <span>*</span></label>
              <div class="radiowrapper">
                <input type="radio" value="1" name="gender" id="gender1" class="required" checked>
                <label for="gender1">Masculino</label>
                <input type="radio" value="2" name="gender" id="gender2" class="required" >
                <label for="gender2">Feminino</label>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>Data de Nascimento <span>*</span></label>
              <input type="text" id="birthday" name="birthday" onfocusout="callAge()" class="form-control required" value="" required>
            </div>
          </div>
          <!-- if age < 18 -->
          <div id="parent_id">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>Nome do responsável <span>*</span></label>
                <input type="text" name="parent_name" id="parent_name" class="required" value="">
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>CPF do responsável <span>*</span></label>
                <input type="text" name="parent_cpf" id="parent_cpf" class="required">
              </div>
            </div>
          </div>
          <!-- end -->

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>Cidade <span>*</span></label>
              <input type="text" name="city" id="city" class="required" value="" required>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input formWrapper-input-select">
              <label>Estado <span>*</span></label>
              <select name="state" class="required" required>
                <option disabled selected>Selecione</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espirito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="formWrapper-input">
              <label>País <span>*</span></label>
              <input type="text" name="country" class="required" value="Brasil" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>E-mail <span>*</span></label>
              <input type="email" name="email" class="email required" value="" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Telefone <span>*</span></label>
              <input type="text" id="phone" name="phone" class="tel required" value="" required>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Facebook</label>
              <input type="text" name="facebook" id="facebook" class="" value="">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Instagram</label>
              <input type="text" name="instagram" id="instagram" class="" value="">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="formWrapper-input">
              <label>Cachê mínimo</label>
              <input type="text" name="cacheMin" class="currency" id="cacheMin" required >
            </div>
          </div>
        </div>

        <div class="response"></div>
        <input type="submit" class="btn center" style="background-color: #F69321 !important;color: #FFF; width: 250px !important;" value="Aplicar">
      </section>
      </form>
    </div>
  </section>
  <div id="resultadoPesquisa" style="display: none;" class="text-center">
    <div class="modalWrapper">
      <h1 class="title" >Sucesso!</h1>
      <h3>Cadastro realizado com sucesso</h3>
      <p><a href="https://agenciamondiale.com.br/">Acesse nosso site <b>Mondiale</b></a></p>
    </div>
  </div>
  <div id="resultadoPesquisa2" style="display: none;" class="text-center">
    <div class="modalWrapper">
      <h1 class="title" >Algo aconteceu de errado!</h1>
      <h3>Tente novamente, em alguns minutos.</h3>
      <p><a href="https://agenciamondiale.com.br/">Acesse nosso site <b>Mondiale</b></a></p>
    </div>
  </div>
<%= render partial: "shared/footer2" %>
</main>
<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.mask-1.14.11.js"></script>
<script type="text/javascript" src="js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/selectize.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-maskmoney.js"></script>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>
<script type="text/javascript">
  $("#cacheMin").maskMoney({prefix: "R$ ", showSymbol:true, decimal:",", thousands:".", symbolStay: true, allowZero:true});

  document.getElementById('parent_id').style.display = "none";
  $("#birthday").inputmask({"mask": "99/99/9999"});
  $("#parent_cpf").inputmask({"mask": "999.999.999-99"});

  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("Preencha este campo");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
  });

  function callAge(){
    age = verifyAge();

    if (age < 18)
      document.getElementById('parent_id').style.display = "block";
    else
      document.getElementById('parent_id').style.display = "none";

  }

  function verifyAge(){
    var aniversario = document.getElementById("birthday").value;

    var nascimento = aniversario.split("/");
    var dataNascimento = new Date(parseInt(nascimento[2], 10),
    parseInt(nascimento[1], 10) - 1,
    parseInt(nascimento[0], 10));

    var diferenca = Date.now() -  dataNascimento.getTime();
    var idade = new Date(diferenca);

    return Math.abs(idade.getUTCFullYear() - 1970);
  }

  function checkAge(){
    if (verifyAge() < 18){
      if (document.getElementById("parent_name").value && document.getElementById("parent_cpf").value){
        return true;
      }else{
        return false;
      }
    }
    else{
      return true;
    }
  }
  
  $('#SignUp').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13 && !e.shiftKey) { 
      e.preventDefault();
      return false;
    }
  });

  function checkVideoSize(){
    var fileInput = $('#videoInp');
    if(fileInput.length > 0){
      var maxSize = fileInput.data('max-size');
    
      if(fileInput.get(0).files.length){
        var fileSize = fileInput.get(0).files[0].size; // in bytes
        if(fileSize>maxSize){
            return false;
        }
      }
    }
    return true;
  }

  $('#SignUp').submit(function(e){
    
    if (checkVideoSize()){
      if (checkAge()){
        $('#waiting').fadeIn("slow",function() {
          document.getElementById('waiting').style.display = "block";
        });

        $.ajax({
          method: "POST",
          url: "/web/jobs/applyOpenJob/",
          data: new FormData(this),
          contentType: false,
          cache: false,
          processData: false,
          dataType: 'JSON'
        }).done(function(data){
          console.log('Done');
          console.log(data);

          $('#waiting').fadeOut("slow",function() {
            document.getElementById('waiting').style.display = "none";
          });

          $('#managePage').fadeOut("slow",function() {
            document.getElementById('managePage').style.display = "none";
          });

          $('#resultadoPesquisa').fadeIn("slow",function() {
            document.getElementById('resultadoPesquisa').style.display = "block";
          });
        }).fail(function(error){
          $('#waiting').fadeOut("slow",function() {
            document.getElementById('waiting').style.display = "none";
          });

          $('#managePage').fadeOut("slow",function() {
            document.getElementById('managePage').style.display = "none";
          });
          $('#resultadoPesquisa2').fadeIn("slow",function() {
            document.getElementById('resultadoPesquisa2').style.display = "block";
          });
          console.log(error);
        });

        e.preventDefault();
      }else{
        alert("Verifique todos os campos obrigatórios");
        e.preventDefault();
        return false;
      }
    }else{
      alert('Vídeo maior que 50 Mb');
      e.preventDefault();
      return false;
    }
  });

  jQuery(function($){
    var maskBehavior = function (val) {
       return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    options = {onKeyPress: function(val, e, field, options) {
     field.mask(maskBehavior.apply({}, arguments), options);
     }
    };
     
    $('#phone').mask(maskBehavior, options);
  });

  function readURL(input, imgBox) {
    if (input.files && input.files[0]) {
      var imgBox = document.getElementById(imgBox);
      for (i = 0; i < input.files.length; i++) {
        var reader = new FileReader();
        while (imgBox.firstChild) {
          imgBox.removeChild(imgBox.firstChild);
        }
        y = i + 1
        reader.onload = function(e) {
          var x = document.createElement("IMG");
          x.setAttribute("class", "imgFoto");
          x.setAttribute("id", 'pic' + y);
          x.setAttribute("name", 'pic' + y);
          x.setAttribute("src", e.target.result);
          imgBox.appendChild(x);
        }

        reader.readAsDataURL(input.files[i]);
      }
    }
  }

  function readURLV(input) {
    if (input.files && input.files[0]) {

      var vdBox = document.getElementById("videoBox")
      for (i = 0; i < input.files.length; i++) {
        var reader = new FileReader();
        while (vdBox.firstChild) {
          vdBox.removeChild(vdBox.firstChild);
        }
        y = i + 1
        reader.onload = function(e) {
          var x = document.createElement("video");
          x.setAttribute("class", "imgFoto");
          x.setAttribute("id", 'pic' + y);
          x.setAttribute("name", 'pic' + y);
          var fileUrl = window.URL.createObjectURL(input.files[0]);
          x.setAttribute("src", fileUrl);
          vdBox.appendChild(x);
        }

        // $ ("#video_p").change(function () {
         // var fileInput = document.getElementById('videoBox');
         // $(".video").attr("src", fileUrl);
      // });

        reader.readAsDataURL(input.files[i]);
      }
      
    }
  }

  $(".imgInp").change(function() {
    readURL(this);
  });

  $("#videoInp").change(function() {
    readURLV(this);
  });
</script>