<link rel="stylesheet" type="text/css" href="/css/public-perfil.css">
<% u = @user %>
<% d = u.job %>
<main id="contentWrapper" style="padding-top: 0px;" class="graypage">
  <button id="btGerarPrint" class="print" onclick="sendPrint()">Imprimir</button>
  <section id="managePage">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; margin-bottom: 10px;">  <img src="img/logo_casting.png" style="width: 180px;" alt="Mondiale"/>
      </div>
      <div class="grid-results">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="job-item">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-10">
                  <h2><%= d.title %></h2>
                  <div class="job-item-desc">
                    <%= simple_format(d.desc) %>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-2">
                  <div class="job-item-infos">
                    <div style="color: #00BD9C;">Cachê: <b><%= d.cache.blank? ? "n/d" : d.cacheTotal %></b></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- SEUS DADOS -->
        <div class="row">
          <h2 class="title">Dados do Candidato</h2>
          <div class="col-md-6 col-sm-9 col-xs-8">
            <div class="formWrapper-input">
              <label>Nome</label>
              <br>
              <label class="perfil-dados-label"><%= u.name %></label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-4">
            <div class="formWrapper-input">
              <label>Sexo</label>
              <br>
              <label class="perfil-dados-label"><%= u.gender.blank? ? "" : u.gender.gsub("1", "Masculino").gsub("2", "Feminino") %></label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="formWrapper-input">
              <label>Data de Nasc.</label>
              <br>
              <label class="perfil-dados-label"><%= u.birthday %></label>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-9">
            <div class="formWrapper-input">
              <label>Cidade / Estado / País</label>
              <br>
              <label class="perfil-dados-label"><%= u.city.blank? && u.state.blank? ? "" : u.city + " - " %><%= u.state.blank? ? "" : u.state + ", " %><%= u.country %></label>
            </div>
          </div>
            
          <% if current_user.class == SuperAdmin %>
            <% if !u.parent_name.blank? %>
              <div class="col-md-6 col-sm-6 col-xs-8">
                <div class="formWrapper-input">
                  <label>Nome do responsável</label>
                  <br>
                  <label class="perfil-dados-label"><%= u.parent_name %></label>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-4">
                <div class="formWrapper-input">
                  <label>CPF do responsável</label>
                  <br>
                  <label class="perfil-dados-label"><%= u.parent_cpf %></label>
                </div>
              </div>
            <% end %>
            <div class="col-md-6 col-sm-6 col-xs-8">
              <div class="formWrapper-input">
                <label>E-mail</label>
                <br>
                <label class="perfil-dados-label"><%= u.email %></label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-4">
              <div class="formWrapper-input">
                <label>Telefone</label>
                <br>
                <label class="perfil-dados-label"><%= u.phone %></label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>Facebook</label>
                <br>
                <label class="perfil-dados-label"><%= u.facebook %></label>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>Instagram</label>
                <br>
                <label class="perfil-dados-label"><%= u.instagram %></label>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="formWrapper-input">
                <label>Cachê mínimo</label>
                <br>
                <label class="perfil-dados-label"><%= u.cacheMin %></label>
              </div>
            </div>
          <% end %>
        </div>
        <!-- DESCREVA -->
        <!-- <div class="row lastElementToPrint">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form formWrapper-input">
              <label>Descrição sobre o trabalho do candidato</label>
              <textarea name="desc" class="required" style="paddclass0;perfil-dados-label" disabled="disabled"><%#= u.desc %></textarea>
            </div>
          </div>
        </div> -->

        <!-- PERGUNTA -->
        <% questions = d.questions.where(:type => 0) %>
        <% questions.each do |q| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="pergunta-div" class="formWrapper-input">
                <label class="tabPergunta"><%= q.title %></label>
                <br>
                <label class="perfil-dados-label"><%= q.answers.where(:user_applicant_id => u.id).first.content %></label>
              </div>
            </div>
          </div>
        <% end %>

        <!-- FOTO -->
        <% fotos = d.questions.where(:type => 2) %>
        <% if !fotos.blank? %>
          <% fotos.each do |foto| %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="formWrapper-input">
                    <label class="tabFoto">Fotos (<%= foto.title %>):</label>
                    <div class="row">
                      <div id="imgBox" class="col-md-12 col-sm-12 col-xs-12">
                        <% i = 1 %>
                        <% hasPicture = true %>
                        <% if u.answers.where(:question_id => foto.id).count > 0 %>
                          <% foto.answers.where(:user_applicant_id => u.id).each do |f| %>
                            <% hasPicture = false %>
                            <div class="containerImg">
                              <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                              <br>
                              <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                              <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%#= i %><%= File.extname(f.file_file_name.to_s) %>"></a>
                            </div>
                            <% i += 1 %>
                          <% end %>
                          <% if u.pictures.count > 1 %>
                            <% i = 1 %>
                            <% u.pictures.each do |f| %>
                              <div class="containerImg">
                                  <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                                  <br>
                                  <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                                  <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(f.file_file_name.to_s) %>"></a>
                                </div>
                                <% i += 1 %>
                            <% end %> 
                          <% end %> 
                        <% else %>
                          <% u.pictures.each do |f| %>
                            <div class="containerImg">
                                <img id="<%= u.name.gsub(" ", "_") %>_mondicasting_<%= i %>" src="<%= f.file.to_s %>" class="imgFoto" width="200">
                                <br>
                                <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= f.file.to_s %>"></a>
                                <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= f.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(f.file_file_name.to_s) %>"></a>
                              </div>
                              <% i += 1 %>
                          <% end %> 
                        <% end %> 
                      </div>
                    </div>
                </div>
              </div> 
            </div>
          <% end %>
        <% end %>

        <!-- VIDEO -->
        <% video =  d.questions.where(:type => 3).first %>
        <% if !video.blank? %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="formWrapper-input">
                  <label class="tabVideo">Vídeo (<%= video.blank? ? "" : video.title %>): <span>*</span></label>
                  <div class="row">
                    <div id="videoBox" class="col-md-12 col-sm-12 col-xs-12">
                      <% i = 1 %>
                      <% u.videos.each do |v| %>
                        <div class="containerImg">
                          <% ext = File.extname(v.file_file_name.to_s) %>
                          <% if ext != ".mp4" && ext != ".MP4" && ext != ".mov" && ext != ".MOV" %>
                            <img id="video_replace" src="/img/ico_video_download_replace.png" class="imgFoto" width="200">
                          <% else %>
                            <video src="<%= v.file.to_s %>" class="imgFoto" width="200"></video>
                          <% end %>
                          <br>
                          <% if ext == ".mp4" || ext == ".MP4" %>
                            <a id="single_image" class="icon-act-foto glyphicon glyphicon-eye-open" href="<%= v.file.to_s %>"></a>
                          <% end %>
                          <a title="Download" class="icon-act-foto wrapperImg glyphicon glyphicon-cloud-download" href="/web/users/download?file_id=<%= v.id %>&name=<%= u.name.gsub(" ", "") %>_mondicasting<%= File.extname(v.file_file_name.to_s) %>"></a>
                          <% i += 1 %>
                        </div>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- LINK -->
        <% links = d.questions.where(:type => 1) %>
        <% links.each do |l| %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="pergunta-div" class="formWrapper-input">
                <label class="tabLink"><%= l.title %></label>
                <br>
                <a href="<%= l.answers.where(:user_applicant_id => u.id).first.content %>" target="_blank" >
                  <label class="perfil-dados-label"><%= l.answers.where(:user_applicant_id => u.id).first.content %></label>
                </a>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </section>
  <div class="noShowPrint">
<%#= render partial: "shared/footer2" %>
</div>
</main>
<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.mask-1.14.11.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.pt-BR.min.js"></script>
<script type="text/javascript" src="js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/selectize.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>



<script type="text/javascript">
    function sendPrint() {
      window.print();
    }

    $(document).ready(function() {
      $("a#single_image").fancybox();
    });

  //   $(document).on("click", "a.fileDownloadSimpleRichExperience", function () {
  //     $.fileDownload($(this).prop('href'), {
  //         preparingMessageHtml: "We are preparing your report, please wait...",
  //         failMessageHtml: "There was a problem generating your report, please try again."
  //     });
  //     return false; //this is critical to stop the click event which will trigger a normal file download!
  // });

  //   $('[download]').click(function (argument) {
  //     var url = $(this).attr('href');
  //     var d = $(this).attr('download');
  //     // body...
  //     var link = document.createElement('a');
  //    link.setAttribute('href', url);
  //    link.setAttribute('download',d);
  //    link.setAttribute('target', '_blank');
  //    link.style.display = 'none';
  //    document.body.appendChild(link);
  //    link.click();
  //    document.body.removeChild(link);
  //    e.preventDefault();
  // });
    // var doc = new jsPDF();
    // var specialElementHandlers = {
    //     '#editor': function (element, renderer) {
    //         return true;
    //     }
    // };

    // $('#btGerarPDF').click(function () {
    //   pdfRocket("http://mondialeapp.herokuapp.com/publicPerfil?perfil=<%= u.id %>", "downloads");
    //   // var options = {
    //   // };  
    //   // var pdf = new jsPDF('p', 'pt', 'a4');
    //   // pdf.addHTML($("#managePage"), 15, 15, options, function() {
    //   //   pdf.save('pageContent.pdf');
    //   // });
    //   //   // doc.fromHTML($('#managePage').html(), 15, 15, {
    //   //   //     'width': 170,
    //   //   //         'elementHandlers': specialElementHandlers
    //   //   // });
    //   //   // doc.save('exemplo-pdf.pdf');
    // });

    // function pdfRocket(html, savePdf) {
    //    var self = this;
       
    //    self.save = savePdf;
    //    self.req = new XMLHttpRequest();
  
    //    var url = "http://api.html2pdfrocket.com/pdf";
    //    var apiKey = "f304ca31-bc9f-41cb-803a-89f19ac8f2b4";
 
    //    // Additional parameters can be added here
    //    var data = "apikey=" + apiKey + "&value=" + encodeURIComponent(html);
  
    //    self.req.onload = function(event) {
    //           self.reader = new FileReader();
              
    //           self.reader.addEventListener("loadend", function() {
 
    //                  // Open in new tab
    //                  window.open(self.reader.result, "_blank");
                     
    //                  // return data URI
    //                  return self.reader.result;
    //           });
              
    //           self.reader.readAsDataURL(self.req.response);
    //    };
  
    //    self.req.open("POST", url, true);
    //    self.req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    //    self.req.responseType = "blob";
  
    //    self.req.send(data);
    // }

</script>