<%= render partial: "shared/menu" %>
<style>
.user-job:after{
	opacity:1 !important;
	content: "Elenco cadastrado na Job" !important;
	/*cursor: not-allowed;*/
}
</style>
<main id="contentWrapper" class="graypage">
<section id="resultsPage">
	<div class="container">
		<h1 class="title">Resultados</h1>
		<div class="grid-results">
			<div class="row">
				<% @users.each do |u| %>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="profile">
							<div class="profile-picture btn-apply <%= u.job_ids.include?(@job.id) ? "user-job" : "" %>" data-user-id="<%= u.id %>" style="background-image: url('<%= u.picture.nil? ? "/img/profile-missing.png" : (u.picture.url == "/pictures/original/missing.png" ? "/img/profile-missing.png" : u.picture.url) %>')"></div>
							
							<div class="profile-infos">
								<p class="profile-infos-name"><%= u.name.split(" ")[0] %></p>
								<p>
									<% if !u.birthday.blank? %>
										<%= DateTime.now.year  - u.birthday.to_datetime.year %> Anos | São Paulo - SP</p>
									<% else %>
										Data de aniversário não informada | São Paulo - SP
									<% end %>
								<!--<p><%= u.city %> - <%= u.state %></p>-->
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
<%= render partial: "shared/footer" %>
</main>
<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/scrollreveal.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.pt-BR.min.js"></script>
<script type="text/javascript" src="js/jquery.mask.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

<script>
	$(document).ready(function() {
		$('#resultadoPesquisa').iziModal('open');
	});

	$('#resultadoPesquisa').iziModal('close', {
	    transition: 'fadeInDown'
	});

	$(".btn-apply").click(function() {
		var apply = {
            userId: this.dataset.userId,
            jobId: "<%= @job.id %>"
        }

        var result = $(this);
        console.log(apply);

        // if (!result.hasClass('user-job')) {
			$.ajax({
				method: "POST",
				url: "/web/jobs/apply/",
			    data: apply,
				dataType: 'JSON'
			}).done(function(data){
				console.log('Done');
				
				if (result.hasClass('user-job')) {
					result.removeClass('user-job');
				}else{
					result.addClass('user-job');
				}
			}).fail(function(error){
				console.log(error);
			});	
        // };
	});
</script>