<%= render partial: "shared/menu" %>
<main id="contentWrapper" class="graypage">
	<div class="container">
		<nav class="menu-sign">
			<ul>
				<li><a href="#" data-hash="PrimeiroContato" class="active">Primeiro Contato</a></li>
				<li><a href="#" data-hash="DadosPessoais">Dados Pessoais</a></li>
				<li><a href="#" data-hash="Caracteristicas" >Características</a></li>
				<li><a href="#" data-hash="Habilidades">Habilidades</a></li>
				<!--<li><a href="#">Fotos e Vídeos</a></li>
				<li><a href="#">Currículo</a></li>-->
			</ul>
		</nav>
		<!--<a href="#" class="sign-face">Vincular com o Facebook</a>-->
		<div class="photoUser">
			<img src='<%= @user.nil? ? "/img/profile-missing.png" : ( @user.picture.nil? ? "/img/profile-missing.png" : (@user.picture.url == "/pictures/original/missing.png" ? "/img/profile-missing.png" : @user.picture.url)) %>' width="200" height="200" />
		</div>

		<form id="SignUp" name="SignUp" method="post" enctype="multipart/form-data" >
			<!--Primeiro Contato-->
			<section id="PrimeiroContato" method="post" class="form formWrapper active" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-6 col-sm-8 col-xs-12">
						<div class="formWrapper-input">
							<label>Nome Completo <span>*</span></label>
							<input type="text" name="name" class="required" value="Caio Cesar Matos Santos">
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input-radio">
							<label>Sexo <span>*</span></label>
							<div class="radiowrapper">
								<input type="radio" value="1" name="gender" id="gender1" class="required">
								<label for="gender1">Masculino</label>
								<input type="radio" value="2" name="gender" id="gender2" class="required">
								<label for="gender2">Feminino</label>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Data de Nascimento <span>*</span></label>
							<input type="text" name="birthday" class="birthday form-control required" value="31/05/1996">
							<span class="age"></span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Cep <span>*</span></label>
							<input type="text" name="cep" id="cep" class="cep required" value="07417325">
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Endereço <span>*</span></label>
							<input type="text" name="address" id="address" class="required">
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Nº <span>*</span></label>
							<input type="text" name="num" id="num" class="required" value="">
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Bairro <span>*</span></label>
							<input type="text" name="bairro" id="bairro" class="required" value="">
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Cidade <span>*</span></label>
							<input type="text" name="city" id="city" class="required" value="">
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Estado <span>*</span></label>
							<select name="state" class="required">
								<option disabled selected>Selecione</option>
							    <option value="AC">Acre</option>
							    <option value="AL">Alagoas</option>
							    <option value="AP">Amapá</option>
							    <option value="AM">Amazonas</option>
							    <option value="BA">Bahia</option>
							    <option value="CE">Ceará</option>
							    <option value="DF">Distrito Federal</option>
							    <option value="ES">Espirito Santo</option>
							    <option value="GO">Goiás</option>
							    <option value="MA">Maranhão</option>
							    <option value="MS">Mato Grosso do Sul</option>
							    <option value="MT">Mato Grosso</option>
							    <option value="MG">Minas Gerais</option>
							    <option value="PA">Pará</option>
							    <option value="PB">Paraíba</option>
							    <option value="PR">Paraná</option>
							    <option value="PE">Pernambuco</option>
							    <option value="PI">Piauí</option>
							    <option value="RJ">Rio de Janeiro</option>
							    <option value="RN">Rio Grande do Norte</option>
							    <option value="RS">Rio Grande do Sul</option>
							    <option value="RO">Rondônia</option>
							    <option value="RR">Roraima</option>
							    <option value="SC">Santa Catarina</option>
							    <option value="SP">São Paulo</option>
							    <option value="SE">Sergipe</option>
							    <option value="TO">Tocantins</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>País <span>*</span></label>
							<input type="text" name="country" class="required" value="Brasil">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="formWrapper-input">
							<label>Atuação <span>*</span></label>
							<input type="text" name="atuacao" id="atuacao" class="selectize required">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>E-mail <span>*</span></label>
							<input type="email" name="email" class="email required" value="caio_cms12@hotmail.com">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Telefone <span>*</span></label>
							<input type="text" name="phone" class="tel required" value="1146554593">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Website Pessoal / Página / Blog / Canal / Perfil</label>
							<input type="text" name="phone">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Facebook</label>
							<input type="text" name="cellphone">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Skype</label>
							<input type="text" name="email">
						</div>
					</div>
				</div>

				<div class="response"></div>
				<button type="button" class="btn center" data-next="DadosPessoais">Próximo Passo</button>
				<!--<input type="submit" value="Próximo passo" class="btn center">-->

			</section>

			<!--Dados Pessoais-->
			<section id="DadosPessoais" class="form formWrapper">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>CPF <span>*</span></label>
							<input type="text" name="cpf" class="cpf required" value="44991181828">
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>RG <span>*</span></label>
							<input type="text" name="rg" class="rg required" value="393549376">
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-12">
						<div class="formWrapper-input">
							<label>Data de Emissão <span>*</span></label>
							<input type="text" name="dataemissao" class="required dataemissao" value="022018">
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="formWrapper-input">
							<label>Orgão Emissor <span>*</span></label>
							<input type="text" name="orgaoemissor" class="required" value="São Paulo">
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="formWrapper-input">
							<label>UF Emissor <span>*</span></label>
							<input type="text" name="ufemissor" class="required" value="SSP">
							<!--Acho que aqui vai ser select-->
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="formWrapper-input">
							<label>Nacionalidade do Transporte <span>*</span></label>
							<input type="text" name="nacionalidadetransporte" class="required" value="Brasileira">
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<div class="formWrapper-input">
							<label>Data de Validade do Transporte <span>*</span></label>
							<input type="text" name="validadetransporte" class="required" value="Brasileira">
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Categoria CNH</label>
							<input type="text" name="categoriacnh" id="categoriacnh" class="selectize">
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Validade CNH</label>
							<input type="text" name="validadetransporte" class="date">
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Escolaridade <span>*</span></label>
							<select name="escolaridade" class="required">
								<option disabled>Selecione</option>
								<% @appearances.where(:parent_name => "Escolaridade").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Ascendência/Origem <span>*</span></label>
							<select name="ascendencia" class="required">
								<option disabled>Selecione</option>
							    <% @appearances.where(:parent_name => "Ascendencia").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Nacionalidade <span>*</span></label>
							<select name="nacionalidade" class="required">
								<option disabled>Selecione</option>
							    <% @appearances.where(:parent_name => "Nacionalidade").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
				</div>

				<div class="response"></div>
				<button type="button" class="btn center" data-next="Caracteristicas">Próximo Passo</button>
				<!--<input type="submit" value="Próximo passo" class="btn center">-->


			</section>

			<!--Caracteristicas-->
			<section id="Caracteristicas" class="form formWrapper">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Altura <span>*</span></label>
							<input type="range" name="altura" class="altura required" value="40" min="40" max="210" step="1" oninput="updateRange(this.value,'alturaValue','cm');">
							<output id="alturaValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Peso <span>*</span></label>
							<input type="range" name="peso" class="peso required" value="50" min="2" max="200" step="1" oninput="updateRange(this.value,'pesoValue','kg');">
							<output id="pesoValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Calçado <span>*</span></label>
							<input type="range" name="calcado" class="calcado required" value="44" min="16" max="50" step="1" oninput="updateRange(this.value,'calcadoValue');">
							<output id="calcadoValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Manequim <span>*</span></label>
							<input type="range" name="manequim" class="manequim required" value="44" min="2" max="66" step="1" oninput="updateRange(this.value,'manequimValue','meses');">
							<output id="manequimValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Camisa <span>*</span></label>
							<select name="camisa" class="required">
								<option disabled>Selecione</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6" selected="selected">6</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Terno <span>*</span></label>
							<select name="terno" class="required">
								<option disabled>Selecione</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5" selected="selected">5</option>
								<option value="6">6</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Camiseta <span>*</span></label>
							<select name="Camiseta" class="required">
								<option disabled>Selecione</option>
								<option value="PP">PP</option>
								<option value="P">P</option>
								<option value="M">M</option>
								<option value="G">G</option>
								<option value="GG">GG</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Busto <span>*</span></label>
							<input type="range" name="busto" class="busto required" value="100" min="51" max="142" step="1" oninput="updateRange(this.value,'bustoValue');">
							<output id="bustoValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Cintura <span>*</span></label>
							<input type="range" name="cintura" class="cintura required" value="80" min="51" max="142" step="1" oninput="updateRange(this.value,'cinturaValue');">
							<output id="cinturaValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input">
							<label>Quadril <span>*</span></label>
							<input type="range" name="quadril" class="quadril required" value="90" min="53" max="148" step="1" oninput="updateRange(this.value,'quadrilValue');">
							<output id="quadrilValue" class="outputRange"></output>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Cor dos Olhos <span>*</span></label>
							<select name="corolho" class="required">
								<option disabled>Selecione</option>
								<% @appearances.where(:parent_name => "Cor dos Olhos").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Cabelos <span>*</span></label>
							<select name="corcabelo" class="required">
								<option disabled>Selecione</option>
								<% @appearances.where(:parent_name => "Cor dos Cabelos").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="formWrapper-input-radio">
							<label>Aceita Figuração? <span>*</span></label>
							<div class="radiowrapper">
								<input type="radio" value="true" name="figuracao" id="figuracao1" class="required" checked="checked">
								<label for="figuracao1">Sim</label>
								<input type="radio" value="false" name="figuracao" id="figuracao2" class="required">
								<label for="figuracao2">Não</label>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Pele <span>*</span></label>
							<select name="pele" class="required">
								<option disabled>Selecione</option>
								<% @appearances.where(:parent_name => "Pele").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-4 col-sm-3 col-xs-12">
						<div class="formWrapper-input formWrapper-input-select">
							<label>Etnia <span>*</span></label>
							<select name="etnia" class="required">
								<option disabled>Selecione</option>
								<% @appearances.where(:parent_name => "Etnia").each do |a| %>
									<option value="<%= a.id %>"><%= a.name %></option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="formWrapper-input">
							<label>Extras</label>
							<input type="text" name="extras" id="extras" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Idiomas</label>
							<input type="text" name="idiomas" id="idiomas" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Sotaque</label>
							<input type="text" name="sotaque" id="sotaque" class="selectize">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="formWrapper-input">
							<label>Expressões de Gênero</label>
							<input type="text" name="expressaogenero" id="expressaogenero" class="selectize">
						</div>
					</div>
				</div>

				<div class="response"></div>
				<button type="button" class="btn center" data-next="Habilidades">Próximo Passo</button>
				<!--<input type="submit" value="Próximo passo" class="btn center">-->


			</section>

			<!--Habilidades-->
			<section id="Habilidades" class="form formWrapper">
				<h2 class="formWrapper-title">Habilidades de Circo</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="circoprofissional" id="circoprofissional" class="selectize ">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="circoamadoras" id="circoamadoras" class="selectize ">
						</div>
					</div>
				</div>

				<h2 class="formWrapper-title">Habilidades de Dança</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="dancaprofissional" id="dancaprofissional" class="selectize ">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="dancaamadoras" id="dancaamadoras" class="selectize">
						</div>
					</div>
				</div>

				<h2 class="formWrapper-title">Habilidades de Dirige/Pilota</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="dirigeprofissional" id="dirigeprofissional" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="dirigeamadoras" id="dirigeamadoras" class="selectize">
						</div>
					</div>
				</div>

				<h2 class="formWrapper-title">Habilidades de Esporte</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="esporteprofissional" id="esporteprofissional" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="esporteamadoras" id="esporteamadoras" class="selectize">
						</div>
					</div>
				</div>

				<h2 class="formWrapper-title">Habilidades de Música</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="musicaprofissional" id="musicaprofissional" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="musicaamadoras" id="musicaamadoras" class="selectize">
						</div>
					</div>
				</div>

				<h2 class="formWrapper-title">Outras Habilidades</h2>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Profissionais</label>
							<input type="text" name="outrasprofissional" id="outrasprofissional" class="selectize">
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="formWrapper-input">
							<label>Amadoras</label>
							<input type="text" name="outrasamadoras" id="outrasamadoras" class="selectize ">
						</div>
					</div>
				</div>

				<div class="response"></div>
				<button type="submit" class="btn center">Finalizar</button>
				<!--<input type="submit" value="Próximo passo" class="btn center">-->


			</section>
		</form>

</div>

<%= render partial: "shared/footer" %>
</main>
<%= render partial: "shared/modals" %>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery.mask.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.pt-BR.min.js"></script>
<script type="text/javascript" src="js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" src="js/iziModal.min.js"></script>
<script type="text/javascript" src="js/selectize.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript">

	$(document).ready(function(){
		updateRange($('.altura').val(),'alturaValue','cm');
		updateRange($('.peso').val(),'pesoValue','kg');
		updateRange($('.calcado').val(),'calcadoValue');
		updateRange($('.manequim').val(),'manequimValue','meses');
		updateRange($('.busto').val(),'bustoValue');
		updateRange($('.cintura').val(),'cinturaValue');
		updateRange($('.quadril').val(),'quadrilValue');
	});

	function updateRange(val,dom,sufix){
		if (sufix == undefined) {
			sufix = "";
		}
		$('#'+dom).html(val + " "+sufix);
	}

	$(function() {
		$('.menu-sign a').on('click',function(e) {
			$('.menu-sign a').removeClass('active');
			$(this).addClass('active');
			var target = $(this).data('hash');
			$('.form').removeClass('active');
			$('#'+target).addClass('active');
			e.preventDefault();
		})
	});

	var atuacao = $('#atuacao').selectize({
    	options: [
    	<% @performances.each do |p| %>
			{id: '<%= p.id %>', model: '<%= p.name %>'},
		<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var categoriacnh = $('#categoriacnh').selectize({
    	options: [
			{id: 'a', model: 'A'},
			{id: 'b', model: 'B'},
			{id: 'c', model: 'C'},
			{id: 'd', model: 'D'},
			{id: 'e', model: 'E'},
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var extras = $('#extras').selectize({
    	options: [
    		{id: 'bigode',model: 'Bigode'},
    		{id: 'barba',model: 'Barba'},
    		{id: 'atletico',model: 'Atlético'},
    		{id: 'musculoso',model: 'Musculoso'},
    		{id: 'gemeos',model: 'Gêmeos'},
    		{id: 'homem-peludo',model: 'Homem Peludo'},
    		{id: 'cavanhaque',model: 'Cavanhaque'},
    		{id: 'gordo',model: 'Gordo'},
    		{id: 'magro',model: 'Magro'},
    		{id: 'moderninho',model: 'Moderninho'},
    		{id: 'descolado',model: 'Descolado'},
    		{id: 'engracado',model: 'Engraçado'},
    		{id: 'alto',model: 'Alto'},
    		{id: 'hipster',model: 'Hipster'},
    		{id: 'mulher-gostosa',model: 'Mulher Gostosa'},
    		{id: 'baixinho',model: 'Baixinho'},
    		{id: 'lembra-caipira',model: 'Lembra Caipira'},
    		{id: 'lembra-nordestino',model: 'Lembra Nordestino'},
    		{id: 'lembra-indio',model: 'Lembra Índio'},
    		{id: 'lembra-indiano',model: 'Lembra Indiano'},
    		{id: 'lembra-arabe',model: 'Lembra Árabe'},
    		{id: 'nariz-grande',model: 'Nariz Grande'},
    		{id: 'orelha-grande',model: 'Orelha Grande'},
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var idiomas = $('#idiomas').selectize({
    	options: [
	    	<% @appearances.where(:parent_name => "Idiomas").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var sotaque = $('#sotaque').selectize({
    	options: [
    		<% @appearances.where(:parent_name => "Sotaque").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var expressoesgenero = $('#expressaogenero').selectize({
    	options: [
    		<% @appearances.where(:parent_name => "Expressão de Gênero").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var circoprofissional = $('#circoprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Habilidades de Circo").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var circoamadoras = $('#circoamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Habilidades de Circo").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dancaprofissional = $('#dancaprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dança").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dancaamadoras = $('#dancaamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dança").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dirigeprofissional = $('#dirigeprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dirigir").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var dirigeamadoras = $('#dirigeamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Dirigir").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var esporteprofissional = $('#esporteprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Esporte").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var esporteamadoras = $('#esporteamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Esporte").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var musicaprofissional = $('#musicaprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Musica").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var musicaamadoras = $('#musicaamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Musica").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var outrasprofissional = $('#outrasprofissional').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Outras").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	var outrasamadoras = $('#outrasamadoras').selectize({
    	options: [
    		<% @skills.where(:parent_name => "Outras").each do |p| %>
				{id: '<%= p.id %>', model: '<%= p.name %>'},
			<% end %>
		],
		labelField: 'model',
		valueField: 'id',
		searchField: ['model'],
		openOnFocus: true,
	});

	//Se quiser setar valores
	// var obj_atuacao = atuacao[0].selectize;
	// $(document).ready(function(){
	// 	obj_atuacao.setValue(['ator-atriz','modelo']); //Exemplo
	// });

	// var obj_categoriacnh = categoriacnh[0].selectize;
	// $(document).ready(function(){
	// 	obj_categoriacnh.setValue(['a','b']); //Exemplo
	// });

	// var obj_extras = extras[0].selectize;
	// $(document).ready(function(){
	// 	obj_extras.setValue(['bigode','barba','nariz-grande']); //Exemplo
	// });

	// var obj_idiomas = idiomas[0].selectize;
	// $(document).ready(function(){
	// 	obj_idiomas.setValue(['ingles']); //Exemplo
	// });

	// var obj_sotaque = sotaque[0].selectize;
	// $(document).ready(function(){
	// 	obj_sotaque.setValue(['nortista']); //Exemplo
	// });

	// var obj_expressoesgenero = expressoesgenero[0].selectize;
	// $(document).ready(function(){
	// 	obj_expressoesgenero.setValue(['nortista']); //Exemplo
	// });

	// var obj_circoprofissional = circoprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_circoprofissional.setValue(['Chicote']); //Exemplo
	// });

	// var obj_circoamadoras = circoamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_circoamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dancaprofissional = dancaprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_dancaprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dancaamadoras = dancaamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_dancaamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dirigeprofissional = dirigeprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_dirigeprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_dirigeamadoras = dirigeamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_dirigeamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_esporteprofissional = esporteprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_esporteprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_esporteamadoras = esporteamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_esporteamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_musicaprofissional = musicaprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_musicaprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_musicaamadoras = musicaamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_musicaamadoras.setValue(['acrobata']); //Exemplo
	// });

	// var obj_outrasprofissional = outrasprofissional[0].selectize;
	// $(document).ready(function(){
	// 	obj_outrasprofissional.setValue(['acrobata']); //Exemplo
	// });

	// var obj_outrasamadoras = outrasamadoras[0].selectize;
	// $(document).ready(function(){
	// 	obj_outrasprofissional.setValue(['acrobata']); //Exemplo
	// });

	/*
	obj.on('change',function(e) {
		console.log(e.split(','));
	})*/

	$('#SignUp button').click(function() {

		//Declaração de variaveis
		var d = $(this).parent('.form:first');
		var next = $(this).data('next');
		var time = 300;

		//Validação dos campos
		var response = d.find('.response');
		response.html('').removeClass('success error');

		var required = d.find('.required').serializeArray();
		if (!validateRequired(required)) {
			response.html('Preencha todos os campos obrigatórios').addClass('error');
			return false;
		}

		var email = $(this).find('.email').val();
		if (!validateRequired(required)) {
			response.html('Preencha o e-mail corretamente.').addClass('error');
			return false;
		}

		console.log($('#SignUp').serializeArray());

		d.fadeOut(time,function() {
			$('.menu-sign a').removeClass('active');
			var menu = $('.menu-sign a');
			menu.removeClass('active');
			if (menu.data('hash') === next) {
				menu.addClass('active');
			}
			$('#'+next).fadeIn(time);
		});

	})

	$('#SignUp').on('submit', function(e){

		var form = new FormData(this);
		e.preventDefault();
	
		$.ajax({
			method: "POST",
			url: "/web/users/new/",
		    data: new FormData(this),
			contentType: false,
			cache: false,
			processData:false,
			dataType: 'JSON'
		}).done(function(data){
			console.log('Done');
			console.log(data);
			response.html('Etapa concluída com sucesso.').addClass('success');
			$(this).fadeOut(1000,function() {
				$('#DadosPessoais').fadeIn(1000); //Proximo form aqui
			});
		}).fail(function(error){
			response.html('Erro ao processar solicitação.').addClass('error');
			//$('#overlay').remove();
			console.log(error);

		});
		e.preventDefault();
		
	});

	$("#cep").blur(function(){
         var cep_code = $(this).val();
         cep_code = cep_code.replace("-", "");
         if( cep_code.length <= 0 ) return;
         $.get("http://viacep.com.br/ws/" + cep_code + "/json",
            function(result){
               if( result.cep.length <= 0 ){
                  alert(result.message || "Houve um erro desconhecido");
                  return;
               }
               if( result.localidade.length <= 1 ){
                  alert("CEP não encontrado, por favor preencha seu endereço");
                  return;
               }
               //$("#").val( result.cep );
               $("#city").val( result.localidade );
               $("#bairro").val( result.bairro );
               $("#address").val( result.logradouro );
               $("#state").val( result.uf );
               $("#num").focus();
            });
      });

</script>