<style>
	.inputAr1{
		padding: 20px; 
		border-radius: 50px;
	}
	.menu2 > ul{
		padding-left: 0;
		list-style: none;
	}
	.menu2 > ul > li{
	    padding: 10px 20px;
	    border: 1px solid #F69321;
	    border-radius: 20px;
	    float: left;
	    margin-left: 10px;
	    margin-bottom: 20px;

	}
	.marginBottom20{
		margin-bottom: 20px
	}
	.section-form1, .section-form2, .section-form3, .section-form4, .section-form5, .section-form6, .section-form7{
	    text-align: center;
	    display: block;
	    margin: 0 auto;
	    padding: 80px 0;
	    width: 90%;
	}
	.btnP1{
		margin-top: 40px;
		width:400px; 
		background-color: #00BD9C
	}
	.btnP1:hover{
		opacity: 0.8;
	}
	.footer{
	    background: #F4F3F3;
	    padding: 80px 0;
	    font-size: 16px;
	}
	.btnCenter{
		margin: 0 auto;
	}
</style>

<%= render partial: "shared/menu" %>

<main id="contentWrapper" style="background: rgba(240, 240, 240, 0.8);">
<section class="sliderhome" id="home">
	<nav id="row">
		<div class="col-md-12">
			<div class="menu menu2">
				<ul>
					<li><a href="#"q>Primeiro Contato</a></li>
					<li><a href="#">Dados Pessoais</a></li>
					<li><a href="#">Características</a></li>
					<li><a href="#">Habilidades</a></li>
					<li><a href="#">Fotos e Vídeos</a></li>
					<li><a href="#">Currículo</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<a href="#" class="sign-face">Entrar com o Facebook</a>
</section>

<div class="background-home">
	<form id="formUser" method="post">
		<section class="section-home-a">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<center><img src="/img/profile-missing.png"/></center>
					</div>
				</div>
			</div>
		</section>

		<section class="section-form1" id="primeiroContato">
			<!-- <form> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-8">
							<input type="text" name="name" class="col-md-12 inputAr1" placeholder="Nome Completo">
						</div>
						<div class="col-md-4">
							<input type="text" name="birthday" class="col-md-12 inputAr1" placeholder="Data de Nascimento">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4"><span>Sexo</span></div>
								<div class="col-md-4">
									<input type="radio" name="gender" value="1">Masculino
								</div>
								<div class="col-md-4">
									<input type="radio" name="gender" value="2">Feminino
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<input type="text" name="country" class="col-md-12 inputAr1" placeholder="País">
						</div>
						<div class="col-md-3">
							<input type="text" name="city" class="col-md-12 inputAr1" placeholder="Cidade">
						</div>
						<div class="col-md-2">
							<input type="text" name="state" class="col-md-12 inputAr1" placeholder="Estado">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-12">
							<input type="text" class="col-md-12 inputAr1" placeholder="Atuação">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-5">
							<input type="text" name="email" class="col-md-12 inputAr1" placeholder="E-mail">
						</div>
						<div class="col-md-5">
							<input type="text" name="phone" class="col-md-12 inputAr1" placeholder="Telefone">
						</div>
						<div class="col-md-2">
							<input type="text" name="cellphone" class="col-md-12 inputAr1" placeholder="Facebook">
						</div>
					</div>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section>

		<section class="section-form2" id="dadosPessoais">
			<!-- <form> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-8">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-4">
							<input type="text" class="col-md-12 inputAr1">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-4">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-3">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-3">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-2">
							<input type="text" class="col-md-12 inputAr1">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-12">
							<input type="text" class="col-md-12 inputAr1">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-5">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-5">
							<input type="text" class="col-md-12 inputAr1">
						</div>
						<div class="col-md-2">
							<input type="text" class="col-md-12 inputAr1">
						</div>
					</div>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section>

		<section class="section-form3" id="enderecos">
			<!-- <form> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-4">
							<input type="text" name="addressLocal" class="col-md-12 inputAr1" placeholder="Nome do Local (ex: Residência">
						</div>
						<div class="col-md-5">
							<input type="text" name="address" class="col-md-12 inputAr1" placeholder="Endereço (Logradouro + Nº">
						</div>

						<div class="col-md-3">
							<input type="text" name="addressComp" class="col-md-12 inputAr1" placeholder="Complemento">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-3">
							<input type="text" name="cep" class="col-md-12 inputAr1" placeholder="CEP">
						</div>
						<div class="col-md-3">
							<input type="text" name="addressNeighborhood" class="col-md-12 inputAr1" placeholder="Bairro">
						</div>
						<div class="col-md-3">
							<input type="text" name="addressState" class="col-md-12 inputAr1" placeholder="Estado">
						</div>
						<div class="col-md-3">
							<input type="text" name="addressCity" class="col-md-12 inputAr1" placeholder="Cidade">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-3">
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-8"><span>Possui Endereço Principal?*</span></div>
								<div class="col-md-2">
									<input type="radio" name="isMainAddress" value="1">Sim
								</div>
								<div class="col-md-2">
									<input type="radio" name="isMainAddress" value="2">Não
								</div>
							</div>
						</div>
						<div class="col-md-3">
						</div>
					</div>

					<div class="row marginBottom20">
						<button class="btn inputAr1 btnCenter">+ Adicionar Endereço</button>
					</div>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section>

		<section class="section-form4" id="contatos">
			<!-- <form> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-3">
							<input type="text" name="phone" class="col-md-12 inputAr1" placeholder="Telefone Fixo">
						</div>
						<div class="col-md-3">
							<input type="text" name="cellphone" class="col-md-12 inputAr1" placeholder="Telefone Celular">
						</div>
						<div class="col-md-6">
							<input type="text" name="email2" class="col-md-12 inputAr1" placeholder="E-mail Secundário">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-6">
							<input type="text" name="skype" class="col-md-12 inputAr1" placeholder="Skype">
						</div>
						<div class="col-md-6">
							<input type="text" name="website" class="col-md-12 inputAr1" placeholder="Website Pessoal / Págia / Blog / Canal / Perfil                   ">
						</div>
					</div>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section> 

		<section class="section-form5" id="empresaPropria">
			<!-- <form> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-6">
							<input type="text" name="razaoSocial" class="col-md-12 inputAr1" placeholder="Razão Social">
						</div>
						<div class="col-md-6">
							<input type="text" name="cnpj" class="col-md-12 inputAr1" placeholder="CNPJ">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-3">
							<input type="text" name="inscEstadual" class="col-md-12 inputAr1" placeholder="Inscrição Estadual">
						</div>
						<div class="col-md-3">
							<input type="text" name="inscMunicipal" class="col-md-12 inputAr1" placeholder="Inscrição Municipal">
						</div>
						<div class="col-md-6">
							<input type="text" name="emailCompany" class="col-md-12 inputAr1" placeholder="E-mail">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-3">
							<input type="text" name="phone1Company" class="col-md-12 inputAr1" placeholder="Telefone 1">
						</div>
						<div class="col-md-3">
							<input type="text" name="phone2Company" class="col-md-12 inputAr1" placeholder="Telefone 2">
						</div>
						<div class="col-md-6">
							<input type="text" name="typeCompany" class="col-md-12 inputAr1" placeholder="Tipo de Empresa">
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-12">
							<textarea name="obsCompany" class="col-md-12 inputAr1" placeholder="Observação"></textarea>
						</div>
					</div>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section> 

		<section class="section-form6" id="jobs">
			<!-- <form> -->
				<div class="container">
					<span>TEXTO</span>
				</div>
				<button class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section>

		<section class="section-form7" id="login"> 
			<!-- <form id="form7" method="post"> -->
				<div class="container">
					<div class="row marginBottom20">
						<div class="col-md-8">
							<input name="login" type="text" class="col-md-12 inputAr1" placeholder="Usuário / Login">
						</div>
						<div class="col-md-4">
							<button class="btn inputAr1 col-md-12">Alterar</button>
						</div>
					</div>

					<div class="row marginBottom20">
						<div class="col-md-6">
							<input name="password" type="password" class="col-md-12 inputAr1" placeholder="Senha">
						</div>
						<div class="col-md-6">
							<input type="password" class="col-md-12 inputAr1" placeholder="Confirmar Senha">
						</div>
					</div>
					<div class="row marginBottom20">
						<div class="col-md-12 btnCenter">
							<p>
								Li e concordo com os termos de uso e a política de trabalho 
								<input type="checkbox" class="inputAr1" value="true">
							</p>
						</div>
					</div>
				</div>
				<button type="submit" class="inputAr1 btnP1">Próximo passo</button>
			<!-- </form> -->
		</section> 
	</form>        
</div>

<%= render partial: "shared/footer" %>
</main>

<%= render partial: "shared/modals" %>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
	$('#formUser').on('submit', function(e){
		alert($(this).serialize());
		e.preventDefault();
		$.ajax({
			method: "POST",
			url: "/web/users/new/",
		    data: new FormData(this),
			contentType: false,
			cache: false,
			processData:false,
			dataType: 'JSON'
		}).done(function(data){
			alert("Funcionou!");
			

			console.log('Done');
			console.log(data);

		}).fail(function(data){

			$('#overlay').remove();
			console.log('Fail');
			console.log(data);

		});
	});
</script>