<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @status %>
<% title = "Dados do Status" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- title -->
          <div class="form-group">
              <label for="">Titulo<span style="color:red">*</span></label>
              <%= f.text_field :title, :placeholder => "Digite um titulo", :class => "form-control", :required => true %>
          </div>

          <!-- desc -->
          <% if iterator.position != 4 %>
            <div class="form-group">
                <label for="">Descrição<span style="color:red">*</span></label>
                <%= f.text_field :desc, :placeholder => "Digite uma descrição", :class => "form-control", :required => true %>
            </div>
          <% end %>

          <!-- type -->
          <!-- <div class="form-group">
              <label for="">Tipo<span style="color:red">*</span></label>
              <%#= f.text_field :type, :placeholder => "Digite o tipo", :class => "form-control", :required => true %>
          </div> -->
          
          <!-- position -->
          <!-- <div class="form-group">
              <label for="">Posição<span style="color:red">*</span></label>
              <%#= f.text_field :position, :placeholder => "Digite a posição", :class => "form-control", :required => true %>
          </div> -->
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todos Status", statuses_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>