<% path = "/statuses" %>
<% iterator = @status %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados do Status</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Titulo</label>
                    <%= iterator.title %>
                </div>

                <div class="form-group">
                    <label for="">Descrição</label>
                    <%= iterator.desc %>
                </div>

                <div class="form-group">
                    <label for="">Tipo</label>
                    <%= iterator.type %>
                </div>

                <div class="form-group">
                    <label for="">Posição</label>
                    <%= iterator.position %>
                </div>
              </div>
              <div class="box-footer">
                 <%= link_to 'Editar', edit_status_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todos Status", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
</div>
