/*
.tabLink, .tabPergunta, .tabVideo, .tabFoto{
	color: #F69321 !important;
	font-weight: bold !important;
}*/
.tabFoto:before {
	content: "";
	display: block;
	background: url("/img/Camera.png") no-repeat;
	width: 22px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
	background-size: 22px 17px;
}

.tabVideo:before {
	content: "";
	display: block;
	background: url("/img/Video.png") no-repeat;
	width: 22px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
	background-size: 22px 17px;
}

.tabPergunta:before {
	content: "";
	display: block;
	background: url("/img/Perguntas.png") no-repeat;
	width: 17px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
	background-size: 17px 20px;
}

.tabLink:before {
	content: "";
	display: block;
	background: url("/img/icon-link.png") no-repeat;
	width: 17px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
	background-size: 17px 20px;
}

.imgFoto{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 10px;
}

.image-upload > input
{
  display: none;
}

.image-upload
{
  text-align: center;
  margin-bottom: 60px;
}

.image-upload:hover
{
	opacity: 0.8;
}

.image-upload:active
{
	opacity: 0.8;
	text-shadow: 0 0 2px grey;
}

.modalWrapper a{
	color: #000;
}

.cacheStyle{
	color: #00BD9C !important;
	font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}