a:focus, a:hover {
      text-decoration: none !important;
  }
  .tabFoto, .tabVideo, .tabPergunta. .tabLink{
    color: #F69321;
  }
  .tabFoto:before {
    content: "";
    display: block;
    background: url("/img/Camera.png") no-repeat;
    width: 22px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    background-size: 22px 17px;
  }

  .tabVideo:before {
    content: "";
    display: block;
    background: url("/img/Video.png") no-repeat;
    width: 22px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    background-size: 22px 17px;
  }

  .tabPergunta:before {
    content: "";
    display: block;
    background: url("/img/Perguntas.png") no-repeat;
    width: 17px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    background-size: 17px 20px;
  }

  .tabLink:before {
    content: "";
    display: block;
    background: url("/img/icon-link.png") no-repeat;
    width: 17px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    background-size: 17px 20px;
  }

  .imgFoto{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px;
  }
  .image-upload > input
  {
      display: none;
  }
  .image-upload
  {
      text-align: center;
      margin-bottom: 60px;
  }
  .image-upload:hover
  {
    opacity: 0.8;
  }
  .image-upload:active
  {
    opacity: 0.8;
    text-shadow: 0 0 2px grey;
  }
  .modalWrapper a{
    color: #000;
  }
  .print{
    position: fixed;
    z-index: 1;
  }

  /*div#imgBox img:hover, .icon-act-foto:hover + div{*/
  /*.imgBox-transp{
    width:100%;
    height: 45px;
    top:-30px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: -45px;
    position: relative;
    background-color: #000;
  }*/

  .containerImg {
    position: relative;
    text-align: center;
    color: black;
    float: left;
  }

  .icon-act-foto:hover{
    opacity: 1;
    text-shadow: 0 0 5px #919191, 0 0 1px #919191;
  }
  .icon-act-foto{
    top:-50px;
    font-size: 25px;
    margin: 5px;
    color: #ddd;
    text-shadow: 0 0 5px #000, 0 0 1px #000;
    opacity: 0.4;
  }

  @media print {
    .lastElementToPrint {page-break-after: always;}
    .noShowPrint {display: none;}
    .job-item h2 {margin-top: 0px !important;}
    .print{display: none}
  }

.perfil-dados-label{font-size: 18px !important; color: #000 !important;}
