@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$color1: #F69321;

* {font-family: 'Roboto', sans-serif;}
html, body {
	background: #FFF;
}

#contentWrapper {
	padding-top: 100px;
	&.graypage {background-color: rgba(240, 240, 240, 0.5);}
}

#headersite {
	width: 100%;
	display: block;
	margin: 0;
	background: #FFF;
	position: fixed;
	z-index: 500;

	#menu-bars {
		width: 40px;
		display: none;
		z-index: 1;
		position: absolute;
		left: 15px;
		top: 30px;
		padding: 10px 5px;
		border: 1px solid #DDD;
		border-radius: 4px;
		cursor: pointer;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;

		&.active {
			background-color: $color1;
			border: 0;
			.bar {opacity: 0; background-color: #FFF;}
			.bar:first-child {
				transform: rotate(45deg);
				margin-top: 5px;
				opacity: 1;
			}
			.bar:last-child {
				transform: rotate(-45deg);
				margin-top: -15px;
				opacity: 1;
				margin-bottom: 10px;
			}
		}

		&:hover {
			background-color: #EEE;
		}
		.bar {
			width: 100%;
			height: 3px;
			background-color: #CCC;
			display: block;
			margin-bottom: 5px;
			transition: 0.3s;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media (max-width: 1110px) {
			display: block;
		}
	}

	.logo {
		margin: 20px;
		display: table;
		float: left;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		&:hover {opacity: 0.8}
		img {max-width: 250px;}
		@media (max-width: 1110px) {
			margin: 20px auto;
			float: none;
		}
	}

	.menu {
		float: right;
		display: table;
		text-align: right;
		margin: 40px 20px 40px 0;
		ul {
			padding-left: 0;
			list-style: none;
			li {
				float: left;
				margin-left: 30px;
				&:first-child {margin-left: 0;}

				@media (max-width: 1300px) {
					margin-left: 15px;
				}

				a {
					color: #000;
					text-decoration: none;
					transition: 0.3s;
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;
					&:hover {color: $color1 !important;}
					span {
						padding: 10px 20px;
						border: 1px solid $color1;
						border-radius: 20px;
					}
				}
			}
		}
		&:after {
			content: "";
			display: block;
			clear: both;
		}

		@media (max-width: 1110px) {
			display: none;
			position: absolute;
			float: none;
			text-align: center;
			margin: 0;
			top: 100px;
			left: 0;
			width: 100%;

			&.active {display: block;}

			ul {width: 100%;}
			ul li {float: none; display: block; margin-left: 0;}
			ul li a {
				display: block;
				width: 100%;
				background-color: #FFF;
				padding: 10px;
				border-top: 1px solid #EEE;
				&:hover {
					background-color: rgb(245,245,245) !important;
				}
				span {
					display: block;
					border-radius: 0;
					border: 0;
					padding: 0;
					margin: 0;
					color: $color1;
				}
			}
		}

	}
}

.sliderhome {
	position: relative;

	.swiper-slide {
		height: 600px;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.swiper-navigation {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		display: block;
		z-index: 1;
	}

	.swiper-left,
	.swiper-right {
		cursor: pointer;
		display: table;
		position: absolute;
	}

	.swiper-left {left: 20px;}
	.swiper-right {right: 20px;}

	.openVideo {
		background: url('../img/ic_play.svg') no-repeat center;
		background-size: 100%;
		width: 100px;
		height: 100px;
		display: table;
		cursor: pointer;
	}

}

.centerall {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	background: $color1;
	color: #000;
	font-weight: 700;
	padding: 20px 50px;
	display: table;
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	outline: none !important;
	&:hover {opacity: 0.8;}
	&.btn-green {
		background: #00BD9C !important;
	}
}

.section-home-a {

	text-align: center;
	font-size: 16px;

	.box-wrapper {
		background: #FFF;
		display: block;
		min-height: 200px;
		padding: 20px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
		margin-top: 180px;
		@media (max-width: 768px) {
			margin-top: 50px;
		}
	}

	.btn {
		margin: 0 auto;
		padding: 20px 80px;
		margin-top: -50px;
	}

	p {margin-top: 20px;}

	img {
		max-width: 100%;
		display: block;
		margin-top: 50px;
	}
	

}

.title {
	font-weight: 700;
	font-size: 36px;
	display: block;
	text-align: center;
	width: 100%;
	&:after {
		width: 50px;
		margin: 0 auto;
		display: block;
		content: "";
		height: 3px;
		background: $color1;
		margin-top: 10px;
	}
}

.sign-face {
	border: 1px solid #25479B;
	padding: 20px 70px;
	border-radius: 40px;
	display: table;
	margin: 20px auto;
	position: relative;
	font-size: 14px;
	&:before {
		content: "";
		display: table;
		background: url('../img/ic_facebook.svg') no-repeat center;
		width: 20px;
		height: 30px;
		position: absolute;
		left: 30px;
		top: 15px;
	}
	&:hover {text-decoration: none;}
}

.background-home {
	width: 100%;
	display: block;
	background: url('../img/home_bg.svg') no-repeat center;
	background-size: 50%;
}

.section-home-b {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 80px 0;
	width: 90%;
	background: rgba(240,240,240,0.8);
	@media (max-width: 990px) {
		width: 100%;
	}
}

.section-home-c {
	text-align: center;
	padding: 80px 0;
	.big {
		font-size: 28px;
		font-weight: 700;
	}
	.swiper-container {
		margin-top: 50px;
	}
}

.section-home-d {
	.quotes {
		margin: 50px auto;
		max-width: 700px;
		text-align: center;
		position: relative;
		font-size: 16px;
		&:before {
			content: "";
			display: block;
			background: url('../img/quote_left.svg') no-repeat;
			background-size: 100%;
			width: 60px;
			height: 50px;
			position: absolute;
			left: -100px;
			top: 0;
		}
		&:after {
			content: "";
			display: block;
			background: url('../img/quote_right.svg') no-repeat;
			background-size: 100%;
			width: 60px;
			height: 50px;
			position: absolute;
			right: -100px;
			top: 0;
		}

		@media (max-width: 930px) {
			&:before, &:after {display: none;}
		}

	}
}

.section-home-e {
	background: #F4F3F3;
	padding: 80px 0;
	font-size: 16px;
	.box-wrapper {
		background: #FFF;
		padding: 20px;
		margin-top: 20px;
		border-radius: 30px;
		img {
			max-width: 200px;
		}
	}
}

.form {
	&.contato {
		margin-top: 20px;
		.btn {
			margin: 0 auto;
			display: table;
			width: auto;
			padding: 15px 70px;
			border-radius: 30px;
			margin-top: -30px;
		}
	}
	input,
	textarea,
	button,
	select,
	option {
		outline: none;
		display: block;
		width: 100%;
		border: 0;
		padding: 10px;
		border-radius: 5px;
		margin-bottom: 10px;
	}

	textarea {
		min-height: 100px;
	}

}

.modal .close {
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0.6;
	a {
		color: $color1;
		font-size: 4rem;
		text-decoration: none
	}
}

.modalWrapper {
	padding: 30px;
}

.align-center {
	text-align: center;
}

.modal-select {
	display: block;
	position: relative;

	ul {
		list-style: none !important;
		padding: 0;
		margin: 30px 0;
		display: block;
		width: 100%;
		&.selected {

		}
		&.no-selected {
			border-left: 1px solid #EEE;
			padding-left: 15px;
			label {font-weight: 300; cursor: pointer;}
			input {
				display: none;
			}
		}
	}
}

.modal-form {

	border: 1px solid #EEE;
	border-radius: 20px;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;

	a {
		color: #000;
		text-decoration: underline;
		font-size: 12px;
	}

	&-title {
		font-weight: 700;
		display: table;
		margin: 0 auto;
		margin-top: -40px;
		background-color: #FFF;
		padding: 10px 40px;
		border-radius: 20px;
		border: 1px solid #EEE;
	}

	&-wrapper {
		position: relative;

		input {
			margin-top: 10px;
			background-color: #EEE;
			border-radius: 30px !important;
			padding: 15px 30px;
		}

		.btn {
			display: table;
			border-radius: 30px !important;
			padding: 15px 30px;
			margin-top: 15px;
			margin-bottom: -40px;
		}

	}
}

.menu-sign {
	width: 100%;
	display: block;
	text-align: center;
	margin: 50px 0;
	ul {
		text-align: center;	
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				color: #000;
				text-decoration: none;
				padding: 10px;
				display: block;
				border: 1px solid $color1;
				border-radius: 20px;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				&:hover, &.active {background-color: $color1; color: #FFF;}
			}
		}
	}
}

.photoUser {
	display: block;
	width: 100%;
	text-align: center;
	margin: 20px 0;
	img {border-radius: 50%;}
}

.formWrapper {

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-weight: 300;
	  opacity: 0.5;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  font-weight: 300;
	  opacity: 0.5;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  font-weight: 300;
	  opacity: 0.5;
	}
	:-moz-placeholder { /* Firefox 18- */
	  font-weight: 300;
	  opacity: 0.5;
	}

	display: none;
	position:relative;
	&.active {display: block;}

	input[type="submit"],
	button {
		width: auto;
		display: table;
		background-color: #00BD9C;
		color: #FFF;
		border-radius: 30px;
		padding: 15px 50px;
		&:hover,
		&:link,
		&:visited,
		&:active,
		&:focus {
			background-color: #048C75;
			color: #FFF;
		}
		&.center {
			margin: 10px auto;
		}
	}

	label span {color: red;}

	&-title {
		font-size: 24px;
		display: block;
		font-weight: 300;
	}

	&-input {
		display: block;
		background-color: #FFF;
		padding: 10px 30px;
		border-radius: 40px;
		border: 1px solid #DDD;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		margin: 10px 0;
		height: auto;
		label span {color: red;}

		&.big {
			&.success {border: 1px solid #00BD9C}
			label, input {font-size: 36px;}
			label {
				float: left;
				width: 20%;
				text-align: left;
			}
			input {
				float: right;
				width: 80%;
				text-align: right;
			}
			&:after {
				clear: both;
				display: block;
				content: "";
			}
		}

		&:focus-within,
		&.big  {
			border: 1px solid $color1;
			label {color: #000;}
		}

		label {
			color: #999;
			font-weight: 300;
			font-size: 12px;
			transition: 0.3s;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
		}

		.bootstrap-tagsinput  {
			background: none !important;
			border: 0;
			padding: 0;
			box-shadow: none;
			font-size: 12px;
			display: block;
			max-height: 70px;
			.tag {background-color: $color1; font-size: 14px;}			
		}

		.selectize-input {
			box-shadow: none;
			margin: 0;
			padding: 0;
			border: 0;
			background: none !important;
			&:after {
				display: block;
				content: "";
				background: url('../img/set_down.svg') no-repeat center;
				background-size: 100%;
				width: 20px;
				height: 20px;
				float: right;
			}
		}

		.selectize-control.multi .selectize-input.has-items {
			padding: 0 !important;
		}

		.selectize-control.multi .selectize-input [data-value] {
			background: $color1 !important;
			color: #FFFFFF !important;
			border: 0;
		}

		&-select {
			position: relative;
			&:after {
				position: absolute;
				right: 30px;
				top: 40px;
				content: "";
				display: table;;
				background: url('../img/set_down.svg') no-repeat center;
				background-size: 100%;
				width: 20px;
				height: 20px;
			}
		}

		input,select, option {
			margin: 0;
			padding: 0;
			font-size: 18px;
			min-height: 25px;
			background: none;
		}

		select {
			width: 100%;
			-moz-appearance: window;
    		-webkit-appearance: none;
    		cursor: pointer;
    		option {
    			background-color: white;
    			color: $color1;
    		}
		}

		.form-control {
			height: auto !important;
			outline: none !important;
			box-shadow: none !important;
		}

		.birthday,
		.date {
			font-size: 12px;
		}

		&-radio {
			display: inline-block;
			margin: 20px 0;
			width: 100%;
			font-size: 16px;

			@media (max-width: 768px) {
				text-align: center;
			}

			label {
				margin-right: 10px;
			}

			input[type="radio"] {
				width: auto;
				display: inline-table;
				margin-left: 10px;

			}

			.radiowrapper {
				display: inline-block;
			}

			.radiowrapper input[type=radio],
			.radiowrapper input[type=checkbox]{
			    display:none; /* Esconde os inputs */
			}
			 
			.radiowrapper label {
			    cursor: pointer;
			    font-weight: 300;
			}

			.radiowrapper input[type="radio"] + label:before,
			.radiowrapper input[type="checkbox"] + label:before {
			    border: 0;
			    content: "\00a0";
			    display: inline-block;
			    font: 16px/1em sans-serif;
			    height: 25px;
			    margin: 0 .25em 0 0;
			    vertical-align: top;
			    width: 25px;
			    border-radius:50%;
			    background: #DDD;
			    transition: 0.3s;
			    -webkit-transition: 0.3s;
			    -moz-transition: 0.3s;
			}
			 
			.radiowrapper input[type="radio"]:checked + label:before,
			.radiowrapper input[type="checkbox"]:checked + label:before {
			    background: $color1;
			    color: #FFF;
			    content: "\2713";
			    text-align: center;
			    padding: 5px;
			}
			 
			.radiowrapper input[type="radio"]:checked + label:after,
			.radiowrapper input[type="checkbox"]:checked + label:after {
			    font-weight: bold;
			}

		}

	}

	.age {
		display: none;
		background-color: $color1;
		color: #000;
		padding: 20px;
		border-radius: 40px;
		position: absolute;
		top: 15px;
		right: 23px;
		&.show {display: block;}
	}

}

.response {
	display: block;
	width: 100%;
	text-align: center;
	&.success {color: green;}
	&.error {color: red;}
}

.outputRange {
	padding: 5px 15px;
	font-size: 14px;
	border-radius: 20px;
	top: 20px;
	right: 45px;
	display: table;
	background-color: $color1;
	color: #FFF;
	position: absolute;
}

.buttonSkill {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	background-color: #DDD;
	border-radius: 50%;
	text-align: center;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;

	@media (max-width: 990px) {
		margin-bottom: 20px;
	}

	&:hover {
		background-color: $color1;
	}

	img {display: table;}

	p {
		width: 100%;
		display: block;
		text-align: center;
		position: absolute;
		bottom: 0;
		color: #FFF;
		font-weight: 400;
	}
}

.rateMondiale {
	background-color: $color1;
	color: #000;
	border-radius: 40px;
	min-height: 78px;
	text-align: center;
	font-size: 18px;
	padding-top: 25px;
	margin: 10px 0;
}

#NewJob {
	input[type="submit"] {
		width: auto !important;
		display: table;
		border-radius: 40px;
		padding: 20px 40px;
		margin: 20px auto;
	}
}

#resultsPage {
	padding: 20px 0;
	.grid-results {
		margin: 50px 0;
		.profile {
			margin-bottom: 20px;
			&-picture {
				text-align: center;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				height: 300px;
				position: relative;
				cursor: pointer;
				&:hover:after {
					opacity: 1;
				}
				&:after {
					background-color: rgba(246,147,33,0.6);
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #FFF;
					font-size: 36px;
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					transition: 0.4s;
					-webkit-transition: 0.4s;
					-moz-transition: 0.4s;
					content: "+";
				}
			}
			&-infos {
				background: #FFF;
				display: block;
				width: 100%;
				padding: 15px;
				&-name {
					font-size: 36px;
					font-weight: 700;
					color: #000;
					word-wrap: break;
				}
			}
		}
	}
}

#managePage {
	padding: 20px 0;
	.job-item {
		background-color: #FFF;
		padding: 20px;
		&-type {
			background-color: $color1;
			color: #000;
			font-size: 16px;
			padding: 10px;
			display: inline-table;
			border-radius: 40px;
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 10px;
		}
		&-title {
			display: inline-table;
			font-weight: 700;
			font-size: 24px;
		}
		&-desc {
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 16px;
		}
		&-infos {
			display: block;
			height: auto;
			text-align: right;
		}
		&-count {
			background-color: #00BD9C;
			display: table;
			float: right;
			margin-top: 20px;
			padding: 10px 20px;
			font-size: 18px;
			border-radius: 30px;
			position: relative;
			&:before {
				content: "";
				display: block;
				width: 30px;
				height: 30px;
				background: url('../img/ic_ok.svg') no-repeat center top;
				background-size: 100%;
				position: absolute;
				left: -15px;
			}
		}
	}
	.job-subscribers {
		width: 100%;
		padding: 20px 15px;
		background-color: rgb(250,250,250);
		margin-bottom: 20px;
		&-title {
			border-radius: 20px;
			font-weight: 700;
			text-transform: lowercase;
			border: 4px solid #FFF;
			display: table;
			padding: 5px 10px;
			margin-top: -40px;
			background-color: rgb(250,250,250);
		}
	}
	.job-subscriber {
		position: relative;
		display: inline-table;
		width: auto;
		margin-right: 15px;
		cursor: pointer;
		&:hover {opacity: 0.9;}
		img {border-radius: 50%;}
		&.ok {
			&:before {
				content: "";
				display: block;
				width: 30px;
				height: 30px;
				background: url('../img/ic_ok.svg') no-repeat center top;
				background-size: 100%;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
}
