@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
* {
  font-family: 'Roboto', sans-serif; }

html, body {
  background: #FFF; }

#contentWrapper {
  padding-top: 100px; }
  #contentWrapper.graypage {
    background-color: rgba(240, 240, 240, 0.5); }

#headersite {
  width: 100%;
  display: block;
  margin: 0;
  background: #FFF;
  position: fixed;
  z-index: 500; }
  #headersite #menu-bars {
    width: 40px;
    display: none;
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 30px;
    padding: 10px 5px;
    border: 1px solid #DDD;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; }
    #headersite #menu-bars.active {
      background-color: #F69321;
      border: 0; }
      #headersite #menu-bars.active .bar {
        opacity: 0;
        background-color: #FFF; }
      #headersite #menu-bars.active .bar:first-child {
        transform: rotate(45deg);
        margin-top: 5px;
        opacity: 1; }
      #headersite #menu-bars.active .bar:last-child {
        transform: rotate(-45deg);
        margin-top: -15px;
        opacity: 1;
        margin-bottom: 10px; }
    #headersite #menu-bars:hover {
      background-color: #EEE; }
    #headersite #menu-bars .bar {
      width: 100%;
      height: 3px;
      background-color: #CCC;
      display: block;
      margin-bottom: 5px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s; }
      #headersite #menu-bars .bar:last-child {
        margin-bottom: 0; }
    @media (max-width: 1110px) {
      #headersite #menu-bars {
        display: block; } }
  #headersite .logo {
    margin: 20px;
    display: table;
    float: left;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; }
    #headersite .logo:hover {
      opacity: 0.8; }
    #headersite .logo img {
      max-width: 250px; }
    @media (max-width: 1110px) {
      #headersite .logo {
        margin: 20px auto;
        float: none; } }
  #headersite .menu {
    float: right;
    display: table;
    text-align: right;
    margin: 40px 20px 40px 0; }
    #headersite .menu ul {
      padding-left: 0;
      list-style: none; }
      #headersite .menu ul li {
        float: left;
        margin-left: 30px; }
        #headersite .menu ul li:first-child {
          margin-left: 0; }
        @media (max-width: 1300px) {
          #headersite .menu ul li {
            margin-left: 15px; } }
        #headersite .menu ul li a {
          color: #000;
          text-decoration: none;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s; }
          #headersite .menu ul li a:hover {
            color: #F69321 !important; }
          #headersite .menu ul li a span {
            padding: 10px 20px;
            border: 1px solid #F69321;
            border-radius: 20px; }
    #headersite .menu:after {
      content: "";
      display: block;
      clear: both; }
    @media (max-width: 1110px) {
      #headersite .menu {
        display: none;
        position: absolute;
        float: none;
        text-align: center;
        margin: 0;
        top: 100px;
        left: 0;
        width: 100%; }
        #headersite .menu.active {
          display: block; }
        #headersite .menu ul {
          width: 100%; }
        #headersite .menu ul li {
          float: none;
          display: block;
          margin-left: 0; }
        #headersite .menu ul li a {
          display: block;
          width: 100%;
          background-color: #FFF;
          padding: 10px;
          border-top: 1px solid #EEE; }
          #headersite .menu ul li a:hover {
            background-color: whitesmoke !important; }
          #headersite .menu ul li a span {
            display: block;
            border-radius: 0;
            border: 0;
            padding: 0;
            margin: 0;
            color: #F69321; } }

.sliderhome {
  position: relative; }
  .sliderhome .swiper-slide {
    height: 600px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; }
  .sliderhome .swiper-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: block;
    z-index: 1; }
  .sliderhome .swiper-left,
  .sliderhome .swiper-right {
    cursor: pointer;
    display: table;
    position: absolute; }
  .sliderhome .swiper-left {
    left: 20px; }
  .sliderhome .swiper-right {
    right: 20px; }
  .sliderhome .openVideo {
    background: url("../img/ic_play.svg") no-repeat center;
    background-size: 100%;
    width: 100px;
    height: 100px;
    display: table;
    cursor: pointer; }

.centerall {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn {
  background: #F69321;
  color: #000;
  font-weight: 700;
  padding: 20px 50px;
  display: table;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  outline: none !important; }
  .btn:hover {
    opacity: 0.8; }
  .btn.btn-green {
    background: #00BD9C !important; }

.section-home-a {
  text-align: center;
  font-size: 16px; }
  .section-home-a .box-wrapper {
    background: #FFF;
    display: block;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    margin-top: 180px; }
    @media (max-width: 768px) {
      .section-home-a .box-wrapper {
        margin-top: 50px; } }
  .section-home-a .btn {
    margin: 0 auto;
    padding: 20px 80px;
    margin-top: -50px; }
  .section-home-a p {
    margin-top: 20px; }
  .section-home-a img {
    max-width: 100%;
    display: block;
    margin-top: 50px; }

.title {
  font-weight: 700;
  font-size: 36px;
  display: block;
  text-align: center;
  width: 100%; }
  .title:after {
    width: 50px;
    margin: 0 auto;
    display: block;
    content: "";
    height: 3px;
    background: #F69321;
    margin-top: 10px; }

.sign-face {
  border: 1px solid #25479B;
  padding: 20px 70px;
  border-radius: 40px;
  display: table;
  margin: 20px auto;
  position: relative;
  font-size: 14px; }
  .sign-face:before {
    content: "";
    display: table;
    background: url("../img/ic_facebook.svg") no-repeat center;
    width: 20px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 15px; }
  .sign-face:hover {
    text-decoration: none; }

.background-home {
  width: 100%;
  display: block;
  background: url("../img/home_bg.svg") no-repeat center;
  background-size: 50%; }

.section-home-b {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 80px 0;
  width: 90%;
  background: rgba(240, 240, 240, 0.8); }
  @media (max-width: 990px) {
    .section-home-b {
      width: 100%; } }

.section-home-c {
  text-align: center;
  padding: 80px 0; }
  .section-home-c .big {
    font-size: 28px;
    font-weight: 700; }
  .section-home-c .swiper-container {
    margin-top: 50px; }

.section-home-d .quotes {
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
  position: relative;
  font-size: 16px; }
  .section-home-d .quotes:before {
    content: "";
    display: block;
    background: url("../img/quote_left.svg") no-repeat;
    background-size: 100%;
    width: 60px;
    height: 50px;
    position: absolute;
    left: -100px;
    top: 0; }
  .section-home-d .quotes:after {
    content: "";
    display: block;
    background: url("../img/quote_right.svg") no-repeat;
    background-size: 100%;
    width: 60px;
    height: 50px;
    position: absolute;
    right: -100px;
    top: 0; }
  @media (max-width: 930px) {
    .section-home-d .quotes:before, .section-home-d .quotes:after {
      display: none; } }

.section-home-e {
  background: #F4F3F3;
  padding: 80px 0;
  font-size: 16px; }
  .section-home-e .box-wrapper {
    background: #FFF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px; }
    .section-home-e .box-wrapper img {
      max-width: 200px; }

.form.contato {
  margin-top: 20px; }
  .form.contato .btn {
    margin: 0 auto;
    display: table;
    width: auto;
    padding: 15px 70px;
    border-radius: 30px;
    margin-top: -30px; }
.form input,
.form textarea,
.form button,
.form select,
.form option {
  outline: none;
  display: block;
  width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; }
.form textarea {
  min-height: 100px; }

.modal .close {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.6; }
  .modal .close a {
    color: #F69321;
    font-size: 4rem;
    text-decoration: none; }

.modalWrapper {
  padding: 30px; }

.align-center {
  text-align: center; }

.modal-select {
  display: block;
  position: relative; }
  .modal-select ul {
    list-style: none !important;
    padding: 0;
    margin: 30px 0;
    display: block;
    width: 100%; }
    .modal-select ul.no-selected {
      border-left: 1px solid #EEE;
      padding-left: 15px; }
      .modal-select ul.no-selected label {
        font-weight: 300;
        cursor: pointer; }
      .modal-select ul.no-selected input {
        display: none; }

.modal-form {
  border: 1px solid #EEE;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .modal-form a {
    color: #000;
    text-decoration: underline;
    font-size: 12px; }
  .modal-form-title {
    font-weight: 700;
    display: table;
    margin: 0 auto;
    margin-top: -40px;
    background-color: #FFF;
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid #EEE; }
  .modal-form-wrapper {
    position: relative; }
    .modal-form-wrapper input {
      margin-top: 10px;
      background-color: #EEE;
      border-radius: 30px !important;
      padding: 15px 30px; }
    .modal-form-wrapper .btn {
      display: table;
      border-radius: 30px !important;
      padding: 15px 30px;
      margin-top: 15px;
      margin-bottom: -40px; }

.menu-sign {
  width: 100%;
  display: block;
  text-align: center;
  margin: 50px 0; }
  .menu-sign ul {
    text-align: center;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0; }
    .menu-sign ul:after {
      content: "";
      display: block;
      clear: both; }
    .menu-sign ul li {
      display: inline-block;
      margin: 0 5px; }
      .menu-sign ul li a {
        color: #000;
        text-decoration: none;
        padding: 10px;
        display: block;
        border: 1px solid #F69321;
        border-radius: 20px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s; }
        .menu-sign ul li a:hover, .menu-sign ul li a.active {
          background-color: #F69321;
          color: #FFF; }

.photoUser {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .photoUser img {
    border-radius: 50%; }

.formWrapper {
  display: none;
  position: relative; }
  .formWrapper ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 300;
    opacity: 0.5; }
  .formWrapper ::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 300;
    opacity: 0.5; }
  .formWrapper :-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 300;
    opacity: 0.5; }
  .formWrapper :-moz-placeholder {
    /* Firefox 18- */
    font-weight: 300;
    opacity: 0.5; }
  .formWrapper.active {
    display: block; }
  .formWrapper input[type="submit"],
  .formWrapper button {
    width: auto;
    display: table;
    background-color: #00BD9C;
    color: #FFF;
    border-radius: 30px;
    padding: 15px 50px; }
    .formWrapper input[type="submit"]:hover, .formWrapper input[type="submit"]:link, .formWrapper input[type="submit"]:visited, .formWrapper input[type="submit"]:active, .formWrapper input[type="submit"]:focus,
    .formWrapper button:hover,
    .formWrapper button:link,
    .formWrapper button:visited,
    .formWrapper button:active,
    .formWrapper button:focus {
      background-color: #048C75;
      color: #FFF; }
    .formWrapper input[type="submit"].center,
    .formWrapper button.center {
      margin: 10px auto; }
  .formWrapper label span {
    color: red; }
  .formWrapper-title {
    font-size: 24px;
    display: block;
    font-weight: 300; }
  .formWrapper-input {
    display: block;
    background-color: #FFF;
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid #DDD;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin: 10px 0;
    height: auto; }
    .formWrapper-input label span {
      color: red; }
    .formWrapper-input.big.success {
      border: 1px solid #00BD9C; }
    .formWrapper-input.big label, .formWrapper-input.big input {
      font-size: 36px; }
    .formWrapper-input.big label {
      float: left;
      width: 20%;
      text-align: left; }
    .formWrapper-input.big input {
      float: right;
      width: 80%;
      text-align: right; }
    .formWrapper-input.big:after {
      clear: both;
      display: block;
      content: ""; }
    .formWrapper-input:focus-within, .formWrapper-input.big {
      border: 1px solid #F69321; }
      .formWrapper-input:focus-within label, .formWrapper-input.big label {
        color: #000; }
    .formWrapper-input label {
      color: #999;
      font-weight: 300;
      font-size: 12px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s; }
    .formWrapper-input .bootstrap-tagsinput {
      background: none !important;
      border: 0;
      padding: 0;
      box-shadow: none;
      font-size: 12px;
      display: block;
      max-height: 70px; }
      .formWrapper-input .bootstrap-tagsinput .tag {
        background-color: #F69321;
        font-size: 14px; }
    .formWrapper-input .selectize-input {
      box-shadow: none;
      margin: 0;
      padding: 0;
      border: 0;
      background: none !important; }
      .formWrapper-input .selectize-input:after {
        display: block;
        content: "";
        background: url("../img/set_down.svg") no-repeat center;
        background-size: 100%;
        width: 20px;
        height: 20px;
        float: right; }
    .formWrapper-input .selectize-control.multi .selectize-input.has-items {
      padding: 0 !important; }
    .formWrapper-input .selectize-control.multi .selectize-input [data-value] {
      background: #F69321 !important;
      color: #FFFFFF !important;
      border: 0; }
    .formWrapper-input-select {
      position: relative; }
      .formWrapper-input-select:after {
        position: absolute;
        right: 30px;
        top: 40px;
        content: "";
        display: table;
        background: url("../img/set_down.svg") no-repeat center;
        background-size: 100%;
        width: 20px;
        height: 20px; }
    .formWrapper-input input, .formWrapper-input select, .formWrapper-input option {
      margin: 0;
      padding: 0;
      font-size: 18px;
      min-height: 25px;
      background: none; }
    .formWrapper-input select {
      width: 100%;
      -moz-appearance: window;
      -webkit-appearance: none;
      cursor: pointer; }
      .formWrapper-input select option {
        background-color: white;
        color: #F69321; }
    .formWrapper-input .form-control {
      height: auto !important;
      outline: none !important;
      box-shadow: none !important; }
    .formWrapper-input .birthday,
    .formWrapper-input .date {
      font-size: 12px; }
    .formWrapper-input-radio {
      display: inline-block;
      margin: 20px 0;
      width: 100%;
      font-size: 16px; }
      @media (max-width: 768px) {
        .formWrapper-input-radio {
          text-align: center; } }
      .formWrapper-input-radio label {
        margin-right: 10px; }
      .formWrapper-input-radio input[type="radio"] {
        width: auto;
        display: inline-table;
        margin-left: 10px; }
      .formWrapper-input-radio .radiowrapper {
        display: inline-block; }
      .formWrapper-input-radio .radiowrapper input[type=radio],
      .formWrapper-input-radio .radiowrapper input[type=checkbox] {
        display: none;
        /* Esconde os inputs */ }
      .formWrapper-input-radio .radiowrapper label {
        cursor: pointer;
        font-weight: 300; }
      .formWrapper-input-radio .radiowrapper input[type="radio"] + label:before,
      .formWrapper-input-radio .radiowrapper input[type="checkbox"] + label:before {
        border: 0;
        content: "\00a0";
        display: inline-block;
        font: 16px/1em sans-serif;
        height: 25px;
        margin: 0 .25em 0 0;
        vertical-align: top;
        width: 25px;
        border-radius: 50%;
        background: #DDD;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s; }
      .formWrapper-input-radio .radiowrapper input[type="radio"]:checked + label:before,
      .formWrapper-input-radio .radiowrapper input[type="checkbox"]:checked + label:before {
        background: #F69321;
        color: #FFF;
        content: "\2713";
        text-align: center;
        padding: 5px; }
      .formWrapper-input-radio .radiowrapper input[type="radio"]:checked + label:after,
      .formWrapper-input-radio .radiowrapper input[type="checkbox"]:checked + label:after {
        font-weight: bold; }
  .formWrapper .age {
    display: none;
    background-color: #F69321;
    color: #000;
    padding: 20px;
    border-radius: 40px;
    position: absolute;
    top: 15px;
    right: 23px; }
    .formWrapper .age.show {
      display: block; }

.response {
  display: block;
  width: 100%;
  text-align: center; }
  .response.success {
    color: green; }
  .response.error {
    color: red; }

.outputRange {
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 20px;
  top: 20px;
  right: 45px;
  display: table;
  background-color: #F69321;
  color: #FFF;
  position: absolute; }

.buttonSkill {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #DDD;
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s; }
  @media (max-width: 990px) {
    .buttonSkill {
      margin-bottom: 20px; } }
  .buttonSkill:hover {
    background-color: #F69321; }
  .buttonSkill img {
    display: table; }
  .buttonSkill p {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #FFF;
    font-weight: 400; }

.rateMondiale {
  background-color: #F69321;
  color: #000;
  border-radius: 40px;
  min-height: 78px;
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
  margin: 10px 0; }

#NewJob input[type="submit"] {
  width: auto !important;
  display: table;
  border-radius: 40px;
  padding: 20px 40px;
  margin: 20px auto; }

#resultsPage {
  padding: 20px 0; }
  #resultsPage .grid-results {
    margin: 50px 0; }
    #resultsPage .grid-results .profile {
      margin-bottom: 20px; }
      #resultsPage .grid-results .profile-picture {
        text-align: center;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        position: relative;
        cursor: pointer; }
        #resultsPage .grid-results .profile-picture:hover:after {
          opacity: 1; }
        #resultsPage .grid-results .profile-picture:after {
          background-color: rgba(246, 147, 33, 0.6);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          font-size: 36px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          content: "+"; }
      #resultsPage .grid-results .profile-infos {
        background: #FFF;
        display: block;
        width: 100%;
        padding: 15px; }
        #resultsPage .grid-results .profile-infos-name {
          font-size: 36px;
          font-weight: 700;
          color: #000;
          word-wrap: break; }

#managePage {
  padding: 20px 0; }
  #managePage .job-item {
    background-color: #FFF;
    padding: 20px; }
    #managePage .job-item-type {
      background-color: #F69321;
      color: #000;
      font-size: 16px;
      padding: 10px;
      display: inline-table;
      border-radius: 40px;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 10px; }
    #managePage .job-item-title {
      display: inline-table;
      font-weight: 700;
      font-size: 24px; }
    #managePage .job-item-desc {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 16px; }
    #managePage .job-item-infos {
      display: block;
      height: auto;
      text-align: right; }
    #managePage .job-item-count {
      background-color: #00BD9C;
      display: table;
      float: right;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 30px;
      position: relative; }
      #managePage .job-item-count:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/ic_ok.svg") no-repeat center top;
        background-size: 100%;
        position: absolute;
        left: -15px; }
  #managePage .job-subscribers {
    width: 100%;
    padding: 20px 15px;
    background-color: #fafafa;
    margin-bottom: 20px; }
    #managePage .job-subscribers-title {
      border-radius: 20px;
      font-weight: 700;
      text-transform: lowercase;
      border: 4px solid #FFF;
      display: table;
      padding: 5px 10px;
      margin-top: -40px;
      background-color: #fafafa; }
  #managePage .job-subscriber {
    position: relative;
    display: inline-table;
    width: auto;
    margin-right: 15px;
    cursor: pointer; }
    #managePage .job-subscriber:hover {
      opacity: 0.9; }
    #managePage .job-subscriber img {
      border-radius: 50%; }
    #managePage .job-subscriber.ok:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: url("../img/ic_ok.svg") no-repeat center top;
      background-size: 100%;
      position: absolute;
      right: 0;
      bottom: 0; }

/*# sourceMappingURL=style.css.map */
