<section class="content-header">
  <% cumbs = request.fullpath.to_s.split('/') %>
  <% if cumbs.count == 0 %>                  
    <h1>
        Painel de Controle
        <small>Painel de Controle</small>
    </h1>
    <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Painel de Controle</li>
    </ol> -->
    
  <% else %>
    <h1>
        <% titulo =  cumbs.last.split('?').first.length > 20 ? "Registros" : cumbs.last.split('?').first.capitalize %>
        <%= titulo.gsub("User_applicants","Pesquisas").gsub("Portfolios","Meu Portfólio").gsub("Statuses","Todos Status").gsub("Notifications","Notificações").gsub("Schoolings","Escolaridade").gsub("Origin_countries","Ascendência/Origem").gsub("Nationalities","Nacionalidades").gsub("Cnhs","Categorias de CNH").gsub("Admin","Painel de Controle").gsub("Appearance_contents","Conteúdo da Característica").gsub("Skill_contents","Conteúdo da Habilidade").gsub("Performance_contents","Conteúdo da Atuação").gsub("Performances","Atuações").gsub("Appearances","Características").gsub("Skills","Habilidades").gsub("Jobs","Vagas").gsub("User_producers","Produtores").gsub("User_apps","Elenco").gsub("Questions","Perguntas").gsub("New","Novo Registro").gsub("Edit", "Editar Registro").gsub("_"," ").gsub("-", " ") %>
        <small>Mondiale<b>Admin</b></small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Painel de Controle</a></li>
      <% cumbs.each do |link| %> 
        <% if !link.blank? && link != "admin" %>
          <% tit = link.capitalize %>
          <% tit = tit.gsub("Admin","Painel de Controle").gsub("Appearance_contents","Conteúdo da Característica").gsub("Skill_contents","Conteúdo da Habilidade").gsub("Performance_contents","Conteúdo da Atuação").gsub("Performances","Atuações").gsub("Appearances","Características").gsub("Skills","Habilidades").gsub("Jobs","Vagas").gsub("User_producers","Produtores").gsub("User_apps","Elenco").gsub("Questions","Perguntas").gsub("New","Novo Registro").gsub("Edit", "Editar Registro").gsub("_"," ").gsub("-", " ") %>
          <% if link.size > 0 and link != cumbs.last %>
            <li><a href="/<%= link %>"><%= tit %> </a></li>
          <% else %>
            <li class="active"><%= tit %></li>
          <% end %>
        <% end %>
      <% end %>
      
    </ol>
  <% end %>
</section>