<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
          <img src="/img/perfil-foto-missing.png" class="img-circle" alt="User Image">
        <% else %>
          <img src="<%= current_user.picture.url %>" class="img-circle" alt="User Image">
        <% end %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <i class="fa fa-circle text-success"></i> Online
      </div>
    </div>

    <% path = request.fullpath.to_s %>
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Menu</li>
      <% if (current_user.isSuperAdmin?) %>
        <% classe = path.include?("/admin") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/admin">
              <i class="fa fa-dashboard"></i> <span>Painel de Controle</span>
          </a>
        </li>
      <% end %>

      <!-- SuperAdmin? -->
      <% if current_user.isSuperAdmin? %>
        <% classe = path.include?("/user_producers") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/user_producers">
            <i class='fa fa-building-o'></i><span>Produtores</span>
          </a>
        </li>

        <% classe = path.include?("/user_apps")  ? "active" : "" %>
          <li class="<%= classe %>">
            <a href="/user_apps">
                <i class="fa fa-users"></i> <span>Elenco</span>
            </a>
        </li>
      <% end %>

      <%# if (current_user.isSuperAdmin? || current_user.isUserProducer?) %>
      <% if (current_user.isSuperAdmin?) %>
        <% classe = path.include?("/jobs") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/jobs">
            <i class='fa fa-list'></i><span>Jobs</span>
          </a>
        </li>
      <% end %>

      <% if current_user.isSuperAdmin? %>
        <% classe = (path.include?("performances") || path.include?("performance_content")) ? "active" : "" %>
        <li class="treeview <%= classe %>" style="">
          <a href="#"><i class='fa fa-check-square-o''></i> <span>Atuações</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
          <ul class="treeview-menu">
            <%# classe = path.include?("/performances")  ? "active" : "" %>
            <!-- <li class="<%#= classe %>">
              <a href="/performances"><span>Atuações</span>
              </a>
            </li> -->

            <% classe = path.include?("/performance_contents")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/performance_contents"><span>Conteúdo</span>
              </a>
            </li>

          </ul>
        </li>

        <% classe = (path.include?("appearances") || path.include?("appearance_contents")) ? "active" : "" %>
        <li class="treeview <%= classe %>">
          <a href="#"><i class='fa fa-male'></i> <span>Características</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">

            <%# classe = path.include?("/appearances")  ? "active" : "" %>
            <!-- <li class="<%#= classe %>">
              <a href="/appearances"><span>Características</span>
              </a>
            </li> -->

            <% classe = path.include?("/appearance_contents")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/appearance_contents"><span>Conteúdo</span>
              </a>
            </li>

          </ul>
        </li>

        <% classe = (path.include?("skills") || path.include?("skill_contents")) ? "active" : "" %>
        <li class="treeview <%= classe %>">
          <a href="#"><i class='fa fa-star'></i> <span>Habilidades</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">

            <%# classe = path.include?("/skills")  ? "active" : "" %>
            <!-- <li class="<%#= classe %>">
              <a href="/skills"><span>Habilidades</span>
              </a>
            </li> -->

            <% classe = path.include?("/skill_contents")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/skill_contents"><span>Conteúdo</span>
              </a>
            </li>

          </ul>
        </li>

        <% classe = (path.include?("cnhs") || path.include?("nationalities") || path.include?("origin_countries") || path.include?("passport_nationalities") || path.include?("schoolings")) ? "active" : "" %>
        <li class="treeview <%= classe %>">
          <a href="#"><i class='fa fa-plus-circle'></i> <span>Outros Campos</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">

            <% classe = path.include?("/cnhs")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/cnhs"><span>Categorias CNH</span>
              </a>
            </li>

            <% classe = path.include?("/nationalities")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/nationalities"><span>Nacionalidades</span>
              </a>
            </li>

            <% classe = path.include?("/origin_countries")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/origin_countries"><span>Ascendência/Origem</span>
              </a>
            </li>

            <% classe = path.include?("/schoolings")  ? "active" : "" %>
            <li class="<%= classe %>">
              <a href="/schoolings"><span>Escolaridades</span>
              </a>
            </li>
          </ul>
        </li>

      <% end %>
      
      <% classe = path.include?("/user_applicants") ? "active" : "" %>
      <li class="<%= classe %>">
        <a href="/user_applicants">
          <i class='fa fa-search'></i><span>Pesquisas</span>
        </a>
      </li>

      <% if (current_user.isSuperAdmin?) %>
        <% classe = path.include?("/portfolios") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/portfolios">
            <i class='fa fa-table'></i><span>Meu Portfólio</span>
          </a>
        </li>

        <% classe = path.include?("/statuses") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/statuses">
            <i class='fa fa-bars'></i><span>Status do usuário na vaga</span>
          </a>
        </li>

        <% classe = path.include?("/notifications") ? "active" : "" %>
        <li class="<%= classe %>">
          <a href="/notifications">
            <i class='fa fa-comment'></i><span>Notificações</span>
          </a>
        </li>

        <% classe = request.fullpath.to_s.include?("alterar_senha") ? "active" : "" %>
          <li class="<%= classe %>">
            <a href="/alterar_senha">
                <i class="fa fa-key"></i>
                <span>Alterar Senha</span>
            </a>
        </li>
      <% end %>
      <li class="">
          <a href="/users/sign_out" data-method="delete" rel="nofollow">
              <i class="fa fa-power-off"></i>
              <span>Sair</span>
          </a>
      </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
  </section>
  <!-- /.sidebar -->
</aside>

<%= javascript_include_tag "app.js" %>