<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/admin" class="logo">
    <span class="logo-mini"><img src="/img/logo_img.svg" width="35px"/></span>
    <span class="logo-lg">Mondiale<b>Admin</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick="parent.history.back();return false;">
      Voltar
    </a> -->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
                <img src="/img/perfil-foto-missing.png" class="user-image" alt="User Image">
              <% else %>
                <img src="<%= current_user.picture.url %>" class="user-image" alt="User Image">
              <% end %>
              <span class="hidden-xs"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu" style="border-radius: 0px !important;">
              <li class="user-header">
                <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
                  <img src="/img/perfil-foto-missing.png" class="user-circle" alt="User Image">
                <% else %>
                  <img src="<%= current_user.picture.url %>" class="user-circle" alt="User Image">
                <% end %>
                <p>
                  <%= current_user.name %> - Administrador
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/users/<%= current_user.id %>" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="/users/sign_out" data-method="delete" rel="nofollow" class="btn btn-default btn-flat">Sair</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>



    <!-- Navbar Right Menu -->
    <!-- <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs"><%#= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-footer">
              <div class="pull-right">
                <a href="/users/sign_out" data-method="delete" rel="nofollow" class="btn btn-default btn-flat">Sair</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
  </nav>
</header>