<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @portfolio %>
<% title = "Dados do Portfolio" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Nome<span style="color:red">*</span></label>
              <%= f.text_field :name, :placeholder => "Digite o nome", :class => "form-control", :required => true %>
          </div>
          <!-- link -->
          <div class="form-group">
              <label for="">Link</label>
              <%= f.text_field :link, :placeholder => "Digite o link", :class => "form-control", :required => true %>
          </div>
          <div class="form-group">
            <%= f.file_field :picture %>
            <br>
            <a href="<%= iterator.picture.to_s %>" target="blank"> 
                <img src='<%= iterator.picture.to_s %>' width='100px' alt='<%= iterator.picture.path %>'>
            </a>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas Atuações", portfolios_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>