<% path = "/portfolios" %>
<% iterator = @portfolio %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados do Portfólio</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Imagem</label><br>
                    <img src='<%= iterator.picture.nil? ? "" : iterator.picture %>' width='100px' alt='<%= iterator.picture.nil? ? "" : iterator.picture.path %>'>
                </div>
                <div class="form-group">
                    <label for="">Nome</label>
                    <%= iterator.name %>
                </div>
                <div class="form-group">
                    <label for="">Link</label>
                    <%= iterator.link %>
                </div>
              </div>
              <div class="box-footer">
                 <%= link_to 'Novo', new_portfolio_path,:class => "btn btn-primary" %> |
                 <%= link_to 'Editar', edit_portfolio_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todos trabalhos de Portfolio", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
</div>
