<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @job %>
<% title = "Dados da Vaga" %>
<% @user_apps = UserApp.all %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Titulo da vaga<span style="color:red">*</span></label>
              <%= f.text_field :title, :placeholder => "Digite o titulo", :class => "form-control", :required => true %>

              <div class="col-sm-6" style="padding-left: 0px !important;">  
                <label for="">Idade Minima<span style="color:red">*</span></label>
                <%= f.text_field :min_age, :placeholder => "Digite a idade", :class => "form-control", :required => true %>
              </div>
              <div class="col-sm-6" style="padding-right: 0px !important;">  
                <label for="">Idade Máxima<span style="color:red">*</span></label>
                <%= f.text_field :max_age, :placeholder => "Digite a idade", :class => "form-control", :required => true %>
              </div>

              <label for="">Tipo do Job<span style="color:red">*</span></label>
              <select class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="job[jobType]" >
                <% jobTypes = [["1",'Foto Publicitária'], ["2",'Desfile'], ["3",'Teatro'], ["4",'Mídia'], ["5",'Novela'], ["6",'Programa'], ["7",'Filme Publicitário'], ["8",'Editorial'], ["9",'Longa'], ["10",'Curta'], ["11",'Série'], ["12",'Outro']] %>
                <% jobTypes.each do |(k,s)| %>
                  <% if iterator.jobType == k %>
                    <option value=<%= "#{k}" %> selected > <%= "#{s}" %></option>
                  <% else %>
                    <option value=<%= "#{k}" %>> <%= "#{s}" %></option>
                  <% end %>
                <% end %>
              </select>
              <label for="">Cliente<span style="color:red">*</span></label>
              <%= f.text_field :client, :placeholder => "Digite o nome do Cliente", :class => "form-control", :required => true %>
              <label for="">Produtora/Estúdio <span style="color:red">*</span></label>
              <%= f.text_field :studio, :placeholder => "Digite a Produtora/Estúdio", :class => "form-control", :required => true %>
              <label for="">Produto<span style="color:red">*</span></label>
              <%= f.text_field :product, :placeholder => "Digite o Produto", :class => "form-control", :required => true %>
              <label for="">Veículação<span style="color:red">*</span></label>
              <%= f.text_field :placement, :placeholder => "Digite a Veiculação", :class => "form-control", :required => true %>
              <label for="">Território<span style="color:red">*</span></label>
              <%= f.text_field :territory, :placeholder => "Digite o Território", :class => "form-control", :required => true %>
              <label for="">Mídia<span style="color:red">*</span></label>
              <%= f.text_field :midia, :placeholder => "Digite o Mídia", :class => "form-control", :required => true %>
              <label for="">Exclusividade<span style="color:red">*</span></label>
              <%= f.text_field :exclusivity, :placeholder => "Digite o Exclusividade", :class => "form-control", :required => true %>
              <label for="">Duração<span style="color:red">*</span></label>
              <%= f.text_field :duration, :placeholder => "Digite o Duração", :class => "form-control", :required => true %>
              <label for="">Quantidade de Diárias<span style="color:red">*</span></label>
              <%= f.text_field :qtdDaily, :placeholder => "Digite a Quantidade de Diárias", :class => "form-control", :required => true %>
              <label for="">Descrição do Job<span style="color:red">*</span></label>
              <%= f.text_field :desc, :placeholder => "Digite a Descrição do Job", :class => "form-control", :required => true %>
              <label for="">Cachê - Dia ou Total<span style="color:red">*</span></label>
              <%= f.text_field :cache, :placeholder => "Digite o nome", :class => "form-control", :required => true %>
              <label for="">Teste presencial?<span style="color:red">*</span></label>
              <select class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="job[presential]" >
                <% if iterator.presential == true %>
                  <option value="true" selected >Sim</option>
                  <option value="false">Não</option>
                <% else %>
                  <option value="true" >Sim</option>
                  <option value="false" selected>Não</option>
                <% end %>
              </select>
              <label for="">Aprovação<span style="color:red">*</span></label>
              <select class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="job[aprovationType]" >
                <% if iterator.aprovationType == "1" %>
                  <option value="1" selected >Presencial</option>
                  <option value="2">Online</option>
                <% else %>
                  <option value="1"  >Presencial</option>
                  <option value="2" selected>Online</option>
                <% end %>
              </select>
              <label for="">Aceita Figuração?<span style="color:red">*</span></label>
              <select class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="job[aceitaFiguracao]" >
                <% if iterator.aceitaFiguracao == true %>
                  <option value="true" selected >Sim</option>
                  <option value="false">Não</option>
                <% else %>
                  <option value="true" >Sim</option>
                  <option value="false" selected>Não</option>
                <% end %>
              </select>
              <label for="">O candidato será chamado para realizar algum teste antes de ser aprovado?<span style="color:red">*</span></label>
              <select class="form-control chosen-select" data-placeholder="Escolha se terá teste" id="chosen_teste_status" name="job[aceitaTesteStatus]" >
                <% if iterator.aceitaTesteStatus == true %>
                  <option value="true" selected >Sim</option>
                  <option value="false">Não</option>
                <% else %>
                  <option value="true" >Sim</option>
                  <option value="false" selected>Não</option>
                <% end %>
              </select>
            </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas Vagas", jobs_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
              <h3 class="box-title">Dados da Gravação</h3>
          </div>
          <div class="box-body">
             <label for="">Data<span style="color:red">*</span></label>
              <%= f.text_field :recording_date, :placeholder => "Digite a data", :class => "form-control", :required => true %>
              <label for="">Horário<span style="color:red">*</span></label>
              <%= f.text_field :recording_time, :placeholder => "Digite o horário", :class => "form-control", :required => true %>
              <label for="">Local<span style="color:red">*</span></label>
              <%= f.text_field :recording_place, :placeholder => "Digite o local", :class => "form-control", :required => true %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
              <h3 class="box-title">Candidatos</h3>
          </div>
          <div class="box-body">
             <div class="form-group">                    
                <select multiple class="form-control chosen-select" data-placeholder="Escolha os usuarios" id="chosen_user_app" name="job[usersSubscribed_ids][]" >
                  <% @user_apps.each do |u| %>
                    <% if iterator.usersSubscribed.include?(u) %>
                        <option value="<%= u.id %>" selected><%= u.name %></option>
                    <%  else %>
                        <option value="<%= u.id %>"><%= u.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
              <h3 class="box-title">Dados Adicionais</h3>
          </div>
          <div class="box-body">
             
          </div>
        </div>
      </div>
    </div>
  </div>  
<% end %>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#job_recording_date").inputmask({"mask": "99/99/9999"});
   $("#job_recording_time").inputmask({"mask": "99:99"});
 });
</script>