<div class="row">

  <%= notice_helper %>
  <% cols = ["Titulo", "Tipo de Job","Cliente", "Opções"] %>
  <% path = "jobs" %>
  <% new_button_title = "Nova vaga" %>
  <% remove_title = "Deseja remover esta Vaga?" %>
  <% iterator = @jobs.where(:byWeb.ne => true) %>

  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <a href="<%= path %>/new" class="btn btn-primary pull-right" style="color:white; margin:10px;"> <%= new_button_title %></a>
        </div>
          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.each do |d| %>
                      <tr>
                          <td><%= d.title %></td>
                          <td><%= d.jobType.blank? ? "" : d.jobType.gsub("11", "Série").gsub("1", "Foto Publicitária").gsub("2", "Desfile").gsub("3", "Teatro").gsub("4", "Mídia").gsub("5", "Novela").gsub("6", "Programa").gsub("7", "Filme Publicitário").gsub("8", "Editorial").gsub("9", "Longa").gsub("10", "Curta").gsub("12", "Outros") %></td>
                          <td><%= d.client %></td>
                          <td width="150"> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/<%= path %>/<%= d.id %>/edit"><i class="fa fa-pencil"></i> Editar</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
                <br>
                <br>
          </div>
      </div>
  </div>
  <br>
</div>
<script type="text/javascript">
    $(function() {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
