<% path = "/jobs" %>
<% iterator = @job %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Vaga</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Titulo</label>
                    <%= iterator.title %>
                </div>
                <div class="form-group">
                    <label for="">Tipo de Vaga</label>
                    <%= iterator.jobType.gsub("11", "Série").gsub("1", "Foto Publicitária").gsub("2", "Desfile").gsub("3", "Teatro").gsub("4", "Mídia").gsub("5", "Novela").gsub("6", "Programa").gsub("7", "Filme Publicitário").gsub("8", "Editorial").gsub("9", "Longa").gsub("10", "Curta").gsub("12", "Outros") %>
                </div>
                <div class="form-group">
                    <label for="">Cliente</label>
                    <%= iterator.client %>
                </div>
                <div class="form-group">
                    <label for="">Produtora/Estúdio</label>
                    <%= iterator.studio %>
                </div>
                <div class="form-group">
                    <label for="">Produto</label>
                    <%= iterator.product %>
                </div>
                <div class="form-group">
                    <label for="">Veiculação</label>
                    <%= iterator.placement %>
                </div>
                <div class="form-group">
                    <label for="">Território</label>
                    <%= iterator.territory %>
                </div>
                <div class="form-group">
                    <label for="">Mídia</label>
                    <%= iterator.midia %>
                </div>
                <div class="form-group">
                    <label for="">Exclusividade</label>
                    <%= iterator.exclusivity %>
                </div>
                <div class="form-group">
                    <label for="">Duração</label>
                    <%= iterator.duration %>
                </div>
                <div class="form-group">
                    <label for="">Qtd. Diárias</label>
                    <%= iterator.qtdDaily %>
                </div>
                <div class="form-group">
                    <label for="">Descrição</label>
                    <%= iterator.desc %>
                </div>
                <div class="form-group">
                    <label for="">Cachê</label>
                    <%= iterator.cache %>
                </div>
                <div class="form-group">
                    <label for="">Teste Presencial?</label>
                    <%= iterator.presential ? "Sim" : "Não" %>
                </div>
                <div class="form-group">
                    <label for="">Aprovação</label>
                    <%= iterator.aprovationType %>
                </div>
                <div class="form-group">
                    <label for="">Aceita Figuração</label>
                    <%= iterator.aceitaFiguracao ? "Sim" : "Não" %>
                </div>
                <div class="form-group">
                    <label for="">Teste antes de ser aprovado?</label>
                    <%= iterator.aceitaTesteStatus ? "Sim" : "Não" %>
                </div>
              </div>
              <div class="box-footer">
              	<%= link_to 'Nova', new_job_path,:class => "btn btn-primary" %> |
                 <%= link_to 'Editar', edit_job_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todas vagas", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Gravação</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Data: </label>
                    <%= iterator.recording_date %>
                </div>
                <div class="form-group">
                    <label for="">Horário: </label>
                    <%= iterator.recording_time %>
                </div>
                <div class="form-group">
                    <label for="">Local: </label>
                    <%= iterator.recording_place %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Habilidades Prof</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                  <% iterator.skill_job_contents_prof.each do |i| %>
                    <b><%= i.parent_name %>:</b> <%= i.name %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Habilidades Jr</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                  <% iterator.skill_job_contents_jr.each do |i| %>
                    <b><%= i.parent_name %>:</b> <%= i.name %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Carateristicas</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                  <% iterator.appearance_contents.each do |i| %>
                    <b><%= i.parent_name %>:</b> <%= i.name %>
                    <br>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Candidatos</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <% iterator.usersSubscribed.each do |i| %>
                        <%= i.name.blank? ? "" : i.name %>
                        <br>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
