<style type="text/css">
.input-error {
  color :red;
}
</style>
<%= stylesheet_link_tag    "bootstrap3-wysihtml5.min" %>

<% fields1 = ["message"] %>
<% required_fields = ["message"] %>
<% displayFields = ["Mensagem" ] %>
<% iterator = @notification %>
<% @user_apps = UserApp.all %>
<% title = "Dados da Notificação" %>


<%= form_for(iterator, :validate => true)  do |f| %>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                      <p>Enviar agora? <input type="checkbox" id="sendNow" name="notification[sendNow]" selected="false" value="true"/></p>
                      <div class="form-group">
                          <label for="">Data<span style="color:red">*</span></label>
                          <%= f.text_field :date, :placeholder => "Digite a data", :class => "form-control" %>
                      </div>
                    <% fields1.each do |field| %>
                      <% i = fields1.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "Digite o #{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>

                    <div class="form-group">
                      <label>Usuário</label>
                      <p>Todos os usuários: <input type="checkbox" id="allUsers" name="notification[allUsers]" selected="false"/></p>
                      <select multiple class="form-control chosen-select" data-placeholder="Escolha o projeto" id="userList" name="notification[user_app_ids][]" >
                        <% @user_apps.each do |p| %>
                          <% if iterator.user_apps.include?(p) %>
                              <option value="<%= p.id %>" selected><%= p.name %></option>
                          <%  else %>
                              <option value="<%= p.id %>"><%= p.name %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>

                    <div class="box-footer">
                       <%= f.submit "Salvar", :class => "btn btn-primary" %>
                       <%= link_to "Todas Notificações", notifications_path,:class => "btn btn-primary" %>
                    </div>

                </div>
              </div>
            </div>
     </div>  
<% end %>

<%= javascript_include_tag "bootstrap3-wysihtml5.all.min.js" %>
<script type="text/javascript">
  $(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>

<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#notification_date").inputmask({"mask": "99/99/9999 99:99"}); //specifying options only
  });

 $('#sendNow').click(function(e){
    if ($('#sendNow').prop('checked') == true) {
      $("#notification_date").prop('disabled', true);
    }else{
      $("#notification_date").prop('disabled', false);
    }
 });

  $('#allUsers').click(function(e){
    if ($('#allUsers').prop('checked') == true) {
      $('#userList option').prop('selected', true);
    }else{ 
      $('#userList option').prop('selected', false);
    };
  });
</script>