<div class="row">

  <%= notice_helper %>
  <% cols = ["Criado em", "Mensagem", "Usuarios", "Foi enviada?", "Opções"] %>
  <% path = "notifications" %>
  <% new_button_title = "Nova Notificação" %>
  <% iterator = @notifications.desc(:created_at) %>
  <% remove_title = "Deseja remover a Notificação?" %>

  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
              <a href="<%= path %>/new" class="btn btn-primary pull-right" style="color:white; margin:10px;"> <%= new_button_title %></a>
          </div><!-- /.box-header -->

          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.each do |d| %>
                      <tr>
                        <td><%= d.created_at.nil? ? nil : d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                        <td><%= d.message %></td>
                        <td>
                          <% d.user_apps.each do |u| %>
                            <%= link_to u.name , u  %>
                            <br>
                          <% end %>
                        </td> 
                        <td><%= d.sent ? "Sim" : "Não" %></td>

                        <td width="150px">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                        </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
  <br>
  <br>
  <br>

          </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
  <br>
</div>


  <script type="text/javascript">
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": false,
              "bInfo": true,
              "bAutoWidth": true
          });
      });
  </script>
