<style type="text/css">
.input-error {
  color :red;
}
</style>
<% fields1 = ["message"] %>
<% displayFields = ["Mensagem" ] %>
<% iterator = @notification %>
<% title = "Dados da Notificação" %>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="">Criado em </label>
                        <%= iterator.created_at.nil? ? "" : iterator.created_at.strftime("%d/%m/%Y %H:%M") %>
                    </div>
                    <div class="form-group">
                        <label for="">Data </label>
                        <%= iterator.date.nil? ? "" : iterator.date.strftime("%d/%m/%Y %H:%M") %>
                    </div> 
                    <% fields1.each do |field| %>
                        <% i = fields1.index(field) %>
                        <div class="form-group">
                            <label for=""><%=displayFields[i] %> </label>
                            <%= iterator[field] %>
                        </div> 
                    <% end %>
                    <div class="form-group">
                        <label for="">Usuários: </label>
                        <% iterator.user_apps.each do |u| %>
                            <br><%= link_to u.name, u %>
                            
                        <% end %>
                    </div>
                </div>
                <div class="box-footer">
                    <%= link_to 'Nova notificação', new_notification_path(:notice_id => iterator.id),:class => "btn btn-primary" %> |
                    <%= link_to "Todas notificações", notifications_path,:class => "btn btn-primary" %> 
                </div>
            </div>
        </div>
    </div> 