<style type="text/css">
.input-error {
  color :red;
}
</style>

<% fields = ["name", "email"] %>
<% required_fields = ["name", "email"] %>
<% displayFields = ["Nome", "E-mail"] %>
<% iterator = @user %>
<% title = "Dados do Administrador" %>

<div class="row">
<%= form_for(iterator, :validate => true)  do |f| %>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><%= title %></h3>
                </div>
                <div class="box-body">
                    <% fields.each do |field| %>
                      <% i = fields.index(field) %>
                      <div class="form-group">
                          <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                          <%= f.text_field field, :placeholder => "#{displayFields[i]}", :class => "form-control" %>
                      </div>
                    <% end %>

                    <div class="form-group">
                      <label for="">Senha<span style="color:red">*</span></label>
                      <%= f.password_field :password, :autocomplete => "off",:placeholder => "Senha", :class => "form-control"%>
                    </div>
                    <div class="form-group">
                      <label for="">Confirme a senha<span style="color:red">*</span></label>
                      <%= f.password_field :password_confirmation, :autocomplete => "off",:placeholder => "Confirme a senha", :class => "form-control"%>
                    </div>

                    <div class="form-group">
                      <label for="">Foto</label>
                      <%= f.file_field :picture %>
                      <br>
                      <%= link_to iterator.picture.to_s.eql?("/pictures/original/missing.png") ? "" : iterator.picture_file_name, iterator.picture.to_s.eql?("/pictures/original/missing.png") ? "" : iterator.picture.to_s, target: '_blank' %>
                    </div>
                  </div>
                  <div class="box-footer">
                     <%= f.submit "Salvar", :class => "btn btn-primary" %>
                  </div>
            </div>
      </div>  
     </div>  
<% end %>
</div>  
<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#user_cpf").inputmask({"mask": "999.999.999-99"}); 
   $("#user_birthday").inputmask({"mask": "99/99/9999"});
   $("#user_phone").inputmask({"mask": "(99)99999-9999"});   });
</script>

