<div class="row">

  <%= notice_helper %>
    <% cols = ["Nome","E-mail", "Opções"] %>
  <% path = "users" %>
  <% new_button_title = "Novo usuário" %>
  <% remove_title = "Deseja remover o Usuário?" %>
  <% iterator = @users %>

  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <a href="<%= path %>/new" class="btn btn-primary pull-right" style="color:white; margin:10px;"> <%= new_button_title %></a>
        </div><!-- /.box-header -->

          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.each do |d| %>
                      <tr>
                          <td><%= d.name %></td>
                          <td><%= d.email %></td>
                          <td> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="/<%= path %>/<%= d.id %>/edit"><i class="fa fa-pencil"></i> Editar</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                          </td>

                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

          </div><!-- /.box-body -->
      </div><!-- /.box -->
  </div>
  <br>
</div>


  <script type="text/javascript">
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bAutoWidth": true
          });
      });
  </script>
