<p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                      <h3 class="box-title">Dados do Administrador</h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <a href="<%= @user.picture.to_s == "/pictures/original/missing.png" ? "/img/perfil-foto-missing.png" : @user.picture.to_s %>" target="blank"> 
                        <img src='<%= @user.picture.to_s == "/pictures/original/missing.png" ? "/img/perfil-foto-missing.png" : @user.picture.to_s %>' width='80px' height='80px' alt='<%= @user.picture.path %>'>
                      <%#= link_to "Foto", @user.picture.url(:original) %>
                    </a>
                  </div>
                  
                  <div class="form-group">
                      <label for="">Data de Criação</label>
                      <%= @user.created_at.strftime("%d/%m/%Y %H:%M") %>
                  </div>

                  <div class="form-group">
                      <label for="">Nome</label>
                      <%= @user.name %>
                  </div>
                  <div class="form-group">
                      <label for="">Email</label>
                      <%= @user.email %>
                  </div>
                </div>
                <div class="box-footer">
                   <%= link_to 'Editar', edit_user_path(@user),:class => "btn btn-primary" %>
                </div>
            </div>
        </div>
  </div>

<%= javascript_include_tag "jquery.datatable.js" %>
<%= javascript_include_tag "dataTable.js" %>

<script type="text/javascript">
      $(function() {
          $('#example3').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example2').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example1').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });
      $(function() {
          $('#example4').dataTable({
              "bPaginate": true,
              "bLengthChange": true,
              "bFilter": true,
              "bSort": true,
              "bInfo": true,
              "bSearch": true,
              "bAutoWidth": true
          });
      });

</script>