<div class="form-box" id="login-box">
    <div class="header">Alterar Senha</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token, :value => params[:reset_password_token]  %>
      <div class="body ">
          <div class="form-group">
            <%= f.password_field :password, :autofocus => true, placeholder: "Senha",:class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, :autofocus => true, placeholder: "Confirme a Senha",:class => "form-control" %>
          </div>

          <div class="footer">                                                               
             <%= f.submit "Alterar Senha", :class => "btn btn-primary btn-block btn-flat" %>
          </div>
   
<% end %>

</div>