<div class="form-box" id="login-box">
    <div class="header">Esqueci minha senha</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name))  do |f| %>
      <div class="body ">
          <div class="form-group">
            <%= f.email_field :email, :autofocus => true, placeholder: "E-Mail",:class => "form-control" %>
          </div>
          <div class="footer">                                                               
             <%= f.submit "Enviar Email de Recuperação", :class => "btn btn-primary btn-block btn-flat" %>
          </div>
   
<% end %>

</div>