<footer class="section-home-e" id="contato">
	<div class="container">
		<h2 class="title">Contato</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="box-wrapper">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/LogoHorizontal.png">
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-xs-6" style="margin-top: 15px;">
									<div class="row">
										<div class="col-xs-1"><img src="/img/ic_phone.svg"></div>
										<div class="col-xs-11">
											+55 11 5505.3667
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<style type="text/css">
	.section-home-e {
	    background: #F4F3F3;
	    padding: 10px 0 50px;
	    font-size: 16px;
	}
</style>