<footer class="section-home-e" id="contato">
	<div class="container">
		<h2 class="title">Contato</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="box-wrapper">
					<div class="row">
						<div class="col-md-4">
							<img src="img/logo.svg">
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-xs-1"><img src="img/ic_local.svg"></div>
								<div class="col-xs-11">R. Taperoá, 206 - CEP: 04571-060 Brooklin Novo - São Paulo - SP</div>
							</div>
							<br />
							<div class="row">
								<div class="col-xs-6">
									<div class="row">
										<div class="col-xs-1"><br /><img src="img/ic_phone.svg"></div>
										<div class="col-xs-11">
											+55 11 5505.2889<br />
											+55 11 5505.3296<br />
											+55 11 5505.3667
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="row">
										<div class="col-xs-1"><img src="img/ic_whatsapp.svg"></div>
										<div class="col-xs-11">+55 11 97698.7808</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>