<style type="text/css">
	.user-image{
	    border-radius: 50%;
    	width: 50px;
	}

	#headersite .menu {
	    margin: 20px 20px 15px 0 !important;
	}

</style>
<nav id="headersite">
	<div class="container-fluid">
		<div id="menu-bars">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		<a href="/" class="logo" title="Mondiale"><img src="img/logo.svg" alt="Mondiale Logo"></a>
		<div class="menu">
			<ul>
				<% if current_user.class == UserApp %>
				Elenco
					<li><a href="/" data-scroll="home">Home</a></li>
					<li>
						<a href="#" class="">
				          <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
				            <img src="img/perfil-foto-missing.png" class="user-image" alt="User Image">
				          <% else %>
				            <img src="<%= current_user.picture.url %>" class="user-image" alt="User Image">
				          <% end %>
				        </a>
				    </li>
				<% elsif current_user.class == UserProducer %>
				Produtor
					<li><a href="/" data-scroll="home">Home</a></li>
					<li>
						<a href="#" class="">
				          <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
				            <img src="img/perfil-foto-missing.png" class="user-image" alt="User Image">
				          <% else %>
				            <img src="<%= current_user.picture.url %>" class="user-image" alt="User Image">
				          <% end %>
				        </a>
				    </li>
				<% elsif current_user.class == SuperAdmin %>
				Admin
					<li><a href="/" data-scroll="home">Home</a></li>
					<li>
						<a href="#" class="">
				          <% if current_user.picture.nil? || current_user.picture.url == "/pictures/original/missing.png" %>
				            <img src="img/perfil-foto-missing.png" class="user-image" alt="User Image">
				          <% else %>
				            <img src="<%= current_user.picture.url %>" class="user-image" alt="User Image">
				          <% end %>
				        </a>
				    </li>
				<% else %>
					<li><a href="/" data-scroll="home">Home</a></li>
					<li><a href="#" data-izimodal-open="#souelenco">Sou Elenco</a></li>
					<li><a href="#" data-izimodal-open="#souprodutor">Sou Produtor</a></li>
					<li><a href="#" data-scroll="sobre">Sobre</a></li>
					<li><a href="#" data-scroll="trabalhos">Trabalhos</a></li>
					<li><a href="#">Book Profissional</a></li>
					<li><a href="#" data-scroll="comentarios">Comentários</a></li>
					<li><a href="#" data-scroll="contato">Contato</a></li>
					<li><a href="#" data-izimodal-open="#souelenco"><span>Login</span></a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>