<style type="text/css">
	.formbkBlank{
		width: 100%; 
		display: none; 
		height: 100%; 
		position: fixed; 
		z-index: 9998;
		background-color: rgba(255, 255, 255, 0.85);
		top: 0px;
	}
</style>
<div id="souelenco" class="modal" data-izimodal-transitionin="fadeInDown">
	<div class="modalWrapper align-center">
		<h2 class="title">Sou Elenco</h2>
		<p>Se você é ator/atriz, modelo, figurante ou tem alguma habilidade e interesse em participar de seleção de elenco, cadastre-se gratuitamente. Seu perfil completo é a melhor forma de ser considerado, apresentar seu trabalho e referências artísticas para os produtores e diretores em todos trabalhos. Caso seja agenciado, como ética profissional, você deve indicar os Agentes e Agências que possuem seu material para apresentação.</p>
		<p>Com seu <b>LOGIN</b> e <b>SENHA</b> você poderá manter seu registro sempre atualizado. <b>Seja bem vindo(a)!</b></p>

		<!--Forms-->
		<div class="row">
			<div class="col-md-6">
				<div class="align-center modal-form">
					<h4 class="modal-form-title">Já sou cadastrado</h4>
					<div class="modal-form-wrapper">
						<form name="cadastrado" method="post" action="/web/users/signin/" class="form">
							<input type="text" name="email" placeholder="Seu e-mail">
							<input type="password" name="senha" placeholder="Sua senha">
							<a href="#">Esqueci minha senha</a>
							<button type="submit" class="btn">Enviar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="align-center modal-form">
					<h4 class="modal-form-title">Quero me cadastrar</h4>
					<div class="modal-form-wrapper">
						<form name="cadastrar" method="post" class="form">
							<input type="text" name="email" placeholder="Seu e-mail">
							<button type="submit" class="btn">Cadastrar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>
<div id="souprodutor" class="modal">
	<div class="modalWrapper">
		<h2 class="title">Sou Produtor</h2>
		<div class="align-center modal-form">
			<h4 class="modal-form-title">Já sou cadastrado</h4>
			<div class="modal-form-wrapper">
				<form name="souprodutor" method="post" class="form">
					<input type="text" name="email" placeholder="Seu e-mail">
					<input type="password" name="senha" placeholder="Sua senha">
					<a href="#">Esqueci minha senha</a>
					<button type="submit" class="btn">Enviar</button>
				</form>
			</div>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>
<div id="resultadoPesquisa" class="modal text-center">
	<div class="modalWrapper">
		<h1>Sucesso!</h1>
		<p>Encontramos</p>
		<h1><%= @users.nil? ? "0" : @users.count %></h1>
		<p>Usuários com esse Perfil</p>
		<a data-izimodal-close=""><div class="btn">Ver Agora</div></a>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="blankpage" class="formbkBlank"></div>
<div id="waiting" class="modal" style="z-index: 9999; height: 60%;">
	<div class="row">
		<div class="col-md-12" style="margin-top: 50px;">
			<div class="align-center">
				<h3>Aguarde ...</h3>
				<img src="/img/loading.gif" style="margin-top: -15px;" />
			</div>
		</div>
	</div>
</div>