<div id="selectHabilidadesDanca" class="skillModal" data-input="habilidadesDanca">
	<!--Habilidades Dança-->
	<div class="modalWrapper">
		<h2 class="title">Habilidades de Dança</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="danca1" id="danca1" data-display="Danca 1"> Danca 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="danca2" id="danca2" data-display="Danca 2"> Danca2 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="selectHabilidadesCirco" class="skillModal" data-input="habilidadesCirco">
	<!--Habilidades Circo-->
	<div class="modalWrapper">
		<h2 class="title">Habilidades de Circo</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="opcao1" id="opcao1" data-display="Opção 1"> Opção 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="opcao2" id="opcao2" data-display="Opção 2"> Opção 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="selectHabilidadesDirecao" class="skillModal" data-input="habilidadesDirigir">
	<div class="modalWrapper">
		<!--Habilidades Direção-->
		<h2 class="title">Habilidades Direção</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="opcao1" id="opcao1" data-display="Opção 1"> Opção 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="opcao2" id="opcao2" data-display="Opção 2"> Opção 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="selectHabilidadesEsporte" class="skillModal" data-input="habilidadesEsporte">
	<!--Habilidades Esporte-->
	<div class="modalWrapper">
		<h2 class="title">Habilidades de Esporte</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="opcao1" id="opcao1" data-display="Opção 1"> Opção 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="opcao2" id="opcao2" data-display="Opção 2"> Opção 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="selectHabilidadesMusica" class="skillModal" data-input="habilidadesMusica">
	<!--Habilidades Musica-->
	<div class="modalWrapper">
		<h2 class="title">Habilidades de Música</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="opcao1" id="opcao1" data-display="Opção 1"> Opção 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="opcao2" id="opcao2" data-display="Opção 2"> Opção 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>

<div id="selectHabilidadesOutros" class="skillModal" data-input="habilidadesOutros">
	<!--Habilidades Outros-->
	<div class="modalWrapper">
		<h2 class="title">Outras Habilidades</h2>
		<div class="modal-select">
			<div class="row">
				<div class="col-md-6">
					<ul class="selected">
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="no-selected">
						<li>
							<label for="opcao1">
								<input type="checkbox" value="opcao1" id="opcao1" data-display="Opção 1"> Opção 1
							</label>
						</li>
						<li>
							<label for="opcao2">
								<input type="checkbox" value="opcao2" id="opcao2" data-display="Opção 2"> Opção 2
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="align-center">
			<button class="btn btn-green" style="margin: 0 auto;" data-izimodal-close="">Salvar</button>
		</div>
	</div>
	<div class="close"><a data-izimodal-close="">×</a></div>
</div>