<h1>Listing status_user_jobs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_user_jobs.each do |status_user_job| %>
  <tr>
    <td><%= link_to 'Show', status_user_job %></td>
    <td><%= link_to 'Edit', edit_status_user_job_path(status_user_job) %></td>
    <td><%= link_to 'Destroy', status_user_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status user job', new_status_user_job_path %>
