<%= notice_helper %>
   <div class="col-lg-12 col-xs-12">
      <div class="row">
         <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-aqua">
               <div class="inner">
                  <h3 id="contador1"></h3>
                  <p> Produtores</p>
               </div>
               <div class="icon">
                  <i class="fa fa-building-o"></i>
               </div>
               <a href="/user_producers" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
         </div>
         <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-yellow">
               <div class="inner">
                  <h3 id="contador2"></h3>
                  <p> Elenco</p>
               </div>
               <div class="icon">
                  <i class="fa fa-users"></i>
               </div>
               <a href="/user_apps" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
         </div>
         <div class="col-lg-4 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-green">
               <div class="inner">
                  <h3 id="contador3"></h3>
                  <p> Vagas</p>
               </div>
               <div class="icon">
                  <i class="fa fa-list"></i>
               </div>
               <a href="/jobs" class="small-box-footer">Detalhes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
         </div>
      </div>
   </div>


<script type="text/javascript">
   var i1 = 0;                    
   var i2 = 0;                    
   var i3 = 0;                    
   var totalUserProducer = <%= UserProducer.all.count.to_s %>;
   var totalUserApp = <%= UserApp.all.count.to_s %>;
   var totalJob = <%= Job.all.count.to_s %>;
   function myLoop1 () {           
      setTimeout(function () {    
         $('#contador1').html(i1);          
         i1++;                     
         if (i1 <= totalUserProducer) {           
            myLoop1();             
         }
      }, 10)
   }
   function myLoop2 () { 
      setTimeout(function () {    
         $('#contador2').html(i2);          
         i2++;                     
         if (i2 <= totalUserApp) {           
            myLoop2();             
         }
      }, 10)
   }
   function myLoop3 () { 
      setTimeout(function () {    
         $('#contador3').html(i3);          
         i3++;                     
         if (i3 <= totalJob) {           
            myLoop3();             
         }
      }, 10)
   }
   myLoop1();
   myLoop2();
   myLoop3();
</script>