<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @answer %>
<% title = "Dados da Reposta" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Conteudo<span style="color:red">*</span></label>
              <%= f.text_field :content, :placeholder => "Digite o conteudo", :class => "form-control", :required => true %>
          </div>

          <div class="form-group">
            <label for="">Imagem</label>
            <%= f.file_field :picture %>
            <br>
            <a href="<%= iterator.picture.to_s %>" target="blank"> 
                <img src='<%= iterator.picture.to_s %>' width='100px' height='100px' alt='<%= iterator.picture.path %>'>
            </a>
          </div>

          <div class="form-group">
            <label for="">Vídeo</label>
            <%= file_field_tag "video", type: :file, multiple: false %>
            <br>
            <% if !iterator.video.nil? %>
              <% if iterator.file.url == "/files/original/missing.png" %>
                  Sem vídeo
              <% else %>
                  <a href="<%= iterator.file.to_s %>" target="blank"> 
                    <video src='<%= iterator.file.to_s %>' width='100px' height='100px' alt='<%= iterator.file.path %>'>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas respostas", answers_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>