<div class="row">

  <%= notice_helper %>
  <% cols = ["Criado em","Pergunta","Usuário","Resposta","Opções"] %>
  <% path = "answers" %>
  <% remove_title = "Deseja remover esta Resposta?" %>
  <% iterator = @answers.desc(:created_at) %>

  <div class="col-xs-12">
      <div class="box">
          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.each do |d| %>
                      <tr>
                          <td><%= d.created_at.nil? ? "" : d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                          <td><%= d.question.title %></td>
                          <td><%= d.user_app.name %></td>
                          <td>
                            <% if d.question.type == 2 || d.question.type == 3 %> 
                              <% if !d.file.nil? %>
                                <% if d.file.to_s != "/files/original/missing.png" %>
                                  <% if d.question.type == 2 %>
                                    <img src='<%= d.file.to_s %>' width='100px' height='100px'>
                                  <% else %>
                                    <video src='<%= d.file.to_s %>' width='100px' height='100px'>
                                  <% end %>
                                <% else %>
                                  Sem conteúdo
                                <% end %>
                              <% end %>
                            <% else %>
                              <%= d.content %>
                            <% end %>
                          </td>
                          <td width="150"> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/<%= path %>/<%= d.id %>/edit"><i class="fa fa-pencil"></i> Editar</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
                <br>
                <br>
          </div>
      </div>
  </div>
  <br>
</div>
<script type="text/javascript">
    $(function() {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
