<% path = "/answers" %>
<% iterator = @answer %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Resposta</h3>
            </div>
            <div class="box-body">
            	<div class="form-group">
                    <label for="">Pergunta</label>
                    <%= sad iterator.question.blank? ? "" : iterator.question.title %>
                </div>
                <div class="form-group">
                    <label for="">Conteudo</label>
                    <%= iterator.content %>
                </div>
                <div class="form-group">
                    <label for="">Imagem</label>
	              	<% if iterator.picture.to_s == "/pictures/original/missing.png" %>
		                  Sem imagem
	              	<% else %>
	                    <%= iterator.picture.to_s %>
                    <% end %>
                </div>
                <div class="form-group">
                    <label for="">Video</label>
                    <% if !iterator.video.nil? %>
	                    <% if iterator.video.file.url == "/files/original/missing.png" %>
		                  	Sem vídeo
		              	<% else %>
		                    <video src="<%= iterator.video.file.to_s %>" width="200" height="200">
	                    <% end %>
                    <% end %>
                </div>
            </div>
            <div class="box-footer">
                <%= link_to 'Nova', new_answer_path,:class => "btn btn-primary" %> |
                <%= link_to 'Editar', edit_answer_path(iterator),:class => "btn btn-primary" %> |
                <%= link_to "Todas repostas", path,:class => "btn btn-primary" %> 
            </div>
        </div>
    </div>
</div>
