<style type="text/css">
.input-error {
  color :red;
}
</style>

<% fields = ["name", "email", "birthday"] %> 
<% required_fields = ["name", "email"] %>
<% displayFields = ["Nome", "E-mail", "Data de nascimento"] %>

<% fields2 = ["cpf", "rg", "rgStartDate", "orgaoEmissor", "ufEmissor", "passportNationality", "passportExpireDate", "cnhCategory", "cnhExpireDate"] %> 
<% required_fields2 = [""] %>
<% displayFields2 = ["CPF", "RG", "Data de Emissao", "Orgão Emissor", "UF Emissor", "Nacionalidade do Passaporte", "Data de Validade do Passaporte", "Categoria CNH", "Validade CNH"] %>

<%# fields3 = ["altura", "peso", "calcado", "camisa", "terno", "busto", "cintura", "quadril"] %> 
<%# required_fields3 = [""] %>
<%# displayFields3 = ["Altura", "Peso", "Calçado", "Camisa", "Terno", "Busto", "Cintura", "Quadril"] %>

<% iterator = @user_app %>
<% title = "Dados do Usuário" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <% fields.each do |field| %>
            <% i = fields.index(field) %>
            <div class="form-group">
                <label for=""><%=displayFields[i] %><span style="color:red"><%= required_fields.include?(field) ? "*" : "" %></span></label>
                <%= f.text_field field, :placeholder => "#{displayFields[i]}", :class => "form-control" %>
            </div>
          <% end %>
          <!-- Gender -->
          <div class="form-group">
            <label>Sexo<span style="color:red">*</span></label>                    
            <select class="form-control chosen-select" data-placeholder="Escolha o sexo" id="chosen_gender" name="user_app[gender]" >
              <% genders = [[1,'Masculino'], [2,'Feminino']] %>
              <% genders.each do |(k,s)| %>
                <% if iterator.gender == k %>
                  <option value=<%= "#{k}" %> selected > <%= "#{s}" %></option>
                <% else %>
                  <option value=<%= "#{k}" %>> <%= "#{s}" %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <div class="form-group">
            <label for="">Imagem</label>
            <%= f.file_field :picture %>
            <br>
            <a href="<%= iterator.picture.to_s %>" target="blank"> 
                <img src='<%= iterator.picture.to_s %>' width='100px' height='100px' alt='<%= iterator.picture.path %>'>
            </a>
          </div>
          <div class="form-group">
            <label for="">Senha<span style="color:red">*</span></label>
            <%= f.password_field :password, :autocomplete => "off",:placeholder => "Senha", :class => "form-control"%>
          </div>
          <div class="form-group">
            <label for="">Confirme a senha<span style="color:red">*</span></label>
            <%= f.password_field :password_confirmation, :autocomplete => "off",:placeholder => "Confirme a senha", :class => "form-control" %>
          </div>
        </div>
        <div class="box-footer">
           <%= f.submit "Salvar", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Dados de Documentos</h3>
        </div>
        <div class="box-body">
          <% fields2.each do |field| %>
            <% i = fields2.index(field) %>
            <div class="form-group">
                <label for=""><%=displayFields2[i] %><span style="color:red"><%= required_fields2.include?(field) ? "*" : "" %></span></label>
                <%= f.text_field field, :placeholder => "#{displayFields2[i]}", :class => "form-control" %>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Dados Adicionais</h3>
        </div>
        <div class="box-body">
          <%# fields3.each do |field| %>
            <%# i = fields3.index(field) %>
            <div class="form-group">
                <label for=""><%#=displayFields3[i] %><span style="color:red"><%#= required_fields3.include?(field) ? "*" : "" %></span></label>
                <%#= f.text_field field, :placeholder => "#{displayFields3[i]}", :class => "form-control" %>
            </div>
          <%# end %>  
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <!-- <div class="col-md-4">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Características</h3>
        </div>
        <div class="form-group">                    
          <select multiple class="form-control chosen-select" data-placeholder="Escolha o detalhe" id="chosen_skill_contentss" name="user_app[appearance_content_ids][]" >
            <%# AppearanceContent.all.each do |p| %>
              <%#if iterator.appearance_contents.include?(p)%>
                  <option value="<%#= p.id %>" selected><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%#  else %>
                  <option value="<%#= p.id %>"><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%# end %>
            <%# end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Habilidades Profissionais</h3>
        </div>
        <div class="form-group">                    
          <select multiple class="form-control chosen-select" data-placeholder="Escolha o detalhe" id="chosen_skill_contents" name="user_app[skill_contents_prof_ids][]" >
            <%# SkillContent.all.each do |p| %>
              <%#if iterator.skill_contents_prof.include?(p)%>
                  <option value="<%#= p.id %>" selected><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%#  else %>
                  <option value="<%#= p.id %>"><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%# end %>
            <%# end %>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
            <h3 class="box-title">Habilidades Amadoras</h3>
        </div>
        <div class="form-group">                    
          <select multiple class="form-control chosen-select" data-placeholder="Escolha o detalhe" id="chosen_skill_contents" name="user_app[skill_contents_jr_ids][]" >
            <%# SkillContent.all.each do |p| %>
              <%#if iterator.skill_contents_jr.include?(p)%>
                  <option value="<%#= p.id %>" selected><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%#  else %>
                  <option value="<%#= p.id %>"><%#= p.name %> (<%#= p.parent_name %>)</option>
              <%# end %>
            <%# end %>
          </select>
        </div>
      </div>
    </div> -->
  </div>
<% end %> 
<%= javascript_include_tag "inputmask.js" %>
<%= javascript_include_tag "inputmask_extensions.js" %>

<script type="text/javascript">
jQuery(function($){
   $("#user_app_birthday").inputmask({"mask": "99/99/9999"});
   $("#user_app_cellphone").inputmask({"mask": "(99)99999-9999"});   
   $("#user_app_cpf").inputmask({"mask": "999.999.999-99"});   
 });
</script>

