<div class="row">

  <%= notice_helper %>
  <% cols = ["Foto","Nome","E-mail", "Status", "Opções"] %>
  
  <% path = "user_apps" %>
  <% new_button_title = "Novo elenco" %>
  <% remove_title = "Deseja remover o Usuário do App?" %>
  <% iterator = @user_apps %>

  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
            <a href="<%= path %>/new" class="btn btn-primary pull-right" style="color:white; margin:10px;"> <%= new_button_title %></a>
        </div>
          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    
                    <% iterator.each do |d| %>
                      <tr>
                          <td width="50px"><img src='<%= d.picture.to_s %>' width='100px' height='100px' alt='<%= d.picture.path %>'></td>
                          <td><%= d.name %></td>
                          <td><%= d.email %></td>
                          <td width="50px">
                            <% if d.acceptProfile == 1 %>
                              <label class="label label-success">Aprovado</label>
                            <% elsif d.acceptProfile == 0 %>
                              <label class="label label-warning">Aguardando aprovação</label>
                            <% else %>
                              <label class="label label-danger">Reprovado</label>
                            <% end %>
                          </td>
                          <td width="150"> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="<%= approve_path(d.id) %>"><i class="fa fa-check text-green"></i> Aprovar Perfil</a></li>
                                    <li><a href="<%= repprove_path(d.id) %>"><i class="fa fa-close text-red"></i> Reprovar Perfil</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
          </div>
      </div>
  </div>
  <br>
</div>
<script type="text/javascript">
    $(function() {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
