<% path = "/user_apps" %>
<% iterator = @user_app %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados do Usuário do App</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <% if iterator.acceptProfile == 1 %>
                      <label class="label label-success">Aprovado</label>
                    <% elsif iterator.acceptProfile == 0 %>
                      <label class="label label-warning">Aguardando aprovação</label>
                    <% else %>
                      <label class="label label-danger">Reprovado</label>
                    <% end %>
                </div>
                <!-- <div class="form-group">
                    <label for="">Id</label>
                    <%#= iterator.id %>
                </div> -->
                <div class="form-group">
                  <a href="<%= iterator.picture.to_s %>" target="blank"> 
                      <img src='<%= iterator.picture.to_s %>' width='100px' height='100px' alt='<%= iterator.picture.path %>'>
                  </a>
                </div>

                <div class="form-group">
                    <label for="">Data de Criação</label>
                    <%= iterator.created_at.strftime("%d/%m/%Y %H:%M") %>
                </div>
                <div class="form-group">
                    <label for="">Nome</label>
                    <%= iterator.name %>
                </div>
                <div class="form-group">
                    <label for="">Data de nascimento</label>
                    <%= iterator.birthday %>
                </div>
                <div class="form-group">
                    <label for="">Sexo</label>
                    <% case iterator.gender
                        when "1" %>
                        Masculino
                      <% when "2" %>
                        Feminino
                    <% end %>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <%= iterator.email %>
                </div>
                <div class="form-group">
                    <label for="">Celular</label>
                    <%= iterator.cellphone %>
                </div>
                
              </div>
              <div class="box-footer">
                 <%= link_to 'Editar', edit_user_app_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todos usuários", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Jobs</h3>
            </div>
            <div class="box-body">
                <% iterator.jobsSubscribed.each do |j| %>
                    <div class="form-group">
                        <label for="">Vaga</label>
                        <%= j.title %> 
                        <br>
                        <label for="">Situação</label>
                        <%= iterator.status_user_jobs.where(:job_id => j.id, :complete => true).first.status_title %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>