<%= form_for(@mannequin_size) do |f| %>
  <% if @mannequin_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mannequin_size.errors.count, "error") %> prohibited this mannequin_size from being saved:</h2>

      <ul>
      <% @mannequin_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
