<h1>Listing mannequin_sizes</h1>

<table>
  <tr>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mannequin_sizes.each do |mannequin_size| %>
  <tr>
    <td><%= mannequin_size.size %></td>
    <td><%= link_to 'Show', mannequin_size %></td>
    <td><%= link_to 'Edit', edit_mannequin_size_path(mannequin_size) %></td>
    <td><%= link_to 'Destroy', mannequin_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mannequin size', new_mannequin_size_path %>
