<p id="notice"><%= notice %></p>

<p>
  <b>Size:</b>
  <%= @mannequin_size.size %>
</p>


<%= link_to 'Edit', edit_mannequin_size_path(@mannequin_size) %> |
<%= link_to 'Back', mannequin_sizes_path %>
