<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Solicitação de aprovação Mondiale Casting</h1>
    <p><strong>Nome: </strong> <%= @user.name.nil? ? "" : @user.name %></p>
    <p><strong>Email: </strong> <%= @user.email.nil? ? "" : @user.email %></p>
    <p>Este candidato acaba de se inscrever no Mondiale e aguarda a aprovação do Administrador para que ele possa se tornar usuário e para ser pesquisado.</p>
  </body>
</html>