<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lista de candidatos para <%= @users.blank? ? "" : @users[0].job.title %></h1>
    <% @users.each do |user| %>
	    <p><%= user.name.blank? ? "" : user.name %></p>
	    <p>https://mondialeapp.herokuapp.com/publicPerfil?perfil=<%= user.id %></p>
	    <br>
	<% end %>
	<p>Total de <%= @users.count %> candidatos</p>
  </body>
</html>