<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Seu cadastro foi aprovado na plataforma Mondiale Casting</h1>
    <p>Parabéns <%= @user.name.nil? ? "candidato" : @user.name %> pela sua aprovação!</p>
    <p>Agora você faz parte da Mondiale Casting. Mantendo seu perfil sempre atualizado você terá mais chances de ser chamado para algum teste com nossos parceiros.</p>
    <p>Boa sorte</p>
  </body>
</html>