<% path = "/schoolings" %>
<% iterator = @schooling %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Escolaridade</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Nome</label>
                    <%= iterator.name %>
                </div>
            </div>
            <div class="box-footer">
                <%= link_to 'Nova', new_schooling_path,:class => "btn btn-primary" %> |
                <%= link_to 'Editar', edit_schooling_path(iterator),:class => "btn btn-primary" %> |
                <%= link_to "Todas escolaridade", path,:class => "btn btn-primary" %> 
            </div>
        </div>
    </div>
</div>
