<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @appearance_content %>
<% @appearances = Appearance.all %>
<% title = "Dados do Conteúdo da Característica" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Nome<span style="color:red">*</span></label>
              <%= f.text_field :name, :placeholder => "Digite o nome", :class => "form-control", :required => true %>
          </div>

          <!--Caracteristica-->
          <div class="form-group">
            <label>Selecione uma Característica</label>
              <select class="form-control chosen-select" data-placeholder="Escolha o formulario" id="chosen_appearance" name="appearance_content[appearance]">
                <% @appearances.each do |u| %>
                  <% if iterator.appearance == u %>
                      <option value="<%= u.id %>" selected><%= u.name %></option>
                  <% else %>
                      <option value="<%= u.id %>"><%= u.name %></option>
                  <% end %>
                <% end %>
              </select>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todos Conteúdos da Característica", appearance_contents_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>
