<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @job %>
<% title = "Dados da Pesquisa" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <input type="hidden" name="pageSearch" value="true">
          <!-- title -->
          <div class="form-group">
              <label for="">Titulo<span style="color:red">*</span></label>
              <%= f.text_field :title, :placeholder => "Digite um titulo", :class => "form-control", :required => true %>
          </div>

          <!-- perfil -->
          <div class="form-group">
              <label for="">Perfil que procuramos<span style="color:red">*</span></label>
              <%= f.text_area :perfil, :placeholder => "Digite sobre o perfil", rows: 3, :class => "form-control", :required => true %>
          </div>

          <!-- desc -->
          <div class="form-group">
              <label for="">Descrição<span style="color:red">*</span></label>
              <%= f.text_area :desc, :placeholder => "Digite uma descrição", rows: 3, :class => "form-control", :required => true %>
          </div>

          <!-- regras -->
          <div class="form-group">
              <label for="">Regras/Dicas<span style="color:red">*</span></label>
              <%= f.text_area :rules, :placeholder => "Digite as regras/dicas", rows: 3, :class => "form-control", :required => true %>
          </div>


          <!-- Perguntas -->
          <% perguntas =  iterator.questions.where(:type => 0) %>
          <% if perguntas.count > 0 %>
            <div class="form-group">
                <label for="">Perguntas<span style="color:red">*</span></label>
                <br>
                <% perguntas.each do |p| %>
                  <input type="text" name="perguntaType[<%= p.id %>]" id="perguntaType_<%= p.id %>" value="<%= p.title %>" class="form-control">
                <% end %>
            </div>
          <% end %>
          <!-- end -->

        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas Pesquisas", user_applicants_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div> 
<% end %>