<div class="row">

  <%= notice_helper %>
  <% cols = ["Criado em", "Título","Qtd. Candidatos", "Opções"] %>
  <% path = "user_applicants" %>
  <% remove_title = "Deseja remover esta Pesquisa?" %>
  <% iterator = @jobs %>

  <div class="col-xs-12">
      <div class="box">
      <div class="box-header">
            <a href="/openJob" target="blank" class="btn btn-primary pull-right" style="color:white; margin:10px;">Criar nova Pesquisa</a>
        </div>
          <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped table-hover">
                  <thead>
                      <tr>
                        <% cols.each do |col| %>
                            <th><%= col %></th>
                          <% end %>
                      </tr>
                  </thead>
                  <tbody>
                    <% iterator.desc(:created_at).each do |d| %>
                      <tr>
                          <td><%= d.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                          <td><a href="/<%= path %>/<%= d.id %>"><%= d.title %></a></td>
                          <td><%= d.userApplicants.count %></td>
                          <td width="150"> 
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Opções</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/editOpenJob/<%= d.id %>"><i class="fa fa-pencil"></i> Editar</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>"><i class="fa fa-search"></i> Detalhes</a></li>
                                    <li><a href="/<%= path %>/<%= d.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow"><i class="fa fa-trash-o"></i> Remover</a></li>
                                </ul>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
                <br>
                <br>
                <br>
          </div>
      </div>
  </div>
  <br>
</div>
<script type="text/javascript">
    $(function() {
        $('#example1').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": false,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>
