<% path = "/user_applicants" %>
<%# @job = Job.all.last %>
<% iterator = @job %>
  <% remove_title = "Deseja remover este Candidato?" %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Pesquisa</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Site</label>
                    <a href="/openJobSub?job=<%= iterator.id %>" target="blank">https://mondialeapp.herokuapp.com/openJobSub?job=<%= iterator.id %></a>
                </div>
                <div class="form-group">
                    <label for="">Titulo</label>
                    <%= iterator.title %>
                </div>

                <div class="form-group">
                    <label for="">Descrição</label>
                    <%= iterator.desc %>
                </div>
                <% if current_user.isSuperAdmin? %>
                  <div class="form-group">
                      <label for="">Produtor(a) responsável</label>
                      <%= link_to iterator.user_producer.blank? ? "Nenhum produtor cadastrado" : iterator.user_producer.name, iterator.user_producer %>
                  </div>
                <% end %>
              </div>
              <div class="box-footer">
                <!-- "/editOpenJob/" + iterator.id -->
                <!-- edit_user_applicant_path(iterator) -->
                 <%= link_to 'Editar', "/editOpenJob/" + iterator.id ,:class => "btn btn-primary" %> |
                  <%= link_to "Todas pesquisas", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
</div>
<% foto =  @job.questions.where(:type => 2).first %>
<% if !foto.blank? %>
  <% cols = ["Foto", "Aplicado em", "Nome","Genero", "Data de nasc.", "Opções"] %>
<% else %>
  <% cols = ["Aplicado em", "Nome","Genero", "Data de nasc.", "Opções"] %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <form id="all_users" method="post" name="all_users">
        <!-- <div class="box-header" style="height: 40px;">
          <button id="btDelete" style="display: none;">Excluir</button>
        </div> -->
        <div class="box-body table-responsive">
          <button id="btDelete" class="btDelete" formaction="destroy_many" style="display: none;"><span>Excluir</span></button>
          <button id="btEmail" class="btEmail" formaction="send_email" style="display: none;"><span>E-mail</span></button>

          <div id="blankbk" class="formbkBlank" style="display: none;"></div>
          <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                  <th>
                    <% if @job.userApplicants.desc(:created_at).count > 0 %>
                      <input type="checkbox" id="chk_all" name="chk_all" value="td"/>
                    <% end %>
                  </th>
                  <% cols.each do |col| %>
                      <th><%= col %></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
              <% @job.userApplicants.each do |u| %>
                <tr>
                  <td><input type="checkbox" name="chk_user[]" value="<%= u.id %>"></td>
                  <% if !foto.blank? %>
                    <td>
                      <% if !u.pictures[0].blank? %>
                        <!-- <object data="<%#= u.pictures[0].file(:small).to_s %>" type="image/png"> -->
                          <img id="img_<%= u.id %>" src="<%= u.pictures[0].file.to_s %>" class="imgFoto" alt="<%= u.name %>" width="50">
                        <!-- </object> -->
                      <% end %>
                    </td> 
                  <% end %>
                  <td><%= u.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                  <td>
                    <a href="/publicPerfil?perfil=<%= u.id %>" target="blank" title="Ver perfil"><%= u.name %></a>
                  </td>
                  <td><%= u.gender.blank? ? "" : u.gender.gsub("1", "Masculino").gsub("2", "Feminino") %></td>
                  <td><%= u.birthday %></td>
                  <td style="padding: 0px 5px;" width="160">

                    <!-- BOTOES DE ACTION -->
                    <%#= seen_path(u.id) %>
                    <a id="seen_btn_<%= u.id.to_s %>" href="#" data-user="<%= u.id.to_s %>" class="seen_btn label <%= u.seen ? 'label-success': 'label-default' %>"> <%= u.seen ? ' Foi Visto ': 'Não Visto' %></a>

                    <a href="/editPublicPerfil?perfil=<%= u.id %>" target="blank" title="Editar perfil"><img src="/img/icon_edit.png" width="30"></a>

                    <a href="/publicPerfil?perfil=<%= u.id %>" target="blank" title="Ver perfil"><img src="/img/icon-search.png" width="30"></a>

                    <a href="/user_applicants/<%= u.id %>" data-confirm="<%= remove_title %>" data-method="delete" rel="nofollow" title="Excluir"><img src="/img/icon_x_red.png" width="30" /></a>

                   <!--  <a href="#" onclick="ShowHideForm('userFormHide_<%#= u.id %>')" title="Ver tudo"><img src="/img/icon-search.png" width="30" /></a> -->
                    <!-- <a href="http://api.html2pdfrocket.com/pdf?value=https://mondialeapp.herokuapp.com/publicPerfil?perfil=<%= u.id %>&apikey=f304ca31-bc9f-41cb-803a-89f19ac8f2b4" title="Download"><img src="/img/PDF-icon-small.png" width="20" /></a> -->
                    <!-- END BOTOES DE ACTION -->
                
                    <!-- POPUP -->
                  <div class="modal formLogin" id="userFormHide_<%= u.id %>" style="display: none;">
                    <div class="modalWrapper align-center">
                      <div class="close"><a onclick="ShowHideForm('userFormHide_<%= u.id %>')">×</a>
                      </div>
                      <p><a href="/publicPerfil?perfil=<%= u.id %>" target="blank">https://mondialeapp.herokuapp.com/publicPerfil?perfil=<%= u.id %></a></p>
                      <!-- <iframe  id="divId" src="/publicPerfil?perfil=<%= u.id %>" name="targetframe" allowTransparency="true" class="iframe-perfil" scrolling="yes" frameborder="0"  -->>
                      </iframe>

                    <!-- <p><a href="/publicPerfil?perfil=<%#= u.id %>" target="blank">https://mondialeapp.herokuapp.com/publicPerfil?perfil=<%#= u.id %></a></p>
                      <h2 class="title"><%#= u.name %></h2>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="align-center modal-form">
                            <div class="modal-form-wrapper">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="col-md-6">
                                    <p><%#= u.gender.blank? ? "" : u.gender.gsub("1", "Masculino").gsub("2", "Feminino") %></p>
                                    <p><%#= u.birthday %></p>
                                    <p><%#= u.city %>, <%#= u.state %>, <%#= u.country %></p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><%#= u.email %></p>
                                    <p><%#= u.phone %></p>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="col-md-12">
                                    <p><%#= u.desc %></p>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <%# questions0 = @job.questions.where(:type => 0) %>
                                <b><%#= questions0.count > 0 ? "PERGUNTAS" : "" %></b>
                                <br>
                                <%# questions0.each do |q| %>
                                  <small><%#= q.title %></small>
                                  <p style="font-style: italic;"><%#= q.answers.where(:user_applicant_id => u.id).first.content %></p>
                                <%# end %>
                              </div>
                              <div>
                                <%# questions1 = @job.questions.where(:type => 1) %>
                                <b><%#= questions1.count > 0 ? "LINK" : "" %></b>
                                <br>
                                <%# questions1.each do |q| %>
                                  <small><%#= q.title %></small>
                                  <p style="font-style: italic;"><%#= q.answers.where(:user_applicant_id => u.id).first.content %></p>
                                <%# end %>
                              </div>
                              <div>
                                <b><%#= u.pictures.count > 0 ? "FOTO" : "" %></b>
                                <br>
                                <%# u.pictures.each do |p| %>
                                  <img src="<%#= p.file.to_s %>" width="200">
                                <%# end %>
                              </div>
                              <div>
                                <b><%#= u.videos.count > 0 ? "VIDEO" : "" %></b>
                                <br>
                                <%# u.videos.each do |v| %>
                                  <video src="<%#= v.file.to_s %>" width="200">
                                <%# end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div> 

<script type="text/javascript">

  $(".seen_btn").on('click', function(e){
    // alert($(this).data("user"));
    e.preventDefault();

    if ($(this).hasClass("label-default")){
      $(this).attr('class', "label label-success");
      $(this).text('Foi Visto');
    }
    else{
      $(this).attr('class', "label label-default");
      $(this).text('Não Visto');
    }
    
    $.post('seen/' + $(this).data("user"), null, function (data) {
      console.log(data.seen)
    });
  });

  $('[name="chk_all"]').on('click', function(e){
    if(this.checked) {
          $(':checkbox').each(function() {
              this.checked = true;
              $("#btDelete").show();
              $("#btEmail").show();
          });
      }
      else {
        $(':checkbox').each(function() {
              this.checked = false;
              $("#btDelete").hide();
              $("#btEmail").hide();
          });
      }
  });

  $('[name="chk_user[]"]').on('click', function(e){
    if ($('[name="chk_user[]"]').is(':checked')){
      $("#chk_all").attr('checked', false);
    }
  });

  $(document).ready(function() {
    var $submit = $("#btDelete").hide(), $email = $("#btEmail").hide(),
        $cbs = $('input[name="chk_user[]"]').click(function() {
            $submit.toggle( $cbs.is(":checked") );
            $email.toggle( $cbs.is(":checked") );
        });
  }); 

  function ShowForm(path){
    document.getElementById('divId').style.display = 'block';
    $("#divId").load(path); 
  };

  $(function() {
      $('#example1').dataTable({
          "bPaginate": false,
          "bLengthChange": true,
          "bFilter": true,
          "bSort": false,
          "bInfo": true,
          "bAutoWidth": true
      });
  });

  function ShowHideForm(element){
    e = document.getElementById(element)
    if (e.style.display == 'none'){
      $("#blankbk").fadeIn("slow", function() {
        document.getElementById('blankbk').style.display = 'block';
      });
      $('#' + e.id).fadeIn("slow", function() {
        e.style.display = 'block';
      });
    }else {
      $("#blankbk").fadeIn("slow", function() {
        document.getElementById('blankbk').style.display = 'none';
      });
      $('#' + e.id).fadeIn("slow", function() {
        e.style.display = 'none';
      });
    }
  }

</script>

<style type="text/css">
  .iframe-perfil{
    width: 99% !important;
    height: 90% !important;
    position: absolute;
  }

  .formLogin{
    background-color: rgba(240, 240, 240, 1);
    width: 90%;
    height: 90%;
    /*overflow-y: scroll !important;*/
    overflow: hidden !important;
    margin: 2% 5%;
    border: 1px solid #000;
    padding: 5px 10px;
    box-shadow: 1px 1px 20px grey;
    z-index: 9999;
  }

  .formbkBlank{
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    position: fixed; 
    z-index: 9998;
    background-color: rgba(255, 255, 255, 0.85);
  }
  .btDelete {
  background-image: url(/img/icon_x_simple.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 15px;
  /* put the height and width of your image here */
  height: 15px;
  width: 15px;
  border: none;
  }
  
  .btDelete span, .btEmail span {
    display: none;
  }

  .btEmail {
  background-image: url(/img/icon_email.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 15px;
  /* put the height and width of your image here */
  height: 15px;
  width: 15px;
  border: none;
  }
</style>