<% path = "/appearances" %>
<% iterator = @appearance %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Característica</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Nome</label>
                    <%= iterator.name %>
                </div>
              </div>
              <div class="box-footer">
                 <%= link_to 'Novo', new_appearance_path,:class => "btn btn-primary" %> |
                 <%= link_to 'Editar', edit_appearance_path(iterator),:class => "btn btn-primary" %> |
                  <%= link_to "Todas características", path,:class => "btn btn-primary" %> 
              </div>
        </div>
    </div>
</div>
