<%= notice_helper %>

<%# if @password %>
<%= form_for(@user, :url => { :action => "update" } ) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Alterar Senha</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
				      <%= f.label "Senha atual" %> <i>(Precisamos da sua senha atual para alterá-la)</i><br />
				      <%= f.password_field :current_password %>
          </div>
          <div class="form-group">
						<%= f.label "Nova senha" %><br />
							<%= f.password_field :password, :autocomplete => "off"  %>
          </div>
          <div class="form-group">
					    <%= f.label "Confirme a nova senha" %><br />
						<%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="box-footer">
           <%= f.submit "Salvar", :class => "btn btn-primary" %>
        </div>
      </div> 
    </div>
  </div>
<% end %>