<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou uma alteração da sua senha na Mobile2you. Você pode fazer isso clicando no link abaixo:</p>
<p><a href="http://Mobile2you.com.br/usuarios/password/edit?reset_password_token=<%= @token %>"> Alterar Senha </a>


<p>Se não foi você, por favor, ignore este email.</p>
<p>Sua senha só será alterada após acessar o link acima.</p>

