<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @nationality %>
<% title = "Dados da Nacionalidade" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Nacionalidade<span style="color:red">*</span></label>
              <%= f.text_field :name, :placeholder => "Digite uma nacionalidade", :class => "form-control", :required => true %>
          </div>
          <div class="form-group">
            <label for="">Imagem</label>
            <%= f.file_field :file %>
            <br>
            <a href="<%= iterator.file.to_s %>" target="blank"> 
                <img src='<%= iterator.file.to_s %>' width='100px' height='100px' alt='<%= iterator.file.path %>'>
            </a>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas nacionalidades", nationalities_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>