<% path = "/nationalities" %>
<% iterator = @nationality %>

<p id="notice"><%= notice_helper %></p>
<div class="row">
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                  <h3 class="box-title">Dados da Nacionalidade</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Nacionalidade</label>
                    <%= iterator.name %> <%= image_tag iterator.file.url(:small) %>
                </div>
            </div>
            <div class="box-footer">
                <%= link_to 'Nova', new_nationality_path,:class => "btn btn-primary" %> |
                <%= link_to 'Editar', edit_nationality_path(iterator),:class => "btn btn-primary" %> |
                <%= link_to "Todas Nacionalidades", path,:class => "btn btn-primary" %> 
            </div>
        </div>
    </div>
</div>
