<style type="text/css">
.input-error {
  color :red;
}
</style>
<% iterator = @performance %>
<% title = "Dados da Atuação" %>

<%= form_for(iterator, :validate => true)  do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= title %></h3>
        </div>
        <div class="box-body">
          <!-- nome -->
          <div class="form-group">
              <label for="">Nome<span style="color:red">*</span></label>
              <%= f.text_field :name, :placeholder => "Digite o nome", :class => "form-control", :required => true %>
          </div>
        </div>
        <div class="box-footer">
          <%= f.submit "Salvar", :class => "btn btn-primary" %> 
          <%= link_to "Todas Atuações", performances_path,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>