<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mondiale | Painel de Controle</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%#= stylesheet_link_tag    "AdminLTE" %>
  <%= stylesheet_link_tag    "AdminLTE-2.4.2" %>
  <%= stylesheet_link_tag    "blue" %>
  <%= stylesheet_link_tag    "skin.min" %>
  <%= stylesheet_link_tag    "dataTables.bootstrap" %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />



  <%= javascript_include_tag "jQuery-2.1.3.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "jquery_ujs" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
    </head>



<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render partial: 'partials/app_ui/top-bar' %>

    <%= render partial: 'partials/app_ui/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style= "padding-bottom:200px;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
      <%= render "partials/app_ui/breadcrumbs" %>
      </section>

      <!-- Main content -->
      <section class="content" >
        <%= yield %>
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer" >
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        <span>Mondiale<b>Admin</b></span>
      </div>
      <!-- Default to the left -->
     Copyright &copy; 2018 Mobile2you. Todos os Direitos Reservados.
    </footer>

  </div><!-- ./wrapper -->


  <%= javascript_include_tag "icheck.min.js" %>
  <%= javascript_include_tag "jquery.datatable.js" %>
  <%= javascript_include_tag "dataTables.bootstrap.js" %>

</body>
</html>


