<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title>Mondiale | Agência de elenco</title>
	  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	  <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
	  <link href="/css/iziModal.min.css" rel="stylesheet" type="text/css" />
	  <link href="/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
	  <link href="/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
	  <link href="/css/selectize.css" rel="stylesheet" type="text/css" />
	  <link href="/css/style.css" rel="stylesheet" type="text/css" />

	</head>

	<body>
		<%#= render partial: "shared/menu" %>
		<%= yield %>
 
		<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	  	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/js/swiper.min.js"></script>
		<script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
		<script type="text/javascript" src="/js/iziModal.min.js"></script>
		<script type="text/javascript" src="/js/scrollreveal.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
		<script type="text/javascript" src="/js/jquery.mask.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>

		
		<%= javascript_include_tag "inputmask.js" %>
		<%= javascript_include_tag "maskMoney.js" %>
		<%= javascript_include_tag "inputmask_extensions.js" %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.js"></script>
	<!-- <script type="text/javascript" src="js/jquery-1.4.js"></script> -->
 <!--  <script type="text/javascript" src="./js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  <script type="text/javascript" src="./js/fancybox/jquery.fancybox-1.3.4.js"></script>
  <link rel="stylesheet" type="text/css" href="./js/fancybox/jquery.fancybox-1.3.4.css" media="screen" /> -->

	</body>
</html>


